[2022-02-15 19:13] OR13 commented on #219
I think we solved this.

[2022-02-15 19:15] OR13 commented on #192
We support this now, via Tags, however we should probably leave this open until we fix the folder structure issues, and are using tags properly.

[2022-02-15 19:19] OR13 commented on #235
![Screen Shot 2022-02-15 at 1 19 12 PM](https://user-images.githubusercontent.com/8295856/154133247-3da6c23f-b1f8-4c95-b4ca-a7286ea6292f.png)

cc @nissimsan

[2022-02-15 19:22] OR13 commented on #240
![Screen Shot 2022-02-15 at 1 22 45 PM](https://user-images.githubusercontent.com/8295856/154133773-52fed8d9-3bc3-48d9-8477-d2f1e42c7019.png)

Looks fixed.

[2022-02-15 19:22] #240 closed

[2022-02-15 19:23] OR13 opened #308 "Consignment Rating Details, itemized consignment items of IATA Air Waybill."
![Screen Shot 2022-02-15 at 1 23 46 PM](https://user-images.githubusercontent.com/8295856/154133944-5b1d202f-ac99-4aec-9a0f-8d73605781fb.png)

[2022-02-15 19:24] OR13 commented on #241
![Screen Shot 2022-02-15 at 1 24 10 PM](https://user-images.githubusercontent.com/8295856/154134005-734d7612-47ff-4729-9e55-3450b742c766.png)

Still needs to be fixed.

[2022-02-15 19:25] OR13 commented on #237
Still needs to be fixed.

[2022-02-15 19:26] OR13 commented on #244
Still needs to be done, see this dup as well https://github.com/w3c-ccg/traceability-vocab/issues/307

[2022-02-15 19:27] OR13 commented on #245
See https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/traceability-schemas/services/contexts.js#L3

[2022-02-15 19:28] OR13 commented on #246
This has been fixed, thanks to that PR being merged.

[2022-02-15 19:28] #246 closed

[2022-02-15 19:29] OR13 commented on #243
How do we move this along?

[2022-02-21 08:53] nissimsan commented on #178
I have nothing to report on this except passing of time. I did pass along the idea of adding `@context` (Nov 3rd 2021) but haven't heard anything more back from the process.
Jeremy Wise did mention that a program is under way to "update the HTS DMS over the next year", and our feedback has been injected into this process. I'll ask for a status update. Meanwhile let's keep this ticket open to track

[2022-02-21 13:28] nissimsan opened #309 "References"
Hi folks,
How do I make references like the single one we have listed here?
https://w3c-ccg.github.io/traceability-vocab/#informative-references

[2022-02-21 20:38] nissimsan commented on #235
Sure, I can take a look at this when I get some bandwidth. Can't we just copy the example from the revocation spec? ... Which logically leads to the point: why repeat what's in the revocation spec? I'm leaning towards removal...

[2022-02-21 20:39] nissimsan commented on #241
Yes, I was holding off until there was better tooling in place. I have the example data already (the hard part) - it's just a matter of turning it into a VC now.

[2022-02-21 20:46] nissimsan commented on #243
@mkhraisha, SCAC is a common identifier for carriers (incl land-based). This isn't a hill I'm ready to die on, but I think it would be wrong to remove it. Optional, for sure (which it is) - might that be the compromize? :)

[2022-02-21 21:44] mkhraisha commented on #243
optional is fine by me.

[2022-02-23 10:42] nissimsan opened #311 "DEVELOPMENT.md#ontology-structure should be changed to YAML example"
This still shows our earlier JSON ways:
https://github.com/w3c-ccg/traceability-vocab/blob/main/DEVELOPMENT.md#ontology-structure

[2022-02-23 11:11] nissimsan opened #312 "QuantitativeValue.value should be a type:number, not type:string"
Value being a string seems wrong:
[code]

[2022-02-24 10:08] nissimsan opened #313 "Start versioning"
https://w3c-ccg.github.io/traceability-vocab/
**Traceability Vocabulary v0.0** feels immature. We may have a long way to go still, but surely we're beyond v0.0. Can we start the counter somehow? Or at the very least just manually bump it to v0.1.

[2022-03-03 12:03] nissimsan opened #324 "Data modeling convensions"
I would appreciate if we can agree to some data modelling conventions. Primarily whether we should discourage/disallow elements at root level outside of the VC data elements (credentialSubject, issuer, etc)?

1. One convention might be"any XxxCertification must always have a corresponding Xxx class which defines its credentialSubject, and all data elements should be included there. An example of t

[2022-03-03 12:04] nissimsan commented on #324
@mkhraisha, this is what we discussed last Tuesday.

[2022-03-03 12:07] nissimsan commented on #324
Somewhat philosophically, this is also a question of whether the VC _is_ the document, or rather if it is some layer _on top of_ the document.

I personally find it abstract to wrap my head around what a BillOfLading is, if it isn't the BillOfLadingCertificate. I have nothing to relate it to.

[2022-03-04 12:19] nissimsan opened #327 "How can I add citations?"
Can anyone tell me how to add citations, pls? Both referencing from schema descriptions and also from https://w3c-ccg.github.io/traceability-vocab/ ?

[2022-03-04 15:42] TallTed commented on #327
This is a [ReSpec thing](https://respec.org/docs/#references).

It seems likely you'll need to [ask Specref to add the external docs](https://respec.org/docs/#adding-missing-references).

[2022-03-07 18:27] mkhraisha commented on #324
I believe 1. makes the most sense to me. It helps keep the "VC stuff" separate from the "business stuff" and makes it much easier for me to reason about.

I think this doesn't make sense as a restriction, as sometimes a Certificate is an amalgamation of multiple smaller types, like an organization, a product etc.

[2022-03-08 13:12] nissimsan commented on #324
I think I missed a 4th option. Same as 1., the XxxCertificate always only targets dedicated schemas for `credentialSubject` and `issuer`, nothing else "floating around". But without the strict name binding (`XxxCertificate.credentialSubjest: {type: Xxx}`).

Continuing with the BillOfLading example is a perfect candidate: a VC about a Consignment ([UN/CEFACT](https://service.unece.org/trade/uncefac

[2022-03-08 19:01] mkhraisha opened #336 "PurchaseOrder and Purchase should be linked"
Purchase references a purchaseOrder field, which is defined as an identifier. It should be updated to either be:
* purchaseOrderID
or
* reference the PurchaseOrder Schema

#323 Purchase order was added to

[2022-03-08 19:08] BenjaminMoe commented on #336
Okay, I see what you mean here. Because the term is overlapping, we need to be very specific about what the relationship is. In my experience a purchase will refer back to the id of a purchase order, so `purchaseOrderID` as an array of strings.

[2022-03-08 19:21] nissimsan opened #337 "Add `openapi.yml` to gitignore"
To avoid it causing further merge conflicts

[2022-03-09 04:49] HritikR commented on #337
Hi @nissimsan, Can you please assign this to me?

[2022-03-09 09:11] nissimsan commented on #337
For sure, @HritikR.
While you're at it, please gitignore `packages/traceability-schemas/data/credentials` and `packages/traceability-schemas/data/credential.verifiable.json` too.
Thanks!

[2022-03-09 14:50] TallTed commented on #336
Just as a Purchase Order may be issued without a Purchase taking place (as with the late delivery described in #323), a Purchase may take place without a Purchase Order (such as when a staff member makes an immediate Purchase through a cash register and expenses it later).  So, while Purchase and Purchase Order should have fields that allow for cross reference, both directions should be optional.

[2022-03-12 17:13] OR13 opened #344 "Undefined terms need an optional default expansion (e.g., via `@vocab` in second `@context`)"
[code]

should look like:

[code]

or something more readable.

[2022-03-15 17:59] #337 closed

[2022-03-15 18:25] OR13 commented on #324
See https://github.com/w3c-ccg/traceability-vocab/blob/gh-pages/contexts/traceability-v1.jsonld#L7

The current context has a number of "top level properties".

[code]

EVERY verifiable credential can have this term in its top level verifiable credential.

For example:

[code]

[2022-03-18 14:25] BenjaminMoe commented on #336
I think this has been addressed with PR #345. Closing and can be re-opened if needed.

[2022-03-18 14:25] #336 closed

[2022-03-18 14:27] BenjaminMoe commented on #313
![Screenshot 2022-03-18 at 23-24-11 Traceability Vocabulary v0 0](https://user-images.githubusercontent.com/86194145/159021129-d89deb00-b0d1-47ae-9042-8c05b7c08111.png)

I agree, and find the label of **v0.0** confusing. Set value from CI. Ex: **CI: bumps version to v1.13.0 **

[2022-03-18 14:39] BenjaminMoe opened #350 "Steel Import Workflow is missing links to credentials in description"
https://w3c-ccg.github.io/traceability-vocab/#sample-steel-workflow

Text provided for Steel Import workflow.  Should provide links to Credentials schemas for documents described.

[2022-03-18 15:10] BenjaminMoe opened #351 "Sample E-Commerce workflow missing links to credentials in description"
https://w3c-ccg.github.io/traceability-vocab/#sample-e-commerce-workflow

![Screenshot 2022-10-24 8 59 52 PM](https://user-images.githubusercontent.com/86194145/197520853-003b0b35-d681-49be-96f4-18c61bbf880d.png)

Text provided for sample ecommerce workflow. Should provide links to Credentials schemas for documents described.

[2022-03-21 16:11] OR13 opened #353 "Add Example to JWS Test Suite."
https://github.com/decentralized-identity/JWS-Test-Suite/issues/18

[2022-03-22 15:33] BenjaminMoe opened #356 "Package and Tradeline Item have Circular Dependency"
`TradeLineItem` and `Package` both references each other as a dependency.

https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/Package.yml#L45
https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/TradeLineItem.yml#L43

[2022-03-22 16:37] BenjaminMoe opened #357 "Move contents of `descriptions.json` into schema description"
Related to https://github.com/w3c-ccg/traceability-vocab/pull/352. Reference images for documents have been included in `descriptions.json` file. This is a stop-gap for re-organizing the documentation. The reference images for specific document should be moved to their respective `yml` files in a future PR.

[2022-03-22 17:37] BenjaminMoe opened #358 "Fix schema syntax errors in Credentials"
From: https://github.com/w3c-ccg/traceability-vocab/pull/355

[2022-03-24 10:15] nissimsan commented on #357
@BenjaminMoe , great that you've moved this conversation to a dedicated issue.

@OR13 , [ref the discussion on the initial PR](https://github.com/w3c-ccg/traceability-vocab/pull/352#issuecomment-1075333821), I understand that we can add pictures on the .yml files. But I don't think we should.

[2022-03-24 14:58] OR13 commented on #357
@nissimsan do you agree to abide by OAS 3 and treat descriptions as markdown? or are you saying we should profile down from OAS 3 and forbid markdown in descriptions?

[2022-03-25 19:02] OR13 commented on #357
https://swagger.io/specification/

[2022-03-28 10:14] nissimsan commented on #357
+1

[2022-03-28 14:42] BenjaminMoe commented on #357
Changed the title as my updated PR document use the same json work around, in favor of moving supporting docs to their own section. https://github.com/w3c-ccg/traceability-vocab/pull/364/files

[2022-03-29 17:44] BenjaminMoe opened #365 "Update CD to include build process"
Right now the CD does not update the respec document. CD should be updated to call build.

[2022-03-29 17:48] mkhraisha opened #366 "Workflow example to demonstrate Events"
https://github.com/w3c-ccg/traceability-vocab/pull/361#pullrequestreview-922869236

We should have an example for how this event would be used and how it can relate to other documents such as BOL etc.

[2022-03-29 18:29] OR13 commented on #113
@BenjaminMoe can you take a stab at this.

[2022-03-29 18:29] BenjaminMoe commented on #113
Yep! On it!

[2022-04-05 17:55] #356 closed

[2022-04-05 18:10] BenjaminMoe opened #369 "Ecommerce Files using reserved word `Credential` without declaring a VC"
In our domain model, we have come to the understanding that the term `Credential` should be associated with Verifiable Credentials. When removing the Ecommerce prefix schemas, I noticed that there are several schemas using the `Credenial` keyword without signing a proof.

- AdditionalProductCodeRegistrationCredential
- BindingDataRegistrationCredential
- InvoiceRegistrationCredential
- InvoiceRegi

[2022-04-05 18:41] nissimsan opened #370 "Map Events to EPCIS definitions"
The Event types of https://github.com/w3c-ccg/traceability-vocab/pull/362 etc seem to reflect EPCIS. Might we map to their terms directly?
https://github.com/gs1/EPCIS/blob/84d89c56dadab374f1da2c7beaeae3911ed79015/JSON-Schema/EPCIS-Event-JSON-Schema.json

[2022-04-05 18:51] TallTed commented on #369
Un-verifiable Credentials do exist, and are commonly referred to as `Credentials`.

I wonder whether we shouldn't change our existing instances of `Credential` where we mean `Verifiable Credential` to explicitly *say* `Verifiable Credential` (or maybe `VC`), and leave these `Credentials` as they are?

[2022-04-12 16:15] mkhraisha opened #374 "Evidence, Related Links, Related Documents and Hashlinks what should we use?"
This issue is meant as a continuation of the thread on the mailing list with the goal of attempting to find a solution that we can standardize around in this vocabulary.

# The Issue:
How do we reference a supply chain credential from another credential?
To illustrate the use case consider a Transportation Event Credential that represents a Transportation Event that a Product underwent, and has an

[2022-04-16 15:02] OR13 opened #379 "Define a max size limit for JSON-LD VCs"
There must be some recommendation we would make on this front.

[2022-04-19 03:46] BenjaminMoe commented on #369
In this case the use of terminology seems to be off. For example there's `ProductRegistrationCredential` which only has the following content:

[code]

The term `Credential` or `Certificate` generally implies an assertion. And I would expect to see an `issuer`, `credentialSubject` and `proof`. The above JSON is a `ProductRegistration`. A `ProductRegistrationCredential` would be a VC issued by some

[2022-04-19 04:22] BenjaminMoe commented on #358
Update for schemas that need to be fixed to appear in openapi:

- CrudeOilProduct
- ImmediateDelivery
- ImmediateDeliveryCertificate
- ImmediateDeliveryLineItem
- InvoiceRegistrationEvidenceDocument
- MultiModalBillOfLadingCertificate
- NaturalGasProduct
- OrderRegistrationCredential
- OrderRegistrationEvidenceDocument
- PGAStatusMessageCertificate
- PackageItem
- PackageRegistrationCredential
- P

[2022-04-19 14:19] TallTed commented on #358
If I understand the point of [this list](https://github.com/w3c-ccg/traceability-vocab/issues/358#issuecomment-1101984403) correctly, perhaps it should be switched from bullets to checkboxes?

[2022-04-19 17:47] OR13 opened #384 "Define how to use folder structure to apply OAS tags."

[2022-04-20 11:38] nissimsan opened #385 "EPCIS traceability alignment"
@mgh128, I just got a link to your white paper from Phil:
https://gs1.github.io/EndToEndTraceability/GS1-WhitePaper-VerifiableCredentials-EPCIS-end-to-end-traceability.pdf
Some of the terms seem very similar to event types which we recently added to this repo: [TransformEvent](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/TransformEvent.yml), [Trans

[2022-04-20 12:23] mgh128 commented on #385
Hi @nissimsan
Thanks for the interest.  The GS1 EPCIS standard ( http://gs1.org/epcis ) was first ratified and published in 2007 and currently (as of v1.2) supports four event types:

- ObjectEvent
- AggregationEvent
- TransactionEvent
- TransformationEvent

v2.0 (the result of almost four years of major modernisation efforts, including the addition of JSON/JSON-LD data format, REST / OpenAPI inte

[2022-04-21 13:39] mprorock opened #389 "Please add a form for SC-237A"
@rhofvendahl Need a credential for for [SC-237A](https://www.ams.usda.gov/resources/sc237a)

[2022-04-21 13:45] mprorock opened #390 "Need some specific GAP VCs"
@rhofvendahl
Need credentials for the following:

[Harmonized GAP Checklist](https://www.ams.usda.gov/sites/default/files/media/HarmonizedGAPsChecklist5.pdf)
[Harmonized GAP Plus Checklist](https://www.ams.usda.gov/sites/default/files/media/HarmonizedGAPsPlusChecklist3.pdf)

and related:
[Food Defense System Survey](https://www.ams.usda.gov/sites/default/files/media/Food%20Defense%20System%20Surve

[2022-04-23 15:16] BenjaminMoe commented on #358
Updated to checkboxes.

[2022-04-24 19:28] OR13 opened #393 "Follow up on qudt"
https://github.com/OR13/OR13/issues/1
https://github.com/qudt/qudt-public-repo/issues/247

cc @nissimsan can you take this one over?

[2022-04-26 20:44] BenjaminMoe opened #395 "Address json-ld process issues with `oneOf` schema optionality"
## Description of Problem

### `oneOf` is poorly supported by OAS / JSON Schema processors

For example, this is what renders in JSON Schema form when you use oneOf:

![Screen Shot 2022-04-27 at 11 52 36 AM](https://user-images.githubusercontent.com/8295856/165579403-294d696e-633f-41cb-91fc-dc5c64fc02f2.png)

###  `oneOf` is not supported by the JSON-LD context builder

For example, this is the cu

[2022-04-26 22:10] OR13 commented on #395
2 and 3 seem orthogonal to the main issue...

https://github.com/w3c-ccg/traceability-vocab/blob/4b17ce330bb6c804ef491d93e42c6a1f79584bec/docs/openapi/components/schemas/common/DCSAShippingInstruction.yml

[example](https://v.jsld.org/42Xv3ai3F8LeJaWu7mQnaGfvNJJXwE2UBtfgpo3EKjQuTrubCqzykxuwhEtfuXXZ772ZCmMoEtF2Ysn6PAjKzZKgRPo3VxrMKqJK7oYd2vLZ2VoPfUS7CEwBKLzKCQESTK7tWv6xhtRAMtY7F5UoivSo3kCvzMTgMdFmi

[2022-04-26 22:19] OR13 commented on #395
In practice we don't actually use "Entity" for any useful semantics... because it doesn't actually define any:

https://github.com/w3c-ccg/traceability-vocab/blob/4b17ce330bb6c804ef491d93e42c6a1f79584bec/docs/openapi/components/schemas/common/Entity.yml

https://github.com/w3c-ccg/traceability-vocab/blob/gh-pages/contexts/traceability-v1.jsonld#L709

[code]

All of the semantics are coming from "P

[2022-04-26 22:57] TallTed commented on #395
Re: "`oneOf` is not supported by _our_ JSON-LD processor" (https://github.com/w3c-ccg/traceability-vocab/issues/395#issue-1216458166) -- "our" should be replaced by a comprehensible identifier of the entity/ies whose JSON-LD processor does not support `oneOf`. This is necessary because, for instance, neither I nor my employer have participated in joint production of a JSON-LD processor, so it is n

[2022-04-27 17:39] OR13 commented on #395
Another alternative solution would be to remove any $ref that yielded a descendent that contained oneOf from all the certificate types we (Transmute) support.

This would not impact any of the other certificate types, and would resolve the broken behavior we are currently observing when handling the schemas in this repo, but only for "steel or e-commerce" certificates... which seems unhelpful. to

[2022-04-27 18:02] BenjaminMoe commented on #395
@OR13 I was thinking as I wrote that I shouldn't use the PR page for issue discussion.

My intended implementation of this would be merge `Organization` and `Person` into a new `Entity.yml` which would replace the existing `oneOf Entity.yml`. And then go back and re-generate all of the proofs.

[code]

The intended reason for including all of these optional fields is it means that no change would

[2022-04-27 18:53] OR13 commented on #395
I don't think we want this many optional fields in Entity... @mprorock has indicated that there is likely a minimal set of required fields that would meet the regulatory guidelines... I would like them encoded in a schema that marked them as required... and to avoid copy pasting `$ref: './Entity.yml'` all over the place, because it probably does not yield the kind of data a verifier / regulator wo

[2022-04-27 19:04] BenjaminMoe commented on #395
`Entity` is used in [Verifiable Business Card](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/VerifiableBusinessCard.yml#L31). I think we need the minimum requirements for defining an organization.

[code]

[2022-04-27 19:47] mprorock commented on #395
Really close - TIN will be optional in many cases or will be PII.

We will also want to have explicit (optional?) fields for address/place, phone, and email, and likely a DID (though in our case the DID would be the id value)

Then the additionalProperties will take care of the rest

Pinging others to make sure i am not missing something critical for defining a Person or a Business
@rhofvendahl @b

[2022-04-27 19:51] BenjaminMoe commented on #395
Sounds like

[code]

[2022-05-03 16:18] BenjaminMoe commented on #395
Got into this a little bit, and I think I understand part of the problem. The `Entity` type is not structured in a JSON-LD friendly way.

[code]

In this case all Entity is doing is passing through to `Person`, or `Organization`, and I don't think that JSON-LD supports this behavior on a fundamental level. We would need something closer to  the following.

[code]

In order to have an `Entity` node

[2022-05-03 16:21] mkhraisha opened #399 "Build context as a github/npm package"
we should bundle the traceability context into an easy-to-use NPM package so that organizations can reference that package rather than dynamically fetching the context.

This allows companies to use the same package, and to use normal semantic versioning to protect different environments.

[2022-05-03 16:59] mkhraisha commented on #395
There looks like there's a number of other `oneOf` not just  in `Entity`, even if we flatten just entity we'll need to flatten the rest too no?

Also is this also an issue for Array vs String one of?

[2022-05-03 17:08] BenjaminMoe commented on #395
I don't think it's an issue for array vs string for `oneOf`. So far it seems to be specific to the way `Entity.yml` was implemented as a pass-through without defining it's own node.

[2022-05-06 14:28] mkhraisha commented on #379
this should go to trace interop no?

[2022-05-10 17:59] #248 closed

[2022-05-10 18:01] nissimsan commented on #115
@mkhraisha, this seems completely stale. We're closing the issue, please re-open if needed.

[2022-05-10 18:01] #115 closed

[2022-05-10 18:03] nissimsan commented on #24
We should aim for more EPCIS, less schema.org. Keeping this open, needs effort.

[2022-05-10 18:06] #255 closed

[2022-05-10 18:06] nissimsan commented on #263
This is done. Thanks @OR13

[2022-05-10 18:06] #263 closed

[2022-05-10 18:08] nissimsan commented on #267
Still pending.

[2022-05-10 18:14] OR13 commented on #268
https://www.w3.org/TR/cooluris/

Let's make a concrete proposal, or close this issue.

[2022-05-10 18:15] OR13 commented on #271
TODO: find a better IRI for Purchase... or define it here.

[2022-05-10 18:17] nissimsan commented on #271
@VladimirAlexiev , this is defined by us, not schema.org.
https://github.com/w3c-ccg/traceability-vocab/issues/271
Closing.

[2022-05-10 18:18] OR13 commented on #272
I think we have not defined anything regarding LEI correctly. And we should, but I am not sure we have the attendance or expertise needed to fix this.

[2022-05-10 18:22] OR13 commented on #157
I suggest we switch from PostalAddress to Place, and add some tests for sparql perhapse.

[2022-05-10 18:24] TallTed commented on #274
@VladimirAlexiev -- Maybe tag Pete via github handle?

[2022-05-10 18:24] nissimsan commented on #274
@VladimirAlexiev, can we ask you to spell out precisely what needs to be done to resolve this? What would a PR look like which fixes this?

[2022-05-10 18:26] nissimsan commented on #276
@VladimirAlexiev, the TOC structure has been updated since you raised this. Not exactly to your specification here, but we think much improved. Would you mind taking a look and see if it addresses you request?

[2022-05-10 18:26] OR13 commented on #276
I think we are leaning towards using OAS 3 tags and folder structure to split the certificate types from the regular JSON-LD... and then group by industry tags as well. I think this may be tracked on another issue.

[2022-05-10 21:15] mgh128 commented on #24
Our draft EPCIS v2.0 examples and schema in JSON/JSON-LD at https://github.com/gs1/EPCIS/ should be fairly stable and GS1 is still hoping to publish the ratified version of EPCIS/CBV 2.0 this quarter, if all goes according to plan.  EPCIS/CBV probably has plenty of what you need if the focus is on representing event data of activities within supply chains, even though it generally has much less fo

[2022-05-11 07:12] nissimsan commented on #24
@mgh128, thanks for your patience.  :)  Would you be willing to spend an hour with me when the v2.0 dust has settled, and I'd be happy to take lead in giving our epcis schemas another swing? Around early July'ish?

[2022-05-13 15:52] OR13 opened #406 "Apply FIBO to Trade Finance related VCs"
https://spec.edmcouncil.org/fibo/

1. What credential types might benefit from FIBO?

2.  What terms does FIBO define that might be useful to existing credentials?

[2022-05-16 13:29] BenjaminMoe commented on #358
I think this issue can be closed. We should continue refine and fix syntax errors as we find them, but the original purpose for this issue has been concluded.

[2022-05-16 13:29] #358 closed

[2022-05-19 14:58] mprorock opened #410 "Ag Examples should be updated with better data"
@rhofvendahl can you update all ag examples so that measurements are correct for ag and so that all example data makes sense.  Also please coordinate with me on explicit VC examples such as PPQ203 etc that are just in vocab now and should be in the "Credentials" section

[2022-05-23 19:41] nissimsan opened #411 "`TraceabilityAPI` type needs to be defined on vocab"
We use TraceabilityAPI for discovery, but haven't defined it.

[2022-05-24 18:12] OR13 commented on #239
The link to the schema is 404, still needs to be fixed: https://w3c-ccg.github.io/traceability-vocab/#USMCAProductSpecifier

[2022-05-24 18:13] OR13 commented on #242
we did it.

[2022-05-24 18:13] #242 closed

[2022-05-24 18:14] OR13 commented on #281
@nissimsan @BenjaminMoe please comment.

[2022-05-24 18:15] nissimsan commented on #281
@mprorock , @brownoxford , this seems to be one of "yours"?

[2022-05-24 18:15] OR13 commented on #273
@nissimsan @BenjaminMoe please comment.

[2022-05-24 18:16] OR13 commented on #213
We did it.

[2022-05-24 18:16] #213 closed

[2022-05-24 18:18] BenjaminMoe commented on #230
I don't disagree with the general statement being put forward. but this issue should be updated with specific change requests or closed.

[2022-05-24 18:20] OR13 commented on #280
@nissimsan @BenjaminMoe can you propose some concrete action regarding this?

[2022-05-24 18:21] nissimsan commented on #280
This reminds me of XML vs XML-RDF.

[2022-05-24 18:22] OR13 commented on #287
We should list ontologies better, I agree. I think this is ready for PR.

[2022-05-24 18:23] OR13 commented on #275
I suggest closing this issue, unless concrete changes are suggested and agreed to.

[2022-05-24 18:24] OR13 commented on #286
@nissimsan @BenjaminMoe please respond.

[2022-05-24 18:27] OR13 commented on #284
@nissimsan @BenjaminMoe please propose concrete changes.

[2022-05-24 18:29] nissimsan commented on #284
I think we might have more of an ontology than I was aware of... This should be described better.

[2022-05-24 18:29] OR13 commented on #270
@nissimsan @BenjaminMoe I suggest we inventory all credential of interest for us, and start working to eliminate these mistakes.

[2022-05-25 21:41] fkim7 commented on #406
It would be great to get FIBO VCs related to
1. Customer bank card/account and details about the customer some ex
https://spec.edmcouncil.org/fibo/ontology/FBC/ProductsAndServices/ClientsAndAccounts/CustomerAccount
https://pending.schema.org/BankAccount
2. Financial Institution and its details
https://spec.edmcouncil.org/fibo/ontology/BE/LegalEntities/LegalPersons/

There may be better examples, b

[2022-05-30 09:13] nissimsan commented on #230
This ticket was created to capture and resolve a discussion on a call a while back.

We generally strive to choose the most generic term definitions. For example, we choose to use schema.org's `Address`, and not CEFACT's `Address`, because we assert that 1) they are meant to define the same thing, and 2) schema.org is more broadly used term and thereby the better choice from an interoperability pe

[2022-06-01 20:08] #410 closed

[2022-06-03 07:37] nissimsan opened #416 "`Certificate` postfix presents a barrier to adoption"
Look, I get there a technical convention we're aligning to. But the main audience for our schemas is business folks which neither should, nor do, care about such conventions. They rather seem confused about it, and I find myself explaining "that's just a technical naming convention" every single time I introduce the trace-vocab.

If I can convince the rest of you, there's a secondary issue about n

[2022-06-03 08:31] BenjaminMoe commented on #416
There's a pragmatic aspect that isn't being addressed by this. The reason for the `Certificate` postfix is to differentiate from the `credentialSubject`. We have a `BillofLading` JSON object representation, and then we have a `BillofLadingCertificate` which is a Verifiable Credential with an issuer and a proof around a `BillOfLading`. With respect to JSON-LD and the RDF representation we can't use

[2022-06-03 13:19] OR13 commented on #416
- https://json-ld.org/spec/latest/json-ld/#specifying-the-type
- https://www.w3.org/TR/vc-data-model/#types

`credentialSubject.type` -> the type, or class of a subject.

`vc.type` -> the type or class of a verifiable credential, certificate, signed document.

If we follow a convention for defining types of certificates, I would expect to see some repetition, either `Credential` or `Certificate`.

[2022-06-06 09:53] nissimsan commented on #416
@BenjaminMoe, I'm explicitly calling out that there are practical naming consideration and try to avoid jumping straight to solutioning. The "issue is not too broad" if we avoid bloating it up.
All I'm saying is: "xxxCertificate" isn't working for me. Is anyone else having problems explaining this?

Also: I'm not advocating against sticking to a strong naming convention. But our _current_ naming

[2022-06-07 08:09] BenjaminMoe commented on #272
@VladimirAlexiev I made a draft pull request to start using LEI ontology with our Entity schema. Can you provide suggestions for which terms could use `$linkedData` mapping from LEI?

[2022-06-07 12:45] VladimirAlexiev commented on #272
Hi @BenjaminMoe! You've mapped to class `gleif-L1:LegalEntity`: that's a start but it's not enough.
- Can you make a list of all classes and props of these 6 schemas? As a comment below. Then I'll try to map them to LEI terms.
- There are also some semantic decisions to make, eg
  - should we use `gleif-L1:legalName` or `schema:name`?
  - if the former, should we declare `gleif-L1:legalName` a sub

[2022-06-07 12:49] VladimirAlexiev commented on #285
@OR13 Not sure what you mean.
Do you mean your schemas could grow so large and diverse that two different people would want to use prefix `uncl1153:` with two different meanings??

[2022-06-07 16:23] OR13 opened #423 "Implement a link builder plugin for address to google maps"
Allow for easily getting GPS coordinate from examples

[2022-06-07 17:44] BenjaminMoe opened #425 "Replace Postal Address with Place"
We have Postal Address as well as Place. Place is a super set which can contain a Postal Address as well as Geo-coordinates. Instead of having two similar schemas with similar functionality, should we replace instances of Postal Address with Place.

[2022-06-07 19:14] BenjaminMoe commented on #425
Making sure I don't make the title too broad, I think this was specifically brought up with respect to Organization. Right now we have both `place` and `location`, so should we favor use of `location` if it allows for a Postal Address to be declared?

[2022-06-07 20:47] OR13 commented on #423
yes, thats part of why I wanted to write this, and easy way to sanity test the fake addresses we are using.

[2022-06-07 20:53] TallTed opened #427 "All examples should use valid postal codes and valid area codes for real towns, with fake street addresses and local phone numers"
I believe I've supplied sufficient detail on individual cases for the general rules to be clear (e.g., `555-01xx` local numbers within North America; other regions will have other reserved local ranges), but let me know if not.

[2022-06-10 07:49] nissimsan opened #430 "CI is broken"
https://github.com/w3c-ccg/traceability-vocab/runs/6826993170?check_suite_focus=true

[2022-06-10 07:53] nissimsan commented on #430
[code]

[2022-06-10 07:54] nissimsan commented on #430
^ Works locally, but fails on CI

[2022-06-14 08:47] BenjaminMoe commented on #272
I'm guessing you mean the six schemas with the `LEI` prefix. Here they are, with their properties listed as bullets.

1. [LEIaddress.yml](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/LEIaddress.yml)
    - language
    - addressLines
    - addressNumber
    - addressNumberWithinBuilding
    - mailRouting
    - city
    - region
    - country
    - p

[2022-06-14 11:22] BenjaminMoe commented on #430
This was addressed by @mkhraisha in https://github.com/w3c-ccg/traceability-vocab/pull/431. Closing.

[2022-06-14 11:22] #430 closed

[2022-06-14 16:18] mkhraisha opened #443 "Add vocab visualizations to CD"
#426 updates the visuals, would be a good idea to have these re-created on CD

[2022-06-14 18:16] mkhraisha opened #444 "Getting Started updates"
We do not have documentation that would allow a new person to the Repo to know what they need to do to:
1. Modify an existing Schema
2. Add a new Schema

[2022-06-14 18:27] BenjaminMoe opened #445 "Make all type array of string(s)"
Allowing for the option of string versus array at the top of each schema introduces a huge block of syntax that is not well understood for functionality that is not really needed. Should we drop strings from type in favor of using only arrays for simplicity?

[2022-06-21 10:10] nissimsan opened #451 "Address `npm run test` warnings"
We have a lot - A LOT! - of warnings generated when running test. I think step one here is to just go through it all and spawn issues on what needs to be done to address them.

We want `npm run test` to complete without warnings.

Here's a sample (the actual list of warnings exceeded 65k chars.):

[code]

[2022-06-21 17:23] TallTed commented on #451
Might be better to put the warnings in a gist or similar external location, linked to from here, rather than putting such a giant text block (which might then repeat partially or completely after PR(s) get(s) applied)...

[2022-06-21 17:57] #216 closed

[2022-06-21 17:58] #295 closed

[2022-06-21 18:06] nissimsan commented on #300
We still haven't solved these requirements - this is a great suggestion.
Request for volunteers to pick this up.

[2022-06-21 18:07] OR13 commented on #277
-1 to complex inheritance... we should strive for simple JSON Schema types as RDF Classes.

[2022-06-21 18:15] BenjaminMoe commented on #206
- Reorganization schemas should be done.
- Update names have been updated to use schema names

Looks like we need to update the top-level readme for directory structure.

[2022-06-21 18:15] nissimsan commented on #206
Closing, @OR13 will move remaning work to separate ticket.

[2022-06-21 18:16] OR13 commented on #307
Please fix ASAP.

[2022-06-21 18:16] nissimsan commented on #307
We definitely need to update this!

[2022-06-21 18:18] OR13 commented on #160
@nissimsan please address this issue in the same PR you use to address #307.

[2022-06-21 18:20] #155 closed

[2022-06-21 18:26] nissimsan commented on #152
Sounds interesting...

[2022-06-23 18:36] OR13 opened #455 "Update Traceable Presentation Example"
https://w3c-ccg.github.io/traceability-vocab/#TraceablePresentation

^ include an example, where the holder is an object or type organization with an address.

[2022-06-24 07:57] nissimsan commented on #416
Noticing now, the example presentation also has two proofs.

[2022-06-24 11:49] nissimsan commented on #455
Noticing now, the example presentation also has two proofs.

[2022-06-28 13:10] BenjaminMoe opened #460 "121 of 152 of our examples fail schema validation"
There is a test for making sure the examples provided in each schema pass schema validation in located here: https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/traceability-schemas/__tests__/schemas-sanity.test.js#L36.

Running it shows that 121 out of 152 schemas do not pass schema validation.

1. Each one of these needs to be addressed such that the example passes schema validation

[2022-06-28 14:30] TallTed commented on #460
Typo in title makes it confusing -- "121 or 153" should be "121 of 153"...

[2022-06-30 19:05] OR13 opened #461 "Representing Raw Materials"
In the context of steel and other metals, the smelting manufacturing process can be a function of either raw ore or scrap metal

We propose to define the raw material inputs in greater detail (example):

[code]

[2022-07-05 13:51] BenjaminMoe opened #462 "Generate a tree style visualization for each credential and render that next to the credential"
I wrote this script to track down where `Place` or `PostalAddress` was being used for https://github.com/w3c-ccg/traceability-vocab/issues/425. This script takes a path for a schema, and then traces through all of the child dependencies until it reaches a node with no children, or otherwise stop on `Place` or `Postal Address`.

These graphs should probably be generated to help visualized schemas,

[2022-07-05 13:55] BenjaminMoe commented on #462
Cross link: https://github.com/w3c-ccg/traceability-vocab/issues/443

[2022-07-05 17:58] BenjaminMoe commented on #153
Needs PR against readme and repo descriptions to state that traceability is more than supply chain. Talked on call.

[2022-07-05 18:00] BenjaminMoe commented on #167
Pending close due to inaction.

[2022-07-05 18:01] BenjaminMoe commented on #185
Nothing concrete to comment on currently. We have some contact with JSON-LD.

[2022-07-05 18:03] #219 closed

[2022-07-05 18:04] BenjaminMoe commented on #192
We've started with folders. Need to make use of tags in OAS.

[2022-07-05 18:06] BenjaminMoe commented on #192
Move to new issues and close.

[2022-07-05 18:07] BenjaminMoe commented on #90
Closing to lack of activity. Can re-open if needed.

[2022-07-05 18:07] #90 closed

[2022-07-05 18:09] BenjaminMoe commented on #231
Still needs to be resolved.

[2022-07-05 18:09] OR13 commented on #231
Still needs to be resolved:
<img width="942" alt="Screen Shot 2022-07-05 at 1 08 54 PM" src="https://user-images.githubusercontent.com/8295856/177389420-4c119417-f422-4f10-8e23-df9e030eaca8.png">

[2022-07-05 18:09] OR13 commented on #234
Resolved
<img width="987" alt="Screen Shot 2022-07-05 at 1 09 47 PM" src="https://user-images.githubusercontent.com/8295856/177389540-016b817a-40f8-435c-9165-2171721953b6.png">

[2022-07-05 18:10] OR13 commented on #236
Seems resolved
<img width="986" alt="Screen Shot 2022-07-05 at 1 10 33 PM" src="https://user-images.githubusercontent.com/8295856/177389657-a63cbe0a-3970-495d-a0b6-5b360fc96554.png">

[2022-07-05 18:10] #236 closed

[2022-07-05 18:13] OR13 commented on #308
What should be shorten this sentence too? @nissimsan

[2022-07-05 18:13] BenjaminMoe commented on #237
![Screenshot 2022-07-06 at 03-13-32 Traceability Vocabulary v0 0](https://user-images.githubusercontent.com/86194145/177390089-ac524726-0046-445a-bb81-3a16f32f5ed0.png)

[2022-07-05 18:14] #237 closed

[2022-07-05 18:15] BenjaminMoe commented on #244
Closing in favor of https://github.com/w3c-ccg/traceability-vocab/issues/307.

[2022-07-05 18:15] #244 closed

[2022-07-05 18:17] BenjaminMoe commented on #245
Closing this as wont do.

[2022-07-05 18:17] OR13 commented on #245
Suggest closing.

[2022-07-05 18:20] BenjaminMoe commented on #235
Needs to remove `issue`. Confirms still an open issue an example needs to be updated.

[2022-07-05 18:21] OR13 commented on #309
You need to update the index.html files like so:

https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/index.html#L149

Or use this syntax

https://github.com/w3c/did-spec-registries/blob/main/index.html#L93
https://github.com/w3c/did-spec-registries/blob/main/index.html#L197

[2022-07-05 18:21] OR13 commented on #309
if these answers are sufficient please close this issue

[2022-07-05 18:23] BenjaminMoe opened #464 "Update instructions for publishing minutes"
@mkhraisha added how to publish the meeting minutes with https://github.com/w3c-ccg/traceability-vocab/pull/456. This issue describes any misunderstanding or gaps that need to be added into the documentation, such that anyone running the call will be able to execute the instructions to publish the minutes.

1. Do we need to stop recording first?
2. Add a link to the meetings repo (https://github.c

[2022-07-13 13:22] nissimsan commented on #287
@VladimirAlexiev, have you seen this:
https://w3c-ccg.github.io/traceability-vocab/#ontology-visualizations

I think that's largely what you are asking for (although not in table form).

I'd say we can close this.

[2022-07-13 13:27] BenjaminMoe commented on #307
I can take a stab at updating this.

[2022-07-13 16:42] BenjaminMoe commented on #455
I think this was addressed by: https://github.com/w3c-ccg/traceability-vocab/pull/458. @OR13 can we close?

[2022-07-13 16:45] BenjaminMoe commented on #311
I think this is effectively a duplicate of: https://github.com/w3c-ccg/traceability-vocab/issues/307

[2022-07-13 16:49] BenjaminMoe commented on #384
Dupe of https://github.com/w3c-ccg/traceability-vocab/issues/192. Suggest closing.

[2022-07-13 16:52] BenjaminMoe commented on #192
I dont think we gain too much advantage from separating credentials by industry folder. I think our folder structure should be `common`, `credentials`, `presentations`. And then we can use OAS tags to sort and search within those folders.

[2022-07-13 18:21] BenjaminMoe commented on #217
I think the low hanging fruit for a roadmap would be to try and define which verticals we want to support. But I think before that we need to get things in order. And make sure that we have all of our terms defined, we have documentation needed to participate, and visualizations for how our schemas are structured.

[2022-07-13 18:39] BenjaminMoe commented on #217
Also we're probably going to need a strategy for updating schemas. Do we force credentials to be defined by a certain year? ie. `CommercialInvoice2022`, or do we have some other kind of versioning like `0.1.17`, that would allow for the context that was signed over to be retrieved so the credential does not get invalidated.

[2022-07-14 16:31] OR13 commented on #374
@nissimsan @BenjaminMoe please weigh in first

[2022-07-14 17:46] OR13 commented on #374
See also: https://github.com/digitalbazaar/vc-js/blob/a15758709d71bd49346e62c80b250853da041e41/test/10-verify.spec.js#L444

[2022-07-14 17:48] OR13 commented on #374
Of these options `evidence` seems the most relevant... related links has semantics inherited from schema.org...

https://schema.org/relatedLink

[2022-07-14 20:46] OR13 opened #477 "Review Science On Schema.Org (SOSO) Guidance Documents"
https://github.com/ESIPFed/science-on-schema.org/

@nissimsan @BenjaminMoe can you take a pass at reading this and identify any strong areas of allignment?

[2022-07-15 07:30] nissimsan commented on #308
Oh, looks like I've goofed up title and description there...
I'll action it quickly.

[2022-07-15 07:33] nissimsan commented on #308
Done

[2022-07-15 07:37] #309 closed

[2022-07-19 17:40] #308 closed

[2022-07-26 18:05] #384 closed

[2022-07-26 18:06] #311 closed

[2022-07-26 18:07] #307 closed

[2022-07-26 18:08] BenjaminMoe commented on #287
Marking as done, re-open if needed.

[2022-07-26 18:08] #287 closed

[2022-07-26 18:08] BenjaminMoe commented on #275
Closing due to lack of activity.

[2022-07-26 18:08] #275 closed

[2022-07-26 18:09] #243 closed

[2022-07-26 18:09] #27 closed

[2022-08-02 18:20] nissimsan commented on #241
Done

[2022-08-02 18:20] #241 closed

[2022-08-02 18:21] nissimsan commented on #178
I will reach out when it's fall.

[2022-08-02 18:23] #327 closed

[2022-08-02 18:25] nissimsan commented on #344
Agreed, `https://w3id.org/traceability/#undefinedTermbar` is quite annoying to look at.

[2022-08-02 18:25] TallTed commented on #344
@OR13 -- Change issue title from `exampansion` to `expansion`?

[2022-08-02 18:26] OR13 commented on #344
Consider also:

[code]

[2022-08-02 18:58] TallTed commented on #344
A "temporary" or "stop-gap" `https://w3id.org/traceability/undefined-term/#bar` will stick ... and if is defined later ... it will be a _defined undefined-term_.

[2022-08-03 13:55] OR13 opened #516 "Use Case: Energy / Power Traceability"
Here is a high-level overview of the authentication mechanism and tracking used today for OASIS, inter-tie electricity scheduling.

Everything starts with the [NAESB registry EIR.

- https://www.naesb.org/pdf4/webregistry_mo_registration_quick_ref_guide_v1.0_0417.pdf

Entities involved in inter-tie electricity transactions must register with NAESB’s EIR, see link above.

The registration process r

[2022-08-03 14:36] OR13 commented on #344
^ @TallTed yes, thats exactly my point!... not sure if thats a thing other folks have done.

[2022-08-03 15:59] TallTed commented on #344
@OR13 -- My points are that —

1. Attaching a definition to a term which includes a string like `undefined-term` in its URI literal will (eventually) be problematic, even though the plain-language meanings of strings in URI literals are generally supposed to be ignored by humans.
2. Introducing a term like `https://w3id.org/traceability/undefined-term/#bar` will not make it easy to change to a ter

[2022-08-04 14:18] OR13 commented on #344
@TallTed what is your recommended change to `@vocab` to address undefined terms that are currently assigned any JSON that was built by someone who does not understand JSON-LD?

Are you saying your are in favor of removing `@vocab` and throwing errors instead?

[2022-08-04 14:21] OR13 commented on #344
For context:

[code]

- https://developers.google.com/knowledge-graph

[2022-08-04 16:37] TallTed commented on #344
[@OR13]

Possibly. I have not heard nor read solid arguments on either side of the "removing `@vocab`" option; I expect both exist.

This issue does not appear to be focused on the possibility of "removing `@vocab`", nor on any "recommended change to `@vocab` to address undefined terms that are currently assigned to any JSON members that were built by someone who does not understand JSON-LD".

Thi

[2022-08-04 18:48] BenjaminMoe commented on #477
I read though https://github.com/ESIPFed/science-on-schema.org/blob/master/guides/Dataset.md. It looks the like the focus is providing specific examples for how scientists can structure JSON data to take advtage of the terms defined by schema.org with linked data.

[code]

In terms of the places of alignment. I think there are two main points. The first point is their documentation is _amazing_. I

[2022-08-04 22:03] OR13 commented on #344
Happy to give some background.

When you don't include an `@vocab` in your context, all terms with no definition cause JSON-LD errors.

Many developers who are not familiar with JSON-LD find this frustrating.

Including `@vocab` "hides" these errors behind expanded IRIs.

We chose to signal that any IRI expanded by `@vocab` was essentially a "warning" ... so it doesn't error, but it also doesn't p

[2022-08-05 15:19] TallTed commented on #344
I agree with [all this](https://github.com/w3c-ccg/traceability-vocab/issues/344#issuecomment-1205813908).

I don't see how any of it flows from the issue title, "Fix undefined term expansion", nor from the [initial comment](https://github.com/w3c-ccg/traceability-vocab/issues/344#issue-1167343790), nor from nor to much of anything else being said here.

Maybe this issue should just be closed, unt

[2022-08-09 14:46] brownoxford commented on #344
Someone please correct me if I am wrong here, but as I understand it, `@vocab` is used specifically to declare a default vocabulary from which all terms derive, without having to declare specific mappings for each term.

I believe that if a previously undefined term is later defined, it will not longer be part of the default vocabulary specified by `@vocab`, and will therefore no longer have `unde

[2022-08-09 16:17] OR13 commented on #344
Thats right. We have 2 objectives:

1. use `@vocab` to make JSON-LD less painful to noobs
2. allow expert to fix errors made by noobs.

[2022-08-09 18:22] nissimsan commented on #324
Agreement to keep claims credentialSubject, not on the root VC.

[2022-08-09 18:22] #324 closed

[2022-08-09 18:24] nissimsan commented on #313
What versioning approach would we want to take on this?

[2022-08-09 18:24] nissimsan commented on #313
Suggestion: PR to bump respec to v1.0

[2022-08-09 18:24] BenjaminMoe commented on #313
Suggest update document to v0.1.

[2022-08-09 18:25] nissimsan commented on #350
I'll take a look.

[2022-08-09 18:26] nissimsan commented on #351
Thanks.

[2022-08-09 18:29] nissimsan commented on #353
This is still pending.

[2022-08-09 19:31] TallTed commented on #344
Oh, so you don't mean to define `https://w3id.org/traceability/undefined-term/#bar`; you mean to use the surfacing of that URI to prompt definition of `https://w3id.org/traceability/bar`?

That makes much more sense, and I have no objection to it.

[2022-08-09 19:34] TallTed commented on #344
I stand by my assertion that this issue should have both its title and initial comment (explanation/detail of title) edited to more accurately reflect the problem that is being raised, and the solution being proposed thereto.

[2022-08-09 20:35] OR13 commented on #344
@TallTed propose some language :)

As of right now, I am in favor of doing this:

[code]

This would yield:

[code]

For cases where a JSON-LD noob forgets to define `bar` properly.

and would allow for both:

[code]

In the case they know what they are doing.

[2022-08-13 16:22] OR13 opened #521 "Traceable Presentation Recipient"
Today he have the following relations in the vc data model:

issuer -> issues -> credential -> presents -> holder

holder -> presents -> verifier

Due to the nature of verifiable presentation, the holder is known but the verifier is only loosely identified via `domain` or `aud`.

What if we allows for the holder to specify a concrete recipient?

[code]

[2022-08-13 16:27] OR13 commented on #521
Its possible the VC WG will define a term that works for this in V2: https://github.com/w3c/vc-data-model/issues/902#issuecomment-1214185168

If they don't we can define this term as being scoped to `TraceablePresentation` type.

[2022-08-16 17:32] TallTed opened #526 "traceability-vocab and traceability-interop README files should be synced"
The [README here](https://github.com/w3c-ccg/traceability-vocab) is much shorter and, I believe, is far out of date.

The [README there](https://github.com/w3c-ccg/traceability-interop) is much longer and, I believe, is much more current (though not quite finished -- some links should be added to, e.g., the Standing Agenda portion, for, e.g., the default sort order to be used for Issue review, i.e

[2022-08-16 17:55] OR13 commented on #365
Seems stale, suggest closing.

[2022-08-16 17:55] #365 closed

[2022-08-16 17:56] brownoxford commented on #366
Saving this issue for next time @mkhraisha is able to join

[2022-08-16 17:57] OR13 commented on #370
Link is broken.

[2022-08-16 17:57] OR13 commented on #370
Make a recommendation on what action should be taken.

[2022-08-16 17:59] OR13 commented on #369
https://w3c-ccg.github.io/traceability-vocab/#BindingDataRegistrationCredential

needs to still be addressed

[2022-08-16 17:59] OR13 commented on #369
also https://w3c-ccg.github.io/traceability-vocab/#AdditionalProductCodeRegistrationCredential

[2022-08-16 17:59] OR13 commented on #369
also https://w3c-ccg.github.io/traceability-vocab/#InvoiceRegistrationCredential

[2022-08-16 17:59] OR13 commented on #369
They all need to be cleaned up.

[2022-08-16 18:00] OR13 commented on #369
also https://w3c-ccg.github.io/traceability-vocab/#WayBillRegistrationCredential

[2022-08-16 18:01] BenjaminMoe commented on #369
Suggestion to remove these files.

[2022-08-16 18:03] OR13 commented on #389
Direct link to the form: https://www.ams.usda.gov/sites/default/files/media/SC237A.pdf

[2022-08-16 18:03] brownoxford commented on #389
@mprorock or @rhofvendahl please provide more information here.

[2022-08-16 18:03] OR13 commented on #389
Action item to create the necessary certificate type?

[2022-08-16 18:07] OR13 commented on #399
see examples:

https://github.com/transmute-industries/verifiable-data/tree/main/packages/did-context
https://github.com/transmute-industries/verifiable-data/tree/main/packages/credentials-context

[2022-08-16 18:07] OR13 commented on #399
I would suggest we not attempt this until we plan to publish the vocabulary in a more formal (permanent) way.

[2022-08-16 18:10] BenjaminMoe commented on #395
Suggest moving this to its own issue:
[code]

And then closing this issue.

[2022-08-16 18:11] OR13 commented on #395
Close this issue.

Open 2 new issues:

1. How to handle oneOf in the JSON Schema to JSON-LD context code.
2. How to define JSON-LD Classes so that no undefined terms are created related to "entityType".

[2022-08-16 18:11] OR13 commented on #395
link issues before closing.

[2022-08-16 18:12] BenjaminMoe opened #527 "How to handle oneOf in the JSON Schema to JSON-LD context code"
Update JSON-LD processor to support oneOf schema functionality

[2022-08-16 18:12] BenjaminMoe commented on #395
https://github.com/w3c-ccg/traceability-vocab/issues/527

[2022-08-16 18:12] BenjaminMoe opened #528 "How to define JSON-LD Classes so that no undefined terms are created related to "entityType""

[2022-08-16 18:12] #395 closed

[2022-08-16 18:13] OR13 commented on #379
We should adopt MongoDB convention, then take some padding and apply this to "Certificate" types and "TraceablePresenations".

[2022-08-16 18:13] OR13 commented on #379
This should happen in the vocabulary, its a data format issue.

[2022-08-16 18:14] OR13 commented on #379
See also: https://betterprogramming.pub/how-to-store-documents-larger-than-16-mb-in-mongodb-aecc957bbe6c

[2022-08-16 18:14] nissimsan commented on #379
Simple google:

16Mb
As you know, MongoDB stores data in a document. The limit for one document is 16Mb. You can also use GridFS to store large files that can exceed 16Mb.18 May 2020

[2022-08-16 18:14] OR13 commented on #379
Suggest we set 16 MB as the max credential and presentation size limit.

[2022-08-16 18:16] OR13 commented on #204
Suggest we ask the lists regarding this.

[2022-08-16 18:17] OR13 commented on #267
Example and schema need to be updated... include an image as well.

[2022-08-16 18:18] brownoxford commented on #268
Discussed, and the working group has decided not to use CURIEs, closing.

[2022-08-16 18:18] #268 closed

[2022-08-16 18:20] brownoxford commented on #157
No activity, and we have a good representation of handling this with schema.org place RDF+. Closing.

[2022-08-16 18:20] #157 closed

[2022-08-16 18:20] OR13 commented on #274
Suggest we close this due to inactivity.

[2022-08-16 18:21] brownoxford commented on #274
Inactive, closing now.

[2022-08-16 18:21] OR13 commented on #276
We implemented this, suggest closing.

[2022-08-16 18:21] nissimsan commented on #276
TOC has been updated

[2022-08-16 18:22] brownoxford commented on #276
Closing

[2022-08-16 18:23] OR13 commented on #278
Suggest we move these terms to an RDF class that is not agriculture specific.

[2022-08-16 18:24] OR13 commented on #278
cc @brownoxford

[2022-08-16 18:24] OR13 commented on #278
cc @rhofvendahl

[2022-08-16 18:25] OR13 commented on #279
These are bugs that need to be addressed.

[2022-08-16 18:27] OR13 commented on #279
Please correct the term and IRI definitions... including the title.

[2022-08-16 18:30] OR13 commented on #24
I suggest we link to the other tickets tracking supporting EPCIS and then close this ticket.

[2022-08-16 18:31] brownoxford commented on #24
@nissimsan has volunteered to link and close

[2022-08-16 18:31] OR13 commented on #312
<img width="1117" alt="Screen Shot 2022-08-16 at 1 31 32 PM" src="https://user-images.githubusercontent.com/8295856/184952943-3a4d6841-0977-4545-a5ae-2900e3fd30fe.png">

[2022-08-16 18:32] OR13 commented on #312
https://schema.org/value

[2022-08-16 18:33] rhofvendahl commented on #390
@OR13 Thanks, I'll get on this

[2022-08-16 19:22] TallTed commented on #379
TL;DR: We need better justification for taking this action, with clearer presentation of the reasoning behind the limit(s) we're contemplating imposing.  [Appealing to a debatable "authority"](https://en.wikipedia.org/wiki/Argument_from_authority) is not sufficient.

-----

I'm wondering why we're imposing one (MongoDB) storage implementation's size limit (which appears not to be absolute, given t

[2022-08-17 13:57] OR13 commented on #379
See https://cheatsheetseries.owasp.org/cheatsheets/Input_Validation_Cheat_Sheet.html

CBOR-LD is not currently used in this document (neither is CBOR).

I don't think document constraints need to be set in stone, but it's wise to test the limits and add safety margin in any engineering system.

[2022-08-17 14:32] TallTed commented on #379
Why "must" there be?

This really doesn't seem to me like a limitation that is necessary nor even desirable at this stage of the game, if ever, and certainly not in a vocabulary.

It *might* be relevant for traceability-interop, but I'm not convinced there's a need for this recommendation at all.

That's a long page, of which it appears that two bullets within a [single small subsection](https://c

[2022-08-17 16:23] VladimirAlexiev opened #530 "infoneer and IOF stuff"
You guys know about this? https://infoneer.wp.txstate.edu/ontology-download/iof-reference-ontologies/iof-supply-chain-traceability/

- This lab is led by [Farhad Ameri](https://www.txstate.edu/technology/aboutus/contacts/faculty/etfaculty/ameri.html) who also leads the IOF Supply Chain WG.
- There are 4 pages under Ontologies> IOF Reference Ontologies
- Found in `IOF_General_Meeting_2022-05-06.pdf

[2022-08-17 16:28] VladimirAlexiev commented on #516
In Europe (but also many other countries) it all starts with [Energy Identification Code (P8645)](https://www.wikidata.org/wiki/Property:P8645).
It's used for Electricity and Gas, and is given to parties, network operators, energy markets and exchanges, infrastructure like gas and power lines, power plants and generators.

- WD has only 3k EIC but lists a bunch of local lists that have more.
- For

[2022-08-17 16:33] TallTed commented on #530
What is [IOF](https://www.google.com/search?q=acronym+iof) in this context?  Possibly "[Industrial Ontologies Foundry](https://github.com/iofoundry/)"?

Note that https://github.com/iofoundry/IOF-SupplyChain-WG is `404`

[2022-08-17 16:43] VladimirAlexiev opened #531 "namespace problems"
I took the ttl from https://github.com/w3c-ccg/traceability-vocab/issues/395#issuecomment-1110300096, added prefixes, and run it through `riot --formatted ttl` to see it in a better way.

I noticed the following prefix problems:

- this is a terrible namespace. Please make up one that starts from dcsa.org:
[code]
- You use `https` but the actual schema ontology semantic URLs use `http`:
[code]
- Y

[2022-08-17 16:49] VladimirAlexiev opened #532 "conflated units, weight vs netWeight, xsd:double vs xsd:decimal"
After #531, I noticed problems in the https://github.com/w3c-ccg/traceability-vocab/issues/395#issuecomment-1110300096 example:

[code]
is translated to
[code]

I see these problems:
1. Both `weightUnit, volumeUnit` are mapped to `unitCode`, which conflates them (these are the units of which measure exactly?)
2. `weight` is not the same as `uncefact:netWeightMeasure` IMHO: hwo do you know it's not

[2022-08-17 16:54] VladimirAlexiev commented on #532
Note to self: `<urn:epc:id:bic:YMLU3380910>` is legit, see https://www.gs1.org/sites/default/files/docs/epc/GS1_EPC_TDS_i1_12.pdf page 39

[2022-08-17 16:57] VladimirAlexiev commented on #530
Yes.
They recently moved under OAGi: https://oagiscore.atlassian.net/wiki/spaces/IOF/. Some of that content is restricted, I guess one first needs to become a member.
There's many 404 on the infoneer site and https://github.com/InfoneerTXST is quite sparse, but still the resources above seem useful

[2022-08-17 17:10] VladimirAlexiev commented on #462
@BenjaminMoe Can I convince you to use PlantUML instead of Mermaid?

The syntax is similar (I've omitted a leading `@` else github renders the picture instead of the code!):
[code]
Result (you can also [see that on the plantuml server](http://www.plantuml.com/plantuml/uml/TP0xhiCW401xJe7S--d5doP5v2G7YA-mXbMCn2U2TU6SFXXR4HHfPrRii4CWyBGOpMObaQDvqSeDqknao14GUJKjX0SLoWkDZ0aD8N0b_pa4NZty4wnw0obd_rQZgwy

[2022-08-17 17:32] VladimirAlexiev opened #534 "sensor exceptions (errors and alarms)"
@mprorock in #204

EPCIS sensor data does this with a separate field `exception`.
See https://github.com/VladimirAlexiev/EPCIS/tree/master/JSON/WithSensorData

[code]

The respective Turtle should look like this:
[code]

[2022-08-17 17:35] VladimirAlexiev commented on #385
hi Mark @mgh128 !

Right!
But RDF doesn't work in terms of messages. If you store both event data and master data in a GraphDB (hint, hint :-), you can generate responses that include more of the data embedded in one JSONLD, as the `traceability` examples show.

In JSONLD it's a simple matter of defining in a frame whether the master data should be `@embed` in the events, or kept at top level.

Th

[2022-08-17 17:39] VladimirAlexiev commented on #274
@OR13 or @brownoxford can you reopen and assign to me?

[2022-08-17 17:41] VladimirAlexiev commented on #271
Let me quote from https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/BillOfLading.yml#L38
[code]

@nissimsan please reopen

[2022-08-17 17:55] VladimirAlexiev commented on #268
@brownoxford Maybe you meant to close #285? But please provide some justification or point to some minutes!

This issue is about some of the schemas using wrong URLs. So reopen it.

[2022-08-17 17:58] VladimirAlexiev commented on #285
@OR13 on May 10:

"Cool URIs don't change", we all know that principle (though in practice it's violated too often).

But for URIs to be usable, they need to be shortened.
#268 proves that people are not very good at handling long URIs, even experienced data engineers like in this group.

https://github.com/w3c-ccg/security-vocab/issues/57: @dlongley

#268 proves the disadvantage of not using CURI

[2022-08-17 20:10] dlongley commented on #285
@VladimirAlexiev,

No, it is much more likely that they will use `"uncl1153:Consignment_identifier_carrier_assigned"` as the value of an object property and it will be unexpectedly (not) converted to `"uncl1153:Consignment_identifier_carrier_assigned"`, i.e., the prefix `uncl1153` should have been defined but was not. This is even more likely with popular vocabulary reuse (e.g., `schema:name` from

[2022-08-17 22:16] OR13 commented on #285
At least in the context of this work item, we are not using CURIEs... we discussed this on several calls.

We are not hand crafting the JSON-LD context, its built from JSON Schema... the context builder does not support all the features of JSON-LD and we think thats a good thing.

That being said, if you have another context where you want to use CURIE's I think there are cases where maybe thats o

[2022-08-17 22:32] OR13 commented on #271
No, do not reopen... create a new issue with a clear and actionable description something like:

title: Update broken IRIs in BillOfLading RDF Class
description: This RDF Class contains links to terms that are incorrect (include examples).

[2022-08-17 22:35] OR13 commented on #274
@VladimirAlexiev How do you plan to address this issue?

What information do you need before this is ready for PR, or how will a PR address this issue?

[2022-08-17 22:55] OR13 commented on #379
Is the problem that the limit is too small?

or that you think interoperability is achievable without setting limits?

[2022-08-18 12:10] nissimsan commented on #531
Hi @VladimirAlexiev,

Regarding dcsa, I 100% agree. "Terrible" is an appropriate word. They don't have an actual vocab, this is the best I could come up with, prioritizing something that resolved to a kind of definition. In part, this is meant as an encouragement.

Regarding uncefact, the /# is getting addressed [here](https://github.com/uncefact/spec-jsonld/issues/25). I don't want to make correc

[2022-08-18 14:01] VladimirAlexiev commented on #531
Important takeaway https://github.com/dcsaorg/DCSA-OpenAPI/issues/141:
JSON API and JSON Schema URLs are not necessarily good semantic URLs.

[2022-08-18 14:06] TallTed commented on #379
@OR13 -- You're pasting great big chunks of irrelevant material. That doesn't help further your argument.

It especially doesn't help when the size limits discussed in the irrelevant material you choose to quote are a minimum of 2 GB — 125x the 16 MB size limit you initially proposed imposing on JSON-LD VCs.

Even more, you seem not to have considered the *reasons* for the limits on the file syste

[2022-08-18 14:17] VladimirAlexiev commented on #285
@dlongley Your reasoning is a akin to this:
- Condoms are a good thing because they are a cheap way to do planned parenthood
- No, they are a bad thing because people may forget to put them on. They should be outlawed

@OR13 You use no prefixes at all in instance data. That's a valid strategy because it makes it easier for people.
We did the same in EPCIS: optimized as much, for people to be able

[2022-08-18 14:20] VladimirAlexiev commented on #284
Ok, that's a positive evolution :-)

[2022-08-18 15:46] dlongley commented on #285
@VladimirAlexiev,

Other ways of looking at this:

* Security model A depends on people to implement extra checks in constant time.
* Security model B does not but provides the same level of security and solves the same use cases.
* Let's standardize B and recommend that people never use A.

Of course people could still use A, but it's more complex so it's harder to get right, so we shouldn't reco

[2022-08-18 19:15] nissimsan opened #536 "Align to the production UN Vocab"
The UN CEFACT LD vocab should be bumped to version 1.0, expected during fall of 2022.

The main updates which will be required to be update on our side include:
- Switch away from `/#` (see [286](https://github.com/w3c-ccg/traceability-vocab/issues/268) and [531](https://github.com/w3c-ccg/traceability-vocab/issues/531)).
- Code lists switching from description to code (https://github.com/uncefact

[2022-08-18 19:16] nissimsan commented on #536
Current draft version: https://service.unece.org/trade/uncefact/vocabulary/uncefact/
Repo: https://github.com/uncefact/spec-jsonld

[2022-08-18 19:18] nissimsan commented on #536
@VladimirAlexiev, @brownoxford, FYI ^

[2022-08-18 20:08] mprorock commented on #390
@rhofvendahl let's also add an explicit organic certification and organic inspection/checklist - see [here](https://www.ams.usda.gov/services/organic-certification) for a good starting place

[2022-08-18 20:25] brownoxford commented on #268
@VladimirAlexiev please see new issue #536

[2022-08-22 14:28] CraigRe commented on #385
By the way, some of you might previously have been looking at [github.com/gs1/EPCIS](http://github.com/gs1/EPCIS) .
Now that EPCIS & CBV 2.0 have been ratified, normative artefacts and example files can now be found at [https://ref.gs1.org/standards/epcis/artefacts](https://ref.gs1.org/standards/epcis/artefacts) .
If you're having difficulty accessing anything in particular, please let us know and

[2022-08-22 19:37] VladimirAlexiev commented on #290
@nissimsan @OR13 But please note this issue is not limited to GLN or other GS1 identifiers.

Every time you have a JSONLD sub-object or a textual ID, you could have a URL.
That URL can carry semantic data in a variety of places:
1. in the same JSON position, or
2. in another position (top level or another sub-object)
3. in external payload from referencing the URL

How can JSON Schema handle this

[2022-08-22 19:46] VladimirAlexiev commented on #280
@nissimsan XML-RDF is the worst RDF serialization because you can express the same graph using a variety of XMLs
(the graph-tree transformation doesn't dictate where to start and which nodes to render embedded),
and people try to process it using XSLT, and hit a wall or create overly limited solutions.

----

I'll copy a comment from #290 that's more salient here:

Every time you have a JSONLD sub

[2022-08-23 06:33] VladimirAlexiev commented on #268
@brownoxford This issue is still not fixed, please reopen it.

[2022-08-23 06:35] VladimirAlexiev commented on #271
@OR13 Please read the issue title. I gave just one example.
Here's an idea: grep all schema.org terms from all schemas, and try to resolve those URLs to confirm their existence.
Reminder: schema.org semantic URLs use `http` not `https`, even though the schema.org site redirects to `https`.

[2022-08-23 06:41] VladimirAlexiev commented on #277
@OR13 @BenjaminMoe I think the overriding concern is that it should be simple for data producers and consumers, i.e. the data instances should be as simple as possible. Following my example, it's clear which one is simpler:
- with aggregation: `AquacultureProduct.product1.plotID, AquacultureProduct.product2.vesselID`
- with multiple inheritance: `AquacultureProduct.plotID, AquacultureProduct.vesse

[2022-08-23 09:27] nissimsan commented on #290
Noting that hashlinks have made their way into some schemas.
For example: https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/CommissionEvent.yml#L43

Pinging @mkhraisha who's been driving these additions.

[2022-08-23 10:12] nissimsan commented on #280
Hi @VladimirAlexiev,

To be clear, I'm _not_ advocating for XML-RDF, just pointing out the hierarchy vs flat structure with references similarity.

First, schema and example/instance seems conflated throughout this ticket. The original point was to define schemas by means of URL references, but the example includes instance-identifiers (`did:example:BillOfLading:1234`) and you also talk about "out

[2022-08-23 10:16] nissimsan commented on #271
@VladimirAlexiev, can you elaborate on the latter, pls?
It sure looks like `https`:
![image](https://user-images.githubusercontent.com/34443212/186133492-18d951a7-1894-4059-b770-98a4eedd70c9.png)

[2022-08-23 11:01] VladimirAlexiev commented on #271
@OR13
I guess they changed it recently, despite objections about changing what are supposed to be permanent URLs.

But could you please check in the ontology (JSONLD or Turtle) to make sure?

[2022-08-23 13:33] BenjaminMoe opened #542 "Generated List of Undefined Terms"
[code]

[2022-08-23 13:40] BenjaminMoe opened #543 "Different betwen const and enum for type definitions"
### Example 1

[code]

produces the following in JSON schema:

[code]

### Example 2

[code]

produces

[code]

### Action Item

Proposal, we should be consistent one way or the other in the `credential` directory. If const works, I'd lean towards that to say `type` **must be** these two values. Otherwise enum would imply one or more of these possible values.

[2022-08-23 14:51] brownoxford commented on #268
@VladimirAlexiev, are you saying that #536 does not accurately reflect what needs to happen here, or that you disagree with waiting for the vocab v1 bump later this year? @nissimsan is point on this issue currently, and his suggestion is: "I advise that we don't start this work until the UN vocab is published"

[2022-08-23 15:26] TallTed commented on #270
@nissimsan — I believe that (as discussed in #268), your —
[`https://service.unece.org/trade/uncefact/vocabulary/uncefact/#carrierParty`](https://github.com/w3c-ccg/traceability-vocab/issues/270#issuecomment-1223795900)
— should be —
`https://service.unece.org/trade/uncefact/vocabulary/uncefact#carrierParty`
(the `/#` becomes just `#`).

[2022-08-23 15:44] TallTed commented on #271
Apparently, the powers that be at schema.org hasn't read the CoolURIs article, never mind that @danbri has been involved in the worlds of Linked Data and semantic webs nigh unto forever....

FWIW, generally, if not universally, `http://` URIs for schema.org redirect to `https://` when dereferenced, and while the latest revisions of schema.org do use `https://`, anyone who's made significant use of

[2022-08-24 15:38] BenjaminMoe opened #546 "List of documents that could be added to trace-vocab"
These are documents that we gathered requirements for, but ended up not adding to trace-vocab based on time constraints. Putting them here in case someone can pick them up.

1. Form 214: FTZ Admission schema - [https://www.cbp.gov/sites/default/files/assets/documents/2021-Sep/CBP Form 0214.pdf](https://www.cbp.gov/sites/default/files/assets/documents/2021-Sep/CBP%20Form%200214.pdf)

2. Sales Order

[2022-08-24 15:47] TallTed commented on #546
I wonder whether "unsatisfied" would be more accurate than "unused"?

[2022-08-25 08:30] BenjaminMoe commented on #542
Since we had some PR's the last meeting. Updating the list:
[code]

[2022-08-25 08:35] nissimsan commented on #271
![image](https://user-images.githubusercontent.com/34443212/186616654-a4504753-a766-4e7b-83f3-9b02437d0a07.png)
`https://` alright.

[2022-08-25 08:39] danbri commented on #271
re

We would respond to data consumers saying they'd use it.

However it is not clear what property to use to associate non-type, non-property terms, e.g.

http://schema.org/AudiobookFormat and https://schema.org/AudiobookFormat

I am not convinced owl:sameAs works, as it is such as strong claim.

[2022-08-25 08:54] nissimsan commented on #271
Noting that a `http` -> `https` redirect still breaks the Verifiable Credential proof.

[2022-08-25 08:56] danbri commented on #271
If you want verifiable-credentials level assurance, you probably should be
using https: throughout (and avoid remote context URLs
<https://docs.google.com/document/d/1Jo4-dTDo1osL3Mr9-THqwKywWu-NiFGagFTQV5mr-N8/edit#>
)

On Thu, 25 Aug 2022 at 09:54, Nis Jespersen ***@***.***>
wrote:

[2022-08-25 08:59] nissimsan commented on #270
I wholeheartedly agree, @TallTed.
The root problem must first be solved [here](https://github.com/uncefact/spec-jsonld/issues/25), though. Until then, I'm sticking with whatever (uncool) URLs I get redirected to; otherwise we get into inconsistent definitions territory.

[2022-08-25 09:06] nissimsan commented on #271
Yes, agreed, @danbri.

More generically, I consistently stick with whatever I get redirect to - http or https, cool or uncool. Simple and safe.

[2022-08-25 09:10] nissimsan commented on #385
@CraigRe, noting that [github.com/gs1/EPCIS](https://github.com/gs1/EPCIS) is 404'ing. Is that a private repo?

[2022-08-25 09:23] nissimsan commented on #268
... And to qualify that, @brownoxford and @TallTed , my aim is to stick with a single URL for defining terms.

`https://service.unece.org/trade/uncefact/vocabulary/uncl1153/#`
and
`https://service.unece.org/trade/uncefact/vocabulary/uncl1153#`
are not the same. They produce different RDF nodes, and changing them breaks proofs.

Despite the uncoolness factor, I consistently stick with the URL which

[2022-08-25 09:57] mgh128 commented on #385
@nissimsan  - the former repository at github.com/gs1/EPCIS has moved to a private repository
I have pointed out to GS1 that it would probably still make sense for a public-facing repository to exist on GitHub, even if it only contains the ratified artefacts that are now at https://ref.gs1.org/standards/epcis/artefacts

[2022-08-25 15:38] TallTed commented on #271
Though it may appear to be both, "[[sticking] with whatever [you] get redirect [sic] to](https://github.com/w3c-ccg/traceability-vocab/issues/271#issuecomment-1226988349)" is *NEITHER* simple *nor* safe.

Browser redirection from the URI of a term being described, to the URI of the description of that term, does not imply in any way that the term being described is identified by the URI of the des

[2022-08-25 15:42] TallTed commented on #271
The *identifier of an entity* being in the `http` URI scheme should not break any proof, even if the *identifier of the description of that entity* (which may be reached by dereferencing the identifier of that entity) is identified by a URI in the `https` URI scheme!

[2022-08-25 15:46] TallTed commented on #268
That will break Linked Data, consistently and absolutely, and I will block it by any means necessary.

[2022-08-25 15:56] danbri commented on #271
There are also the various [kinds of HTTP redirection](https://developer.mozilla.org/en-US/docs/Web/HTTP/Redirections) available. FWIW Schema.org's http: to https: redirections use "HTTP/1.1 301 Moved Permanently".

[2022-08-25 15:58] TallTed commented on #271
@danbri --

Are you saying that "you" (schema.org) mean (or meant) to identify two different entities by those two URIs (or really, any two URIs which differ only in their scheme, `http` vs `https`; note please I'm not talking about *any* two schemes, where I agree, it's more complex)?

Or is the latter simply a newer identifier (a co-referer) for the *same* entity, as would communicated by puttin

[2022-08-25 16:02] TallTed commented on #271
That would seem to support my assertion that `owl:sameAs` is the intended relation between the `http:` and `https:` identifiers, directed from the former to the latter, though as a reflexive, symmetric, and transitive relation, it could be stated in either direction.

[2022-08-25 16:09] danbri commented on #271
On Thu, 25 Aug 2022 at 16:58, Ted Thibodeau Jr ***@***.***>
wrote:

I am saying you can go either way on this stuff.

When Dublin Core moved from http://purl.org/dc/Creator to
http://purl.org/dc/terms/creator (or similar), ... were those two very
similar properties, or essentially the same one. There is no best practice
on this really.

I lean towards not spraying owl:sameAs around everywhere sinc

[2022-08-25 17:50] TallTed commented on #542
@BenjaminMoe --

There's one difference.  These lines are in the original list, and not in the new one --
[code]

I think it's not worth (and really not human-parsable) to put revised lists in distinct comments, especially if the recent speeds of handling and regenerating are maintained.

GitHub preserves the edit history of the initial comment on the issue, so I would suggest editing that initial

[2022-08-25 19:10] acarnagey commented on #543
I think we want to be as descriptive as possible for json schema form.  'readOnly' is important to say field can't be changed, default is important to say this is the value the field should have at the start, const means it can't have a different value if it did, and items enum means if you were able to add item to array you would only be able to assign those values to that item in the array.
[cod

[2022-08-25 19:46] TallTed commented on #271
@danbri

(Not treating your last in order....)

Well, I would hope you wouldn't spray these anywhere meant to be consumed as RDF --

First, this makes no sense to me, as written --

-- though perhaps you meant to write --

`<http://schema.org/Person> owl:sameAs <https://schema.org/Person>`

Likewise, perhaps you meant this --

-- to be written --

`<http://schema.org/Person> schema:supersededBy <h

[2022-08-26 08:13] nissimsan commented on #270
@TallTed, your argument on [the cefact issue](https://github.com/uncefact/spec-jsonld/issues/25#issuecomment-1227414233) has changed my mind on this. Thank you.

[2022-08-26 08:16] nissimsan commented on #268
@TallTed, your argument on https://github.com/uncefact/spec-jsonld/issues/25#issuecomment-1227414233 has changed my mind on this. Thank you!

[2022-08-26 09:08] BenjaminMoe commented on #546
I think the difference is that "unsatisfied" is these were documents that were _required_ but not delivered. The context here is these were documents we were considering to add but cut back due to time constraints, so I leaned towards "unused".

[2022-08-26 16:01] TallTed commented on #546
I think I understand what you're saying.

I also think that, in the typical W3 naming of things, these "common business documents" ought to be considered _Use Cases_, each of which does indeed have _Requirements_, all of which would typically be collected in a UCR (sometimes putting the UC into one doc, and the R in another; more often, collecting them into a single doc).

The Requirements of vari

[2022-08-27 18:39] VladimirAlexiev commented on #270
@nissimsan (cc @clehner )
1. I think in https://github.com/w3c-ccg/traceability-vocab/issues/270#issuecomment-1223795900 you got `@type` and `@id` swapped?
2. You cannot specify the target class (range) of a prop using `@type`. In fact you cannot do that in a context at all: you need an ontology for that.
3. Then there are further considerations: whether the same prop can can target different clas

[2022-08-27 19:22] VladimirAlexiev commented on #268
@brownoxford I don't know what are the future plans, but this bug should stay open until it is fixes.
I just checked, the bug is still present.

[2022-08-28 17:07] VladimirAlexiev commented on #271
The switch-over was done in 12.0 on 2021-03-08 (see https://schema.org/docs/releases.html).
I bitched about it for a long time, @danbri allowed a reasonable amount of discussion, and obviously schema.org won't go back to http, and there are good reasons to modernize to https.
@OR13 Are there significant numbers of existing VCs that are broken by this switch-over? I think that all new VCs should us

[2022-08-28 17:18] VladimirAlexiev commented on #385
https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/CommissionEvent.yml corresponds to epcis:CreateEvent with epcis:action="CREATE"

[2022-08-28 17:27] VladimirAlexiev opened #548 "hashlink is no substitute for proper semantic description of content"
(Split from #290)

https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/CommissionEvent.yml#L43
[code]
@nissimsan @mkhraisha

Problems with this example:
- it refers to a section in a document not to the URL of a semantic property
- it binds a specific local term `products` to a general URL regarding one aspect of data representation ("content protected wi

[2022-08-28 17:33] msporny commented on #548
It is true that just having a hashlink doesn't provide any semantic details other binding the information digitally signed over to a very specific serialization of *something*. In some use cases, that might be enough... for example, hashlinking to a PDF/PNG/JPG such that a manual human process can perform after-the-fact discovery if something goes wrong, knowing that they're looking at the same do

[2022-08-28 18:12] mgh128 commented on #385
Almost correct - except that "CREATE" is not a valid value for the field epcis:action  - within an EPCIS ObjectEvent, the defined string value of "ADD" is used instead, to indicate the creation or first appearance of objects in the supply chain.

Typically, in EPCIS a commissioning event is represented as an epcis:ObjectEvent with epcis:action="ADD" and epcis:bizStep = cbv:BizStep-commissioning (i

[2022-08-29 06:50] BenjaminMoe commented on #546
I wanted to avoid creating too many issues at once to start off with. But I tend to agree that splitting out each document into it's own issue would allow us to track if there is interest in adding these specific documents. And closing out specific documents that don't get picked up.

[2022-08-29 09:03] nissimsan commented on #370
[This](https://github.com/w3c-ccg/traceability-vocab/issues/385#issuecomment-1227045288) explains the broken link.

[2022-08-29 15:19] nissimsan commented on #270
Hi @VladimirAlexiev,
1. Right, good point!
2. Moreover, it would be a double-definition: `'@type': https://schema.org/Organization ` is already defined via `$ref: ./Organization.yml`.

[2022-08-29 15:46] OR13 commented on #270
We should be careful not to confuse Data Types (in JSON Schema using `$ref` ) with RDF Classes (in JSON-LD use `@type`)... they can both be defined with fine granularity, or course granularity... our objective is to find the right level of granularity that supports interoperability and reuse.

TLDR, we want to define both the shape and semantics.

[2022-08-29 16:00] OR13 commented on #271
This isn't the schema.org repo... AFAIK, we updated all the references to use `https`... so that we don't have any issues with this.... I prefer more, smaller, more actionable issues... rather than issues that are "review all links".

[2022-08-29 18:52] TallTed commented on #270
`classes` may be better understood if called `entity types`, above ... a/k/a [`rdfs:range`](https://www.w3.org/TR/rdf-schema/#ch_range), identified and described for machines by [`http://www.w3.org/2000/01/rdf-schema#ch_range`](http://www.w3.org/2000/01/rdf-schema#ch_range), and described for humans by [`https://www.w3.org/TR/rdf-schema/#ch_range`](https://www.w3.org/TR/rdf-schema/#ch_range).

`cl

[2022-08-30 08:31] nissimsan commented on #270
@OR13, right, there was a hidden assumption in my statement. If the JSON Schema and JSON-LD can't be assumed to always be at the same granularity we _do_ need to define both individually. Cheers!

[2022-08-30 10:28] nissimsan commented on #370
After chatting with @mgh128 and @CraigRe yesterday, I suggest that we just pursue with a direct implementation of the EPCIS events, as is intended with issue https://github.com/w3c-ccg/traceability-vocab/issues/385.
Closing this.

[2022-08-30 10:28] #370 closed

[2022-08-30 10:49] nissimsan commented on #385
@mgh128, @CraigRe and I talked this over yesterday. A sensible next step will be to start implementing the EPCIS event model with the terms defined in https://ref.gs1.org/epcis/.

https://ref.gs1.org/docs/epcis/examples includes examples we can use for VC examples.

[2022-08-30 17:51] BenjaminMoe commented on #239
![Screenshot 2022-08-31 at 02-50-50 Traceability Vocabulary v0 0](https://user-images.githubusercontent.com/86194145/187508137-ec79bb6d-c2d1-46f8-8de8-c55eb055fb17.png)

[2022-08-30 17:51] #239 closed

[2022-08-30 17:56] BenjaminMoe commented on #273
Need concrete examples on issue to move forward on this.

Posting example from @VladimirAlexiev 's comment: https://github.com/euBusinessGraph/eubg-data/blob/master/model/ebg-ontology.ttl#L704

[code]

[2022-08-30 17:56] mkhraisha commented on #273
@TallTed  suggests switching to a string address field rather than using a prescribed set of  fields because multiple places do not support the schema.org address format.

[2022-08-30 17:56] nissimsan commented on #273
UN/CEFACT defines address line 1 through 5. Discussion on the call to potentially go with something looser like that.

[2022-08-30 17:57] OR13 commented on #273
Need a complete example for a "new proposal" in JSON-LD.

[2022-08-30 17:57] nissimsan commented on #273
https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Address-properies

[2022-08-30 17:59] nissimsan commented on #286
https://w3id.org/traceability/v1 is correct - this can be closed.

[2022-08-30 17:59] OR13 commented on #286
I suggest closing as asked and answered.

[2022-08-30 18:02] OR13 commented on #406
Next step is to identify any RDF Classes that we are currently defining related to finance, and see if FIBO is a better solution for them.

[2022-08-30 18:03] mkhraisha commented on #406
Looking for someone to be assigned to this issue.

[2022-08-30 18:03] OR13 commented on #406
https://spec.edmcouncil.org/fibo/ontology/SEC/Debt/Bonds/

[2022-08-30 18:06] OR13 commented on #230
I suggest closing this issue, the advice applies to all schemas.

[2022-08-30 18:07] #230 closed

[2022-08-30 18:10] OR13 commented on #423
I suggest closing this.

[2022-08-30 18:14] mkhraisha commented on #423
I believe we should have our fake data is useful to help understand the structure, rather than to use as an example data that is ingested.

@TallTed suggested if that is the case make the data more explicitly fake like "example street"

[2022-08-30 18:15] #423 closed

[2022-08-30 18:17] mkhraisha opened #553 "Example data should be either more fake or more real"
#423  tangentially touched on this point during conversation.

Our data is misleading as it looks like it could be real but it isn't. We should either make it more explicitly fake or make it map to real places.

[2022-08-30 18:18] mkhraisha commented on #272
@VladimirAlexiev pinging you to resurface this.

[2022-08-30 18:18] nissimsan commented on #272
LegalEntityIdentifierCredential.yml seems like it should be a credential. Looks like a bug.

[2022-08-30 18:20] nissimsan commented on #443
Pretty sure this is stale

[2022-08-30 18:22] mkhraisha commented on #443
@mkhraisha  to confirm that these are manually or automatically updated

[2022-08-30 18:23] #444 closed

[2022-08-30 18:23] BenjaminMoe commented on #444
https://github.com/w3c-ccg/traceability-vocab/blob/main/DEVELOPMENT.md

[2022-08-30 18:25] TallTed commented on #445
maybe retitle "Make all `type` `array` of `string`(s)"

[2022-08-30 18:25] mkhraisha commented on #445
@nissimsan states I believe we have updated this for steel and e-commerce.

@mkhraisha we will need to do this for Crude oil and gas

@mprorock  is this something you would like to do for ag?

[2022-08-30 19:11] TallTed commented on #273
@nissimsan --

Neither
https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Address-properies
nor
https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Address-properties
(
nor
https://service.unece.org/trade/uncefact/vocabulary/uncefact#Address-properies
nor
https://service.unece.org/trade/uncefact/vocabulary/uncefact#Address-properties
)
appear to exist.  I don't understand your

[2022-08-31 08:53] nissimsan commented on #273
@TallTed, that's odd....
![image](https://user-images.githubusercontent.com/34443212/187639181-4757ce4e-1312-4984-856b-7ba0b8db1c72.png)

[2022-08-31 15:06] TallTed commented on #273
Bah.  I didn't wait long enough for the huge page to load, and then for my browser to find the [#Address-properies](https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Address-properies) fragment.

(If they're not already aware of and fixing the `properies` typo, we should raise it to their attention.)

I'm also surprised to see that they worded the numbers, as `line1`, `line2`, `line3`,

[2022-09-01 07:13] nissimsan commented on #24
This conversation lives on on https://github.com/w3c-ccg/traceability-vocab/issues/385 and I also started some implementation work on https://github.com/w3c-ccg/traceability-vocab/pull/552. I suggest we close this issue and focus EPCIS discussions there.

[2022-09-09 08:34] nissimsan opened #555 "Rename `TraceablePresentation` to `WorkflowPresentation`"
Would WorkflowPresentation be clearer than TraceablePresentation?

[code]

[2022-09-09 09:03] nissimsan commented on #416
I suggest we address this problem pragmatically: Replace the word `Certificate` with `Credential`.
Based on the feedback we are (still) getting on this issue, people are primarily confused about what a "certificate" even is. Whereas they understand that we are making verifiable credentials - that is why you come to trace vocab.

Also, it would make our type look rather logical. Example:
[code]
Thi

[2022-09-09 15:48] TallTed commented on #555
First question seems obvious: Why does `TraceablePresentation` not suffice any longer?

Second is: What does `WorkflowPresentation` do, that `TraceablePresentation` does not?

[2022-09-09 17:54] mkhraisha commented on #555
I think it doesn't suffice because this presentation is a presentation that pertains to a workflow, it has workflow ids, and workflow definitions, and doesn't really talk about anything traceable.

I could see this being a better path forward.

[2022-09-09 19:30] TallTed commented on #555
That would seem to suggest that `traceability-vocab` and `traceability-interop` may also want renaming, though I'm not sure that `workflow-vocab` and/or `workflow-interop` will be any better...

I'd like a link to the use(s) and definition(s) of `WorkflowPresentation` (or `TraceablePresentation`) in existing document(s), rather than just the snippet above, as I think that this renaming can only be

[2022-09-12 11:02] nissimsan commented on #416
We are getting positive feedback from business/industry on the above suggestion. Marking this ready for PR.

[2022-09-13 18:08] OR13 commented on #451
We should surface warnings in the spec text.... like we do for undefined terms.

[2022-09-13 18:09] BenjaminMoe commented on #451
The errors getting thrown here are schema errors that surface when proofs are broken. I think the solution here would be to enable json schema errors in the CI.

[2022-09-13 18:13] BenjaminMoe commented on #451
PR: Enable JSON Schema Check in CI

[2022-09-13 18:16] BenjaminMoe commented on #451
Surface Errors in Respec document.

[2022-09-13 18:18] nissimsan commented on #297
Still pending a volunteer to pick this up.

[2022-09-13 18:18] OR13 commented on #297
Could use a JSON-LD example to make this more actionable.

[2022-09-13 18:18] nissimsan commented on #300
Pending volunteers...?

[2022-09-13 18:18] OR13 commented on #300
Could use a JSON-LD example to make this more actionable.

[2022-09-13 18:19] nissimsan commented on #300
@VladimirAlexiev, can you help out with a JSON-LD example, pls?

[2022-09-13 18:22] nissimsan commented on #304
@mkhraisha, can you confirm this is to update schema.org (not trace vocab)?

[2022-09-13 18:23] nissimsan commented on #304
Alternatively we can use an existing 2-char country code if one exists.

[2022-09-13 18:25] nissimsan commented on #306
Additional visuals:
- List of vocabs used
- List of schema warnings

[2022-09-13 21:07] BenjaminMoe opened #560 "List of files where example doesnt pass schema validation."
[code]

[2022-09-14 08:51] nissimsan commented on #304
https://www.iso.org/obp/ui/#iso:pub:PUB500001:en
https://www.iso.org/obp/ui/#search
We might want to switch to ISO for this ^

[2022-09-14 11:20] nissimsan opened #561 "GS1 EPCIS Modeling"
Moving what I started in https://github.com/w3c-ccg/traceability-vocab/pull/552 to an issue. General positive feedback on that direction, only lacking time to progress it further right now.

[2022-09-14 12:33] danbri commented on #271
FWIW the last schema.org release contained this file, https://github.com/schemaorg/schemaorg/blob/main/data/releases/14.0/httpequivs.ttl which asserts owl:equivalentClass and owl:equivalentProperty relationship between http: and https: term URIs. I don't think it has a treatment for Enumeration members. /cc @rjw

p.s. yes sorry I had a typo in my earlier response to @TallTed

And +1 to @OR13 re ac

[2022-09-14 13:47] TallTed commented on #271
Hallelujah!  Glad to hear it!  (Hope I don't forget it!)

[2022-09-14 15:29] BenjaminMoe commented on #555
I think that `WorkflowPresentation` is a more direct description of the functionality provided. "This is a presentation that is part of a Workflow".

I think that "Traceable Presentation" is a clearly defined term for the implications. "This presentation represents a series of credentials that can be represented as an RDF graph, to be able to query over to _trace through_ the information".

[2022-09-14 17:32] TallTed commented on #555
I guess we're working on `TraceableWorkflowPresentation`s, which is to say, the `Traceable` subset of all `WorkflowPresentation`s (akin to the idea that `VerifiablePresentation`s are the `Verifiable` subset of all `Presentation`s).

Key remaining questions are whether either `WorkflowPresentation` or `TraceablePresentation` is meaningful on its own, and whether `TraceableWorkflowPresentation` is j

[2022-09-14 17:42] mkhraisha commented on #548
Thank you for this!

We struggled a bit when creating this, our goal is to link to the product definition here: [product](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/Product.yml), and indicate that this MUST be a hashlink, or a fully embedded product object.

[2022-09-14 18:00] mkhraisha commented on #546
big +1 to splitting these up into individual issues, makes assigning myself to the ones I can work on much easier. I think this issue should be closed and individual per document issues opened, overlap with existing vocabulary elements should not be an impediment to opening those issues, we can do that work as we go forward.

[2022-09-14 18:07] mkhraisha commented on #461
Are you proposing adding a "raw material" vocabulary term with a generic structure or creating each of these as a schema?

+1 to the first if so.

[2022-09-15 06:58] VladimirAlexiev opened #562 "cosmetics on https://ref.gs1.org/epcis/"
@mgh128 It's great that EPCIS terms like https://ref.gs1.org/epcis/AssociationEvent have individual pages and resolve!!
Since https://github.com/gs1/EPCIS/ is not restored yet, I'll post here some cosmetic fixes that I think are needed:
1. I don't see much difference between the 3 "View modes" except a tab is renamed. Currently the "RDF" view is perfect but the other two need adjustment. Eg in JSO

[2022-09-15 13:55] TallTed commented on #562
**re point 2, "Cosmetics on the table"** — Space chars should not be inserted in string values of column 2 (as seen here); rather, the CSS should be set to permit auto-wrap within words.  (I can dig further on the specifics of how to do this, if needed; I don't know it off the top of my head, but I know that webmasters I've worked with have built it into tables on our pages.)

**re point 6, "IMHO:

[2022-09-16 09:22] VladimirAlexiev opened #564 "Product defects: ids (how to represent an individual product), quantities"
@nissimsan @mkhraisha cc @mgh128

I've looked at https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/Product.yml.
I'm comparing to EPCIS object events, which can use these standard IDs:
- `GTIN` for a product model
- `LGTIN` for GTIN plus a lot/batch number
- `SGTIN` for a GTIN plus a serial number

The identifiers in Product.yml are less well defined:
-

[2022-09-16 09:25] VladimirAlexiev commented on #548
@mkhraisha Is it really important to capture immutability?
- If someone fixes a spelling mistake in the product name, do you think you can sue them for this change?
- If you think it's important, how would you support it in the "embedded product object" case?

Your schema doesn't capture the "embedded product object" case. I've raised such need earlier in #280 (@OR13 @nissimsan).
Also, #290 is rel

[2022-09-16 11:11] VladimirAlexiev commented on #562
I checked how it looks on mobile phone:
- in Portrait, prop tables fill the screen horizontally. Class descriptions have a lot of unused space on the right
- in Landscape, prop tables leave some unused space on the right, and the Description column uses too big font

In all cases, the first two cols (prop name and expected value) have too much empty space because no breaks are enabled there.
- can

[2022-09-16 11:15] VladimirAlexiev commented on #561
@nissimsan in addition to what @mgh128 wrote in #552:
- event URLs (`eventID` in the JSON schema) must use a specific URL `ni://<hash>`
- https://tools.openepcis.io/openepcis-ui/ has useful tools:
  - https://tools.openepcis.io/openepcis-ui/EventHash to generate the above hash
  - It also had JSON schema validation: @domguinard or Mark, do you know where's this gone?
- You'll find the attached
[EP

[2022-09-16 17:45] OR13 opened #565 "Test Suite link is broken"
<img width="783" alt="Screen Shot 2022-09-16 at 12 44 59 PM" src="https://user-images.githubusercontent.com/8295856/190700931-cf1d79fd-71d6-49ea-8a89-e6f0b57afb20.png">

[2022-09-16 18:43] mkhraisha commented on #565
The issue here is that the HTML doc has an href to `"/testsuite/"`, the deployment on github pages expects it to be under `traceability-vocab/testsuite`.
serving locally a link to `testsuite` works.

[2022-09-16 18:59] mkhraisha commented on #564
@VladimirAlexiev, I don't think we have thanked you enough for your wonderful work. Thank you for this, and the many other issues you opened.

`productID` is intentionally made to be a generic id, that may or may not be a global identifier, some of the products in this vocabulary (such as a barrel of oil), simply do not have a global id in the industry, rather, they are provided IDs by individual

[2022-09-19 10:03] nissimsan commented on #561
Thanks @VladimirAlexiev.
On the last point, @mgh128 already pointed me to that exact diagram. :) Very useful indeed! (I would encourage publishing it more prominently and higher resolution)

[2022-09-19 10:14] mgh128 commented on #561
The published EPCIS 2.0 standard ( https://ref.gs1.org/standards/epcis/ ) does include UML class diagrams in section 7.2.1
Sadly, although I provided those as vector graphic PDFs within the Word document, at the time of publication, they have been downgraded to fuzzy bitmaps that are almost unusable.   I'll alert our publications team - please cross your fingers, press your thumbs etc.!  In the me

[2022-09-19 11:22] VladimirAlexiev commented on #561
@mgh128 thanks! So sad that we share EPCIS stuff in a third party git project ;-)

[2022-09-19 11:36] VladimirAlexiev commented on #564
@mkhraisha
- GTIN is global because its issuance is delegated to various companies (GS1 subscribers), similar to DOIs and IP addresses. There's no GTIN for "barrel of oil": that'd be in the GPC (global product classification); to learn about it you can start from https://www.wikidata.org/wiki/Property:P8957. There can be a GTIN for eg "Caucasus light oil from oil field X"
- if you use `Quantitativ

[2022-09-19 12:02] mgh128 commented on #561
@VladimirAlexiev  - I've alerted @CraigRe - and he'll discuss with the GS1 publications team to try to get the PDF vector version published.  I've tried previously (without much success) on a similar issue for the UML class diagram in the [GS1 GLN Data Model Solution Standard](https://www.gs1.org/standards/gln-data-model-solution-standard/current-standard) - and they so far only replaced one compl

[2022-09-19 12:27] VladimirAlexiev opened #567 "move steel-workflow.png to resources"
Move docs/steel-workflow.png to docs/resources/docs/steel-workflow.png.
Same for ecommerce-workflow.png
Fix any link in documentation.

[2022-09-19 12:35] VladimirAlexiev opened #568 "inconsistently spelled schema.org URLs"
As continuation of #271, I'll post specific problems regarding schema URLs.
This looks for schema terms written differently from all others:
[code]
- the first 3 needlessly enclose the URL in single quotes
- the last 5 are invalid: `https://https://`

[2022-09-19 12:56] VladimirAlexiev opened #569 "wrong use of ItemList"
The following schemas use https://schema.org/ItemList:
- AgricultureActivity.yml: 3
- AgriculturePackage.yml: 1
- ppq203.yml: 1
- PGAShipmentStatusList.yml: 1
- Phytosanitary.yml: 1

That's a rather specific class that should only be used for **ordered** lists, and there's no way to specify the class of elements.
More precisely, its `itemListElement` must be `ListItem`, which must have a `position

[2022-09-19 13:02] VladimirAlexiev opened #570 "https://w3id.org/identifier"
Some schemas use https://w3id.org/identifier but such property doesn't exist:
(nor can it, because the pattern at that site is `https://w3id.org/<ontology>/<property>` or deeper
- NaturalGasProduct.yml : 1
- Inbond.yml: 6
- CrudeOilProduct.yml: 1

[2022-09-19 13:09] OR13 commented on #270
Feels like we can probably do several type: id clean ups at once.

[2022-09-19 13:35] VladimirAlexiev opened #571 "conflation of `identifier`: use class `traceability:Identifier`"
11 schemas use a URL containing `/identifier` multiple times:
[code]

After #570 is fixed, this would probably mean they use the same `schema.org/identifier` URL multiple times.
This probably means they conflate several different identifiers in one field.
I can see two cases, eg:

1. NaturalGasProduct.yml
[code]
This conflates two different objects (the well and the gas extracted from it) into the

[2022-09-19 13:38] VladimirAlexiev opened #572 "identifier wrongly used as class"
This shows wrong uses of `identifier` as a type:
[code]
- common/ppq203.yml: 2
- common/UsdaSc6.yml: 5

https://schema.org/identifier is a property not class.
#571 shows how to construct a class `:Identifier` to avoid identifier conflation issues.

[2022-09-19 13:40] VladimirAlexiev commented on #271
@OR13 Please reopen this: it's a task to grep all schema.org terms and check them for existence in schema.org.
Do you expect me to find all cases? I've started posting specific cases, but can't someone else share in this work?

[2022-09-19 13:58] VladimirAlexiev opened #573 "avoid schema.org datatypes"
schema.org datatypes should be avoided because they are not indexed by semantic repositories and are harmful for interoperability.
See https://github.com/schemaorg/schemaorg/issues/1781 for discussion, including findings by @jmkeil that 72% of `schema:Date` found in the wild are in fact `xsd:dateTime` but not `schema:DateTime`.

22 schemas have this problem 32 times
[code]
- eg BindingDataRegistra

[2022-09-19 13:59] VladimirAlexiev opened #574 "www.schema.org is wrong"
6 schemas use URLs like `www.schema.org`, which are wrong (actual schema.org terms don't have `www.`:
[code]

[2022-09-19 14:03] VladimirAlexiev opened #575 "conflation of `value`"
Similar to #571, some schemas map several terms to `schema:value`, which makes it impossible to distinguish these values in RDF.
Eg OFBillOfLading:
[code]
then in the example:
[code]

This means that in RDF you cannot tell which number is which.
[code]

[2022-09-19 14:06] nissimsan commented on #271
@VladimirAlexiev - reopening. The floor is yours... :)

[2022-09-19 14:28] VladimirAlexiev opened #576 "declare datatype in `$linkedData`"
In a JSONLD context one can and should declare the datatypes of props, so that a JSON payload string is mapped to the appropriate datatype.
- (This is unlike the expected range of an object property, which cannot be declared, because the type of all such props is `@is`)

This is especially important for literals that don't have  native JSON type (xsd:date, xsd:dateTime).
It's also important for nu

[2022-09-19 14:35] VladimirAlexiev commented on #162
@OR13

JSON Schema does not generate JSON-LD context of its own. So can you please illustrate the problem?

@mprorock

Can you please explain how this is resolved by pointing to schemas that use inheritance?

I'm asking in relation to 2 of the issues I posted:
- #277 asks to use inheritance rather than composition, and  gives an example of need for inheritance ("SeafoodProduct inherits from AgProd

[2022-09-19 14:48] VladimirAlexiev opened #577 "declare enumerations"
ImmediateDelivery.yml:
[code]
The JSON type should be `enum` not mere string, and enumerate the allowed options.

---

If you want to capture this semantically, it gets more complex:
- make a skos:ConceptScheme for this enumeration, eg https://w3id.org/traceability#TransportMode (note the capital letter!)
- populate it with skos:Concept, eg

[code]
- use an embedded context to map the terms, eg
[c

[2022-09-19 15:05] VladimirAlexiev opened #578 "unLocode, iataAirportCode"
Place.yml uses these two identifiers, but:
- they are not shown in the example
- it's unclear how they should be used:
   1. applicable only to cities/ports with LOCODE, respectively airports, OR
   2. should designate the closest **place(s)** with LOCODE, respectively IATA code, OR
   3. should designate the single **place** with LOCODE/IATA to be used for delivery to this place, for this particu

[2022-09-19 20:27] OR13 commented on #162
We do this in this repo, its part of our build step today:

https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/traceability-schemas/package.json#L17

[2022-09-20 18:12] #565 closed

[2022-09-21 03:10] TallTed commented on #270
@VladimirAlexiev

Reasonable. Schema.org was (and to a lessening degree, is) a similar mish-mash of a _single_ ontology that had radically conflicting `range` & `domain` values, which required `schema:rangeIncludes` for many

Really?  The [preset `rdfs:` namespace at DBpedia](https://dbpedia.org/sparql/?help=nsdecl) matches the [`rdfs:` lookup on prefix.cc](https://prefix.cc/rdfs), which is what I

[2022-09-21 03:29] TallTed commented on #571
Some messed up MD tags (appears to be mostly misplaced and/or missing backticks; definitely in the last paragraph; quite possibly elsewhere) may decrease comprehension of what you're trying to say. I suggest viewing your opening comment on the website, and editing the MD tags.

[2022-10-04 18:22] #560 closed

[2022-10-11 17:42] BenjaminMoe opened #586 "Make sure that schema errors throw errors on the Jest tests for CI"
To prevent bad schemas from getting into our repository we need to make sure our Jest tests are throwing errors instead of logging them.

[2022-10-11 17:49] brownoxford opened #587 "Investigate removing lerna from this repo"
This repo has only one package and Lerna is probably not required.

[2022-10-11 17:53] brownoxford commented on #152
This issue has gone stale, adding pending close label.

[2022-10-11 17:56] brownoxford commented on #167
Discussed on call, closing. This is done.

[2022-10-11 17:56] #167 closed

[2022-10-11 17:58] OR13 commented on #185
I suggest we close this.

[2022-10-11 17:59] OR13 commented on #231
Still needs to be fixed

![Screen Shot 2022-10-11 at 12 59 30 PM](https://user-images.githubusercontent.com/8295856/195165496-a084cc72-2acf-4d62-9a2b-1ffb0c75cabf.png)

[2022-10-11 18:00] OR13 commented on #235
Seems fixed

![Screen Shot 2022-10-11 at 1 00 18 PM](https://user-images.githubusercontent.com/8295856/195165625-8baec999-aca8-4a7b-8e3b-564b6ead46b8.png)

[2022-10-11 18:00] #235 closed

[2022-10-11 18:08] BenjaminMoe commented on #464
1. We need to boot everyone out of the meeting when done
2. Done in Chris' interop readme
3. Use the menu to stop and start transcriber without stopping and starting the meeting
4. No.

@OR13 suggests not using auto-scribe. https://www.w3.org/2008/04/scribe.html

[2022-10-11 18:08] brownoxford commented on #464
Ready for PR once trace-interop has been updated to include instructions for scribes

[2022-10-11 18:12] brownoxford commented on #160
Discussed on call and consensus was to pending-close this issue.

[2022-10-11 18:17] brownoxford commented on #393
Discussed on call, @nissimsan will re-ping on this one.

[2022-10-11 18:18] #455 closed

[2022-10-11 18:19] OR13 commented on #192
I suggest closing, as done.

[2022-10-11 18:19] #192 closed

[2022-10-11 18:23] BenjaminMoe commented on #416
Put a `Merge First` tag when we address this.

[2022-10-11 18:27] BenjaminMoe commented on #217
- No undefined terms for context
- Schemas are defined and passing
- Missing list of credentials per vertical

[2022-10-11 18:27] brownoxford commented on #217
@mkhraisha suggested action is to call out each vertical and which schemas are missing. Once we have these we are ready for V1.

[2022-10-11 18:28] nissimsan commented on #217
Why would v1 not just be the list of credentials we have now?

[2022-10-11 18:40] mkhraisha commented on #217
To ensure we aren't talking past each other, we should have a version for the context and vocabulary. see @OR13's comment https://github.com/w3c-ccg/traceability-vocab/issues/65#issuecomment-771840311

I believe "milestone" versions like v1/v2 etc should be cut at a point where we expect things have stabilized.
Obviously, the vocabulary would shift weekly as we keep moving things, and IMO looking

[2022-10-13 01:49] TallTed commented on #379
I don't see the point of your question.

[2022-10-14 16:46] BenjaminMoe opened #593 "Date string should be switched to Datetime"
https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/CTPAT.yml#L58

[code]

Value is a Datetime, should use Datetime for JSOn Schema
`"dateOfLastValidation": "2022-01-06T11:50:00Z",`

[2022-10-14 17:18] TallTed commented on #593
Please confirm whether this is really just a DATE (as the name suggests) or really a DATETIME (as the sample value suggests) when recorded on existing paper forms and/or electronic systems.

If the latter, and if possible, I would suggest changing the attribute from `dateOfLastValidation` to `timeOfLastValidation` or perhaps better `datetimeOfLastValidation` or `timestampOfLastValidation`.  Even i

[2022-10-17 12:23] nissimsan commented on #204
I suggest we change 'MeasuredValue` to https://service.unece.org/trade/uncefact/vocabulary/uncefact/#Measurement.
<img width="680" alt="image" src="https://user-images.githubusercontent.com/34443212/196175988-0b07b655-7b73-4e97-a2cf-b3c1e77ba41f.png">

It has a relevant code list of typeCodes too:
https://service.unece.org/trade/uncefact/vocabulary/uncl6311/

[2022-10-17 14:22] nissimsan commented on #393
I looked into this. QUDT does not have a role to play here; QUDT is focused on units, not which type of measurement is conducted.

I suggest we close this ticket and continue our search for a proper metallurgy tests vocabulary on a fresh issue which isn't premised on QUDT.

[2022-10-17 14:54] nissimsan opened #594 "Metallurgy test vocabulary"
We need identifiers for mechanical properties tests. According to https://en.wikipedia.org/wiki/Tensile_testing#Standards it seems like the relevant standards include:
- `https://www.iso.org/obp/ui/#iso:std:iso:6892:-1:ed-3:v1:en`
- `https://www.astm.org/e0008_e0008m-22.html`
- `https://webstore.ansi.org/Standards/JIS/jis22412011`

All standards are of the "you must buy this PDF document" type.

T

[2022-10-17 15:01] nissimsan commented on #594
ISO can be used to express rather okay looking LD from publicly available vocab/documentation.

Here's an example from [Mill Test schema](https://w3c-ccg.github.io/traceability-vocab/#MillTestReportCertificate) updated with ISO identifiers:

[code]

[2022-10-18 17:36] #425 closed

[2022-10-18 17:37] #231 closed

[2022-10-18 17:50] BenjaminMoe opened #596 "Do we make `id` a requirement for trace-vocab credentials?"
Issue spawned from PR: https://github.com/w3c-ccg/traceability-vocab/pull/592

`id` is optional in the VC-data model. For trace-vocab, we're expecting the RDF graph representation of our credentials to be interoperable. We want to force good JSON-LD practices and not have empty nodes.

Proposal:
1. We add `id` as a required value to all of the credentials defined in trace-vocab
2. We make the requ

[2022-10-18 18:19] BenjaminMoe commented on #374
Looks like we should be using related link?

[2022-10-18 18:21] nissimsan commented on #178
It is now fall. I will reach out.

[2022-10-18 18:24] #477 closed

[2022-10-18 22:06] TallTed commented on #374
There appear to be two things being discussed here.

First, what are the semantics of the relation to be expressed?  These should be compared to the semantics of the relation denoted by the identifier being contemplated.  If they match, that relation can be used.  If they do not match, that relation must not be used.  `Evidence` *should* be a fairly strong relation; [`Related Links` (`schema:relat

[2022-10-19 12:00] nissimsan commented on #178
Just followed up with Jeremy at USITC.

Expecting that he will follow the link to here too (but be precluded from responding) - hi Jeremy!  👋

[2022-10-25 17:52] #393 closed

[2022-10-25 17:55] nissimsan commented on #204
Provide example of measurements. Propose here, then we can move to a PR.

[2022-10-25 17:56] #390 closed

[2022-10-25 17:58] nissimsan commented on #350
We did this

[2022-10-25 17:58] #350 closed

[2022-10-25 18:00] OR13 commented on #353
I suggest we revise this to track the W3C VCWG tests instead of the DIF repo test suite.

[2022-10-25 18:01] nissimsan commented on #344
If VC2.0 did this, we wouldn't need to...

[2022-10-25 18:05] nissimsan commented on #526
Needs a diff and intelligent choice of what to bring over.
Interop has been polished, vocab needs updating.

[2022-10-25 18:06] OR13 commented on #357
I am a +1 for using absolute URLs and markdown.

[2022-10-25 18:07] nissimsan commented on #366
Mahmoud and Paul no longer on the call - let's discuss this next time

[2022-10-25 18:12] OR13 commented on #528
please kill this, somehow.

[2022-10-25 18:12] OR13 commented on #528
`entityType` is not allowed in any of "Transmute" credentials.

[2022-10-25 18:12] BenjaminMoe commented on #528
https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/Entity.yml#L14

[code]

[2022-10-25 18:13] #528 closed

[2022-10-25 18:17] nissimsan commented on #527
What should the resulting @context look like to support this?

[2022-10-25 18:27] OR13 commented on #527
On the call, we discussed how `domain` and `range` might be relevant to `oneOf` and `anyOf`.

cc @TallTed

[2022-10-25 18:27] nissimsan commented on #527
@TallTed , please add requirements how we can solve this

[2022-10-25 18:27] TallTed commented on #527
@TallTed to consider and rant about rdfs:domain, rdfs:range vs schema:domainIncludes, schema:rangeIncludes and oneOf, anyOf ...

[2022-10-25 18:32] BenjaminMoe commented on #399
The code to generate the context from the schema's is defined here: https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/traceability-schemas/scripts/openapi-to-context.js#L19.

I"m not sure that this is something that would be widely applicable to NPM. We have a specific use case for taking a list of schemas and converting them into `@context`. I'm not sure how widely applicable that

[2022-10-25 20:45] TallTed commented on #527
(rant posted above)

[2022-10-25 21:16] TallTed commented on #344
Suggested title revision:
```Undefined terms need an optional default expansion (e.g., via `@vocab` in second `@context`), related to https://github.com/w3c/vc-data-model/issues/953```

[2022-10-25 21:28] TallTed commented on #527
It would have been super cool (and still could be!) to include a link to [the issue that prompted this one](https://github.com/w3c-ccg/traceability-vocab/issues/395) in the initial comment on this issue.

(The immediate "@[BenjaminMoe](https://github.com/BenjaminMoe) BenjaminMoe mentioned this issue [on Aug 16](https://github.com/w3c-ccg/traceability-vocab/issues/527#ref-issue-1216458166)" here, t

[2022-10-28 16:27] OR13 opened #607 "Clearly define "revocation" and "suspension"."
Requirements:

- use status list 2021
- use a "status changed" credential type which does not yet exist, and which exposes the duration of the changed status.

[2022-10-28 16:31] OR13 commented on #607
[code]

[code]

[2022-10-28 16:35] mkhraisha commented on #607
Requirements:

* Verifier needs to be able to check the status of the credential.
* Notification that the status of the credential has changed
* Suspension of Benefits until X Activity occurs
* Time of Suspension
* Verifier of a valid (non-revoked/suspended) credential may or may not confer benefits due to their own business rules

[2022-10-31 01:24] rhofvendahl commented on #389
PR implementing this [here](https://github.com/w3c-ccg/traceability-vocab/pull/608)

@mprorock did you mean to create a credential for SC-237A in addition to a `common` schema?

[2022-11-01 18:18] nissimsan commented on #521
Awaiting outcome of the discussion VC2.0 #902 how to progress this.

[2022-11-01 18:19] BenjaminMoe commented on #427
Proposal: Fake data should be more fake. `Example City`, `Example Street`.

[2022-11-04 19:43] #389 closed

[2022-11-08 18:43] BenjaminMoe opened #616 "`OrganicCertificateCredential` vs `OrganicCertificationCredential`"
From PR: https://github.com/w3c-ccg/traceability-vocab/pull/615. Which version should we go with?

[2022-11-08 18:47] BenjaminMoe commented on #267
@nissimsan can we follow up on this?

[2022-11-08 18:48] BenjaminMoe commented on #278
Assigning @rhofvendahl

[2022-11-08 18:49] BenjaminMoe commented on #279
This looks like it's solved. Closing.

[2022-11-08 18:49] #279 closed

[2022-11-08 18:51] BenjaminMoe commented on #312
We should align with schema.org's recommendation for a number.

[2022-11-08 18:52] BenjaminMoe commented on #516
Action item is unclear.

[2022-11-08 18:55] BenjaminMoe commented on #532
@VladimirAlexiev can you make a recommendation for which terms should be used?

[2022-11-08 18:57] BenjaminMoe commented on #530
@VladimirAlexiev can you get on the call to discuss this?

[2022-11-08 19:03] BenjaminMoe commented on #534
@VladimirAlexiev can you provide a specific recommendation for a resolution on this issue?

[2022-11-08 19:05] BenjaminMoe commented on #274
@VladimirAlexiev any updates on this?

[2022-11-08 19:06] mkhraisha commented on #462
here is an example of a really good visualization we may want to use: https://onerecord.iata.org/ontology/webvowl/index.html#

[2022-11-08 19:07] BenjaminMoe commented on #531
@VladimirAlexiev any follow up on this?

[2022-11-08 19:09] BenjaminMoe commented on #284
@nissimsan any updates?

[2022-11-08 19:11] BenjaminMoe commented on #284
Suggestion: have a section in the respec document for terms we accidentally need to define.

[2022-11-08 19:15] BenjaminMoe commented on #285
@OR13 dlongley @VladimirAlexiev is there an action item on this issue?

[2022-11-08 19:17] BenjaminMoe commented on #536
@nissimsan any updates?

[2022-11-08 21:24] nissimsan commented on #536
Yes, it's basically done. we're currently waiting for the `vocabulary.uncefact.org` DNS to propagate. It takes oddly long, something must have gone wrong.

This is what v1 will look like, though: dmvc7xzscpizo.cloudfront.net

[2022-11-08 23:06] OR13 commented on #285
I don't think so, we have decided not to curies...  I suggest we close this issue.

[2022-11-09 12:40] VladimirAlexiev commented on #534
Sure: adopt the EPCIS idea of using two fields (quantitative and qualitative)

[2022-11-09 12:45] VladimirAlexiev commented on #532
@BenjaminMoe
- adopt the schema:StructuredValue Pattern. Put the value and unit in their own node,  so they are not confused between different measurements
- use json terms that correspond to the rdf props fully. "weight" is not the same as "netWeight"
- declare value to be xsd:decimal and carry it in json as a string, not as json float

[2022-11-09 12:47] VladimirAlexiev commented on #530
If nobody is willing to research and evaluate this work, close the issue

[2022-11-09 19:26] TallTed commented on #616
https://www.google.com/search?q=%22OrganicCertificate%22
vs
https://www.google.com/search?q=%22OrganicCertification%22
seems to support my suggestion of the latter.

[2022-11-10 08:49] nissimsan commented on #531
I think this ticket has served its purpose. These suggestions are being tackled individually on the relevant repos, and we also have tickets to follow up (such as https://github.com/w3c-ccg/traceability-vocab/issues/536).

I suggest we close - no need to keep this ticket around.

[2022-11-10 14:29] brownoxford commented on #616
+1 for "OrganicCertification". If I understand things correctly, this is something that an organization achieves (like PCI Compliance, etc.), not something it receives as a physical item (even though there may be some kind of paperwork associated with it).

[2022-11-11 22:30] paulfdietrich commented on #281
This is what I am hearing from our experts at GS1.   UPC does not have a GS1 vocabulary since UPC is an industry term and not a GS1 standard like GTIN. When folks say UPC they are often referring to a GTIN-12. The GTIN vocabulary element already included conveys the proper information for agriculture and the UPC field is not required. Care must be taken to ensure that industry users looking for UP

[2022-11-12 00:36] BenjaminMoe opened #624 "Proposal: Update Tooling to separate Schema from Context"
## Description of Problem:

Right now we have JSON Schema and Context definitions in the same file. From working with this approach I think this creates some of the following problems.

1. **Bloat**. Anytime you use organization, you pull in things like LEI code or IATA code, which are required for specific credentials related to organizations, but not applicable to most (eg. "what i need an iata

[2022-11-14 09:14] nissimsan commented on #624
This separation of JSON-LD and JSON Schema makes sense to me.

@BenjaminMoe regarding _6. Vocabulary section of the respec document will be removed_ I don't know if that is necessary, it still describes our [ontology](https://github.com/w3c-ccg/traceability-vocab/issues/284).

(Also, a detail: we just removed Organization.address, it's slightly confusing that you use that exact example).

[2022-11-18 01:56] rhofvendahl commented on #616
@brownoxford That sounds reasonable to me.

I'll assign myself & make a PR when I get a chance.

[2022-11-20 19:31] jmmski commented on #267
@BenjaminMoe - is it OK if I add some feedback on the schema and can give an example of a generic BOL?  Can I suggest a location in the schema to place it, also?

[2022-11-20 19:54] jmmski commented on #217
@mkhraisha @BenjaminMoe I am new to this group but have been following the space for a couple of years.  When you mention verticals.  Do you specifically mean the verticals in the Vocab Items as use cases 3.1 through 3.5

[2022-11-21 15:15] nissimsan commented on #267
@jmmski absolutely!

Note that we have other types such as `MasterBillOfLading`, `DCSATransportDocument`, `IATAAirWaybill` all of which have much more details. Might be useful for inspiration.

The tricky question (I think) is "what is generic"? For example, containerization can't be assumed. Looking forward to seeing your stuff! Thank you!

[2022-11-22 17:58] mfosterio commented on #344
What are your thoughts of describing the undefinedTerm in Schema.org with the type PropertyValue?
{
  "@context": "http://schema.org/",
  "@type": "PropertyValue",
  "name" : "bar",
  "value": "baz"
}

[2022-11-22 18:29] mfosterio commented on #344
What are your thought of referencing the schema.org type PorpertyValue to generate something like the following"
{
  "`@type`": "https://schema.org/Organization",
  "https://schema.org/description": "Realigned maximized alliance",
  "https://schema.org/name": "Bartell Inc 🔥",
  "https://w3id.org/traceability/#undefinedTerm": {
    "`@type`": "http://schema.org/PropertyValue",
    "http://schema.or

[2022-11-22 19:00] brownoxford commented on #290
Assigning to @mkhraisha for review until next week.

[2022-11-22 19:03] brownoxford commented on #277
@VladimirAlexiev we would like to move this towards an actionable conclusion - can you please put forth a  proposal?

[2022-11-22 19:04] OR13 commented on #277
We're not currently planning on changing the schema processing logic to make it aware of inheritance.

I suggest we reformulate the ask in the shape of a feature request of the jsonld-schema package, which we are using internally here.

[2022-11-22 19:06] TallTed commented on #277
I think that what's being called "inheritance" here is what (in the RDF/JSON-LD world) is handled as {sub,super}-classes and/or {sub,super}-properties.  Requires RDF inference/reasoning somewhere in the tool chain.  That probably makes more sense as a path forward...

[2022-11-22 19:06] brownoxford commented on #280
We are currently not planning on supporting anything other than OpenAPI specification v3.

[2022-11-22 19:07] OR13 commented on #280
I suggest we stick to using OAS 3.0

[2022-11-22 19:13] brownoxford commented on #542
Closing, this was Ben's note-to-self

[2022-11-22 19:13] #542 closed

[2022-11-22 19:14] brownoxford commented on #543
Closing, we did this

[2022-11-22 19:14] #543 closed

[2022-11-22 19:18] brownoxford commented on #385
Need for someone to pick this up - @nissimsan is happy to collaborate and discuss any work already done

[2022-11-22 19:21] OR13 commented on #406
@fkim7 please add an example if you are able.

[2022-11-22 19:27] brownoxford commented on #553
@OR13 commented that this was originally more about making sure that data is valid, e.g., not using 999.0 as a latitude value.

[2022-11-22 19:27] fkim7 commented on #406
Sure- it's a work in progress and will get it to you in the YAML format as requested but here's an example.  The fields were chosen based on the minimum requirements of the Travel Rule from FinCEN and FinTRAC but open to suggestions.

https://www.fincen.gov/sites/default/files/advisory/advissu7.pdf
https://www.fintrac-canafe.gc.ca/guidance-directives/transaction-operation/travel-acheminement/1-eng

[2022-11-22 19:29] brownoxford commented on #553
Closing as too general - if invalid example data is found, please open an issue to fix the specific problem.

[2022-11-22 19:29] #553 closed

[2022-11-22 19:32] nissimsan opened #633 "Fix GeoCoordinates"
This is an example of an invalid GeoCoordinate (specifically `long -100`) - there are a few more such examples. Let's get them fix into real GeoCoordinates.

[code]

[2022-11-22 19:34] nissimsan commented on #633
And while we're at it, when changing, let's pick some coordinates in the vicinity/same country of the Location postalAddress.

[2022-11-23 08:04] nissimsan commented on #280
Agreed. While the normalized flat structure with references looks very attractive, the world is full of developers who can intuitively pick up a hierarchical JSON. That is our primary audience.

[2022-11-23 15:39] visibleOrigins commented on #385
@nissimsan happy to try to lend some insight here. I'm with the GS1 US standards team and I focuse on EPCIS. I work with @paulfdietrich, @mgh128, and @CraigRe .

A couple of quick thoughts:

1) EPCIS defines an abstract data model for recording and sharing physical object-centric events occurring across the supply chain. When two disparate systems are exchanging EPCIS data it's done as a collectio

[2022-11-23 16:10] mgh128 commented on #385
Thanks to Neil @visibleOrigins for that summary.  Regarding what he said :

_EPCIS data differs from other business data because it doesn't correlate with a concrete transaction recognized by trading partners (e.g., Bill of Lading, Purchase Order). It envisions a data sharing model of inter-connected EPCIS repositories utilizing APIs to execute queries for the events held by respective trading par

[2022-11-28 09:29] nissimsan opened #635 "Traceability-vocab is not a "vocab""
While sometimes we are forced to invent our own terms, it is our [stated mission striving not to](https://w3id.org/traceability/#vocabulary-linkage). So the name "traceability-_vocab_" actually seems misleading. We are sending a signal that "this is yet another vocab", which is the opposite of our intention.

Is a name correction even practically possible at this stage? What is the appetite of an

[2022-11-28 16:25] BenjaminMoe opened #637 "Instances of schemas are non-spanning"
Add validation check for making sure examples are a spanning checking of their respective schemas.

**Condition for resolution:**

We have a PR for an added test to see if a credential example includes all described objects. And that each of those objects include all required fields. By definition, and complex object is required.

[2022-11-28 16:38] OR13 commented on #637
There are examples of credentials where the example contains a subset of the schema.

For example: BillOfLadingCredential

We consider every instance (example) that contains a subset of the schema (requirements) to be an error.

Our current tests in this repo don't catch these errors, but our tests outside this repo do.

Each example must contain ALL fields that are required per the schema definit

[2022-11-29 00:49] rhofvendahl opened #640 "For mock numbers "555" should be prefix, not area code"
AFAIK good practice for mock phone numbers is to use 555 as the prefix (the three digits after area code), along the lines of "(xxx) 555-xxxx"). [Here's](https://en.wikipedia.org/wiki/555_(telephone_number)) a wiki article on use of the 555 prefix, and [another](https://en.wikipedia.org/wiki/Fictitious_telephone_number) on mock phone numbers generally.

Currently most of the mock numbers in our sc

[2022-11-29 01:05] rhofvendahl commented on #640
Also: I'd be interested in hearing opinions on `+1-xxx-xxx-xxxx` format vs just `xxx-xxx-xxxx`. Currently it's a mix, is that what we want?

[2022-11-29 15:41] TallTed commented on #640
`+1` is the country code for USA, Canada, and various smaller entities that also participate in the [NANPA](https://en.wikipedia.org/wiki/North_American_Numbering_Plan).  It is appropriate to use this for all such (fake or real) numbers.

Any fake numbers we're putting in other countries should get the relevant (real) country code, e.g., `+44` for the UK.

Omitting the country code may lead to var

[2022-11-30 22:08] OR13 commented on #406
### Credential Type
[code]

### Credential Subject Type

[code]

Seems like it would be pretty trivial to map these to yaml files, based on these links as examples:

A credential schema:

- https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/credentials/EventCredential.yml

A credential subject type schema:

- https://github.com/w3c-ccg/traceability-vocab/blob/m

[2022-11-30 23:10] fkim7 commented on #406
PR for review https://github.com/w3c-ccg/traceability-vocab/pull/647/files
- Grouped address together, and renamed the fields as to align with others from traceability-vocab.