[2020-10-14 16:28] OR13 opened #3 "Tracing Chemical Properties"
Continuing discussion from: https://github.com/transmute-industries/traceability-vocab/issues/1

[2020-10-14 16:29] OR13 opened #4 "Tracing Mechanical Properties"
Continuing discussion from https://github.com/transmute-industries/traceability-vocab/issues/3

[2020-10-14 16:29] OR13 opened #5 "Modeling Composition / Ingredients"
Continuing discussion from https://github.com/transmute-industries/traceability-vocab/issues/2

[2020-10-14 16:30] OR13 opened #6 "Generating JSON-LD from JSON Schema"
Continuing discussion from https://github.com/transmute-industries/traceability-vocab/issues/4

[2020-10-14 16:43] OR13 opened #7 "Fix w3id.org redirects"
https://github.com/perma-id/w3id.org/pull/1891

[2020-10-14 16:44] OR13 opened #8 "Fix jsonld checker results"
https://www.jsonld-checker.com/?tab=2&repo=https%3A%2F%2Fgithub.com%2Fw3c-ccg%2Ftraceability-vocab

[2020-10-14 16:44] mgh128 opened #9 "For PostalAddress, Place and GeoCoordinates use schema.org rather than GS1 Web vocab"
A friendly suggestion...

For the following classes:

- PostalAddress
- Place
- GeoCoordinates

and attributes within those classes, please consider referencing schema.org URIs for those where they exist, instead of referencing the corresponding terms within the GS1 Web vocabulary.

GS1 Web vocabulary ( https://www.gs1.org/voc ) is positioned / acknowledged as an external extension to schema.org a

[2020-10-14 16:44] OR13 commented on #8
This is blocked by https://github.com/w3c-ccg/traceability-vocab/issues/7

[2020-10-14 19:40] OR13 commented on #7
https://w3id.org/traceability/v1

[2020-10-14 19:40] #7 closed

[2020-10-14 19:42] OR13 commented on #9
@mgh128 thanks for this suggestion, will do.

If you can think of any GS1 vocabulary with 100% should use, please open issues suggesting it.

[2020-10-14 19:44] OR13 commented on #8
unblocked... need to make sure generated examples are all passing.

[2020-10-16 16:52] OR13 opened #10 "Support for UTF-8"
Can we agree that everything can be utf-8?

[2020-10-16 16:53] OR13 opened #11 "Max JSON Document Size"
We should establish a max JSON Document size.

[2020-10-16 16:57] OR13 opened #12 "Establish the String Datetime Format for Dates"

[2020-10-16 17:24] OR13 opened #13 "Importer of Record must match CATAIR"

[2020-10-16 17:24] OR13 opened #14 "Entry Number MUST match CATAIR"
alpha numeric / filer code / entry number + check digit

[2020-10-16 17:27] OR13 opened #15 "Consider Estimated Date of Arrival"
Need to add some sections regarding shipping / arrival data modeling.

[2020-10-16 17:31] OR13 opened #16 "Consider guidance regarding image data"
max length for  data uris,  no image urls.

[2020-10-16 18:00] OR13 opened #17 "Default Length for String values"
we should set some default max lengths for strings.

[2020-10-19 16:49] mgh128 commented on #9
Hi Orie, all,
As you probably already know from your work with Gena Morgan, the main GS1 standards for exchanging traceability event data between parties in a supply chain network are EPC Information Services (EPCIS) and Core Business Vocabulary (CBV).  The current ratified version 1.2 of both standards are available at https://www.gs1.org/epcis and are supported by a number of commercial, free an

[2020-10-21 20:25] brianwmunz opened #18 "Need for Ag Inspection Report Schema"
I've created a schema for an Inspection Report that is specific for agriculture inspection, using the InspectionReport schema as a foundation.  I'll submit a PR for review (@mprorock and @OR13 ) once I get permission to create a branch or I'll just fork it.

[2020-10-26 19:10] mprorock commented on #10
yes please

[2020-10-27 13:31] OR13 opened #20 "Continuous Integration & Synthetic Data"
We would to have confidence that the schemas and contexts and spec are all "passing" on every PR.

We would also like to have code that generates synthetic data that allows those tests to pass.

This issue is to discuss how to structure this using javascript in this repo.

[2020-10-27 16:39] TallTed commented on #3
@msporny re: https://github.com/transmute-industries/traceability-vocab/issues/1#issuecomment-703129256

The [DBpedia ontology](https://wiki.dbpedia.org/services-resources/ontology) is somewhat more stable than DBpedia instance data. While both are based on the crowd-sourced Wikipedia, the ontology is not auto-generated; rather it is independently crowd-sourced via the [Mapping wiki](http://mappin

[2020-10-28 14:08] OR13 commented on #3
yes, the DAML Periodic Table is way outdated.... so far I have found CHEBI to be the best.

[2020-10-28 14:09] OR13 commented on #3
I have concluded that `inchi` / `inchikey` are much better to use than atomic number.

[2020-10-29 16:53] brianwmunz opened #22 "Add Mesur.io project members to editors section"
We'd like to add @mprorock and myself (from Mesur.io) to the editors section #23

[2020-10-29 18:23] OR13 opened #24 "What is the relationship between this vocabulary and EPCIS?"

[2020-10-29 18:23] OR13 commented on #9
Opened https://github.com/w3c-ccg/traceability-vocab/issues/24 to address EPCIS directly/

[2020-10-29 18:45] #22 closed

[2020-10-29 19:30] mgh128 commented on #24
The [GS1 Web vocabulary](https://www.gs1.org/voc) is an external extension to schema.org ( see http://blog.schema.org/2016/02/gs1-milestone-first-schemaorg-external.html ) and is primarily intended for expressing master data (e.g. ingredients, material composition, nutritional info, info about allergens, additives, certifications etc.) about products in greater detail than can currently be express

[2020-10-30 21:34] OR13 opened #25 "Questions regarding JSON Data Models for VCs"
Floating point number precision for CMTR fields should be 4 decimal places?

How is the traceability vocab related to SAP?

How is the traceability vocab related to Mulesoft?

we should set some default max lengths for strings.

max length for data uris, no image urls.

[2020-11-03 19:47] bumblefudge opened #26 "Separate Context for Shipping/Logistics use case?"
Is there any objection to using a separate context that overlaps very little or not at all with that of the materials-tracking use-cases? Since there is so much semantic alignment happening in other venues on logistics, international shipping and trade, we would ideally like to focus our interoperability in that direction. My colleague Burkhard will be opening an issue later this week with input d

[2020-11-03 21:25] OR13 commented on #26
This is a good question. I think we should avoid splitting contexts for as long as humanly possible. I am pretty strongly against separating JSON-LD contexts, and believe we should work together to make this vocab and a single context work for everyone :)

This will mean helping with things that may not directly benefit your use case.

[2020-11-03 21:28] OR13 opened #27 "Support for UN CEFACT"
- https://service.unece.org/trade/uncefact/vocabulary/uncefact/
- https://edi3.org/specs/edi3-json-ld-ndr/main/#json-ld

We may want to support it, but we need to comprehend how it relates to EPCIS, GS1, and other vocabs.

[2020-11-09 15:29] brianwmunz opened #29 "Testing & Merge process"
I'm wondering what the suggested and/or required processes are for testing and validating code prior to merging?  Has this been established yet or is it TBD?

[2020-11-10 17:31] OR13 commented on #29
CI/CD should pass, readme should explain all of this.

[2020-11-10 17:53] OR13 opened #31 "Replace GS1 Place with Schema.org Place"
For any term where GS1 just copied schema.org, we should use schema.org definition instead.

For example:

https://www.gs1.org/voc/Place -> https://schema.org/Place

[2020-11-10 17:54] OR13 commented on #31
@mprorock @mkhraisha can one of you tackle this as a way of getting used to contributing here?

[2020-11-10 17:55] OR13 commented on #26
@bumblefudge I would like to close this issue.

[2020-11-10 17:55] OR13 commented on #25
We need a section on "JSON Data Modeling" at the top of the spec that addresses this generally.

[2020-11-10 17:57] OR13 commented on #24
We need a section at the top of the spec that describes EPCIS / CBV generally.

@mgh128 would you be willing to add a few paragraphs to the respec to close this out?

[2020-11-10 17:58] OR13 commented on #20
Partially implemented, but the order to of the tests does not enforce this the way I would like.

We should generate the spec THEN run the CI tests.

if either fails the PR fails.

[2020-11-10 17:59] OR13 commented on #18
Assigning you both to add the schema / tests needed for this.

[2020-11-10 18:00] OR13 commented on #17
merging into https://github.com/w3c-ccg/traceability-vocab/issues/25

[2020-11-10 18:00] #17 closed

[2020-11-10 18:00] OR13 commented on #16
merging into https://github.com/w3c-ccg/traceability-vocab/issues/25

[2020-11-10 18:00] #16 closed

[2020-11-10 18:32] mgh128 commented on #24
Yes.  Did the explanation above look suitable or did you need something even more concise?

[2020-11-10 20:54] brianwmunz opened #32 "Redundancy with Schema.org"
In creating new schemas for the AgInspectionReport, I noticed that in the current repo, we have schemas that are not modified or extended (as far as I can tell) from the ones they reference on GS1 or schema.org.  Why is that?  Shouldn't we simply ref out to Place, for example, rather than having it in the repo?

[2020-11-10 23:36] mprorock commented on #18
In progress, thansk!

[2020-11-10 23:43] #29 closed

[2020-11-11 16:32] OR13 commented on #24
@mgh128 IMO the explanation above is perfect start :)

[2020-11-11 17:28] brianwmunz opened #33 "Readme process for build and testing"
I'm wondering at which point in the described process the test-vectors files are created in the docs folder.  Based on the readme, in order to properly contribute, the developer needs to create a JSON schema, create a synthetic data gen file, and run the tests.  Is this when the build happens to create the test-vectors file for the new vocab or is there a separate call that isn't listed?
I've atte

[2020-11-13 14:56] mprorock commented on #33
@OR13 any insight on this?

[2020-11-13 14:58] mprorock commented on #32
definitely should be referenced outbound wherever possible - if however an item is the root object for a VC we may want to include it in the repo (or in the case of place, being used as an example for issuing a VC) - @OR13 Thoughts?

[2020-11-13 14:59] mprorock commented on #31
@brianwmunz from our team is tacking this I believe as part of #32 - this is also related to #24

[2020-11-13 15:07] mkhraisha commented on #33
hasn't this been addressed by #30 ?

[2020-11-13 15:08] mkhraisha commented on #31
@mprorock @brianwmunz I'd happily tackle this next week if you would don't have the bandwidth.

[2020-11-13 15:09] brianwmunz commented on #33
I think a step may be missing from the Readme which builds the test-vectors.

[2020-11-15 11:32] aniltj opened #34 "Update Use Cases and Requirements Section"
Update the current section to provide insight and information on the work that is currently being covered, with the entities that are focused on those areas filling in more details.

Proposed starting point for the language:

_This section is non-normative._

The following use cases outline a number of key scenarios that readers might find useful:

- Supply Chain Traceability of Steel
- Supply Cha

[2020-11-16 14:47] mprorock commented on #34
Picking up the Food/Ag side of this for use case details, etc. @aniltj do we want updates to both the docs and readme here? it seems like both should be cleaned up a bit

[2020-11-16 15:11] mgh128 commented on #24
@OR13 - please feel free to copy/paste my explanation into the traceability vocabulary document, making minor edits where appropriate.  I'm happy to review it afterwards but have to focus on some other urgent things for GS1.

@OR13, @mprorock - I'm recommending that most references to gs1:Place , gs1:PostalAddress and gs1:ContactPoint and the properties within those classes should instead referenc

[2020-11-16 15:23] OR13 commented on #33
@brianwmunz I have added instructions, can you run through them and close this issue, propose new changes that are needed here, or open a PR which implements them?

[2020-11-16 17:26] OR13 commented on #32
For some things like Place, it feels like its worth showing them in this vocab, even if they are just linking through to Schema.org...

The goal is to provide a vocabulary for verifiable credentials in a single context, and since we generate that context from schemas and test code, there is a certain amount of verbosity / redundancy we are required to implement, but the semantics are coming from s

[2020-11-16 18:51] brianwmunz opened #35 "First time test-vector generation"
After creating a new schema, following the steps, and running the tests, the tests fail and are expecting a file in the docs/test-vectors directory.  Does this file need to be created manually the first time?  How does the initial generation run?
Thanks
@OR13 @mprorock

[2020-11-16 18:56] brianwmunz commented on #33
I think the addition of a reference to the new schema to the config.js file in [./packages/test-vectors/src/generators](https://github.com/w3c-ccg/traceability-vocab/tree/main/packages/test-vectors/src/generators) and the index.js file in [./packages/test-vectors/src/__fixtures__](https://github.com/w3c-ccg/traceability-vocab/tree/main/packages/test-vectors/src/__fixtures__) is missing in the docu

[2020-11-16 19:46] aniltj commented on #34
@mprorock I believe so, but defer to all of you on the specifics. I was just reading that section and it simply mentioned mill test certs and I know that you all are working on more than that. Would be good to reflect the reality for folks who show up.

[2020-11-16 20:05] mprorock opened #36 "add food and ag use case(s)"
per #34

[2020-11-17 00:20] OR13 commented on #35
I think you need to create a file like this:

https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/test-vectors/src/generators/Place.js

Then this file https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/test-vectors/src/generators/generate.test.js

Will generate the test vector automatically, using the values registered in: https://github.com/w3c-ccg/traceability-vocab/bl

[2020-11-17 00:20] OR13 commented on #33
I left a comment on #35

[2020-11-17 12:38] mprorock commented on #36
resolved in pr #37

[2020-11-17 12:38] #36 closed

[2020-11-17 12:44] mprorock commented on #31
@mkhraisha that should be fine - may want to check with @brianwmunz (let me know if you need his work email - I believe he is using this model moving forward with our new schema objects, e.g. AgInspection and related

[2020-11-17 12:46] mprorock commented on #32
@OR13 i think you are right on the VC examples. @brianwmunz is currently adding one for AgInspection that should set a good balance.

[2020-11-17 14:33] brianwmunz commented on #35
These are the steps I've taken so far, but I get errors.  Let me do some further debugging.

[2020-11-17 15:44] brianwmunz commented on #35
Figured it out and the process isn't the most straightforward, but I'll update the readme with the current way of doing things then open an issue to change the test script to do it programmatically.  Then I, or anyone who wants to contribute can make that change later.

[2020-11-17 16:07] OR13 commented on #35
@brianwmunz thanks!, feel free to open issues describing how you wish it were, I expect we will need to take a couple passes on this before its a smooth start.

[2020-11-17 16:20] brianwmunz commented on #35
@OR13 We're thinking of adding a build process which sets an env variable to generate the files for new schemas.  I should be able to submit a PR on that in in the next day or so.

[2020-11-17 16:21] OR13 commented on #35
yes, we could set it up as npm commands with `BUILD_SPEC=true npm run test`

[2020-11-17 20:32] mkhraisha opened #39 "Setup sample .ENV"
now that we have some .env requirements I believe a sample .env should be added to allow easier onboarding.

[2020-11-17 20:36] #33 closed

[2020-11-17 20:36] #35 closed

[2020-11-18 20:36] mkhraisha commented on #34
Oil and Gas are done via #40

pending use cases are: Supply Chain Traceability of Direct-to-Consumer E-Commerce Shipments

[2020-11-18 20:39] mkhraisha commented on #31
@mprorock  sorry I didn't follow your last comment, is @brianwmunz working on this already or should I tackle it?

[2020-11-18 20:43] mprorock commented on #31
@mkhraisha is certainly handling a good example of this - but we likely need to do some more cleanup - and make the decision on "place" specifically.  that one is likely worth keeping in as a vc example, even though it is redundant.  all our commits going forward will be linking back out to gs1, schema.orgm etc.  @OR13 are you still of the opinion we keep place in for example purposes?

[2020-11-19 17:57] OR13 commented on #31
IMO, we should keep Place / PostalAddress / GeoCoordinates, because they are fundamental to traceability...

[2020-11-20 11:42] #26 closed

[2020-11-20 17:01] brianwmunz commented on #8
A question about this...the checker will throw a warning for new schemas because they aren't yet added to the w3id.org and the context or refs should point here.  How should this work within the testing process?

[2020-11-20 21:33] Therecanbeonlyone1969 opened #44 "Representation of a legal entity in traceability vocab"
We need to be able to define and later on identify a legal entity within the traceability schema to be able to ensure that certain VCs are only issued by legal entities.

Key questions to answer:

- How do we represent an entity (within a supply chain for example)?

- How can we represent a legal entity vs just an entity? Can they be connected?

- How do we distinguish between different government

[2020-11-20 22:27] #39 closed

[2020-11-20 22:27] #18 closed

[2020-11-23 22:43] OR13 commented on #8
@brianwmunz the local tests should use the documentLoader to override the lookup like this:

https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/js-vc-ci-tests/services/documentLoader.js#L19

then when the files are merged, the context here: https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/contexts/traceability-v1.jsonld

will be updated.

[2020-11-25 16:16] brianwmunz commented on #32
@OR13 and @mprorock I've checked in the AgInspection stuff, so please take a look and see what you think about the balance between what to pull from schema and what to ref to.  I will say that something to keep in mind is that linking out to schema.org isn't just a philosophical decision, it would require some changes within the schema and VC testing to enable those references.  I'll hold off on m

[2020-11-25 16:35] brianwmunz commented on #20
@OR13  Do the changes I made to the readme and adding the build process in #43 address this issue?

[2020-11-25 18:12] brianwmunz commented on #31
Sorry I missed some of your comments on here @mkhraisha but I've just submitted a PR for these changes.

[2020-11-25 18:13] brianwmunz commented on #24
FYI I've submitted PR #46 that should address the GS1 references at least, but not the addition of the explanation.

[2020-11-25 19:10] #31 closed

[2020-11-30 15:17] OR13 opened #47 "Add "Revocation List 2020" Example to Use Cases"
https://github.com/w3c-ccg/traceability-vocab/pull/45#pullrequestreview-538674505

https://github.com/w3c-ccg/vc-status-list-2021

[2020-11-30 15:28] OR13 commented on #20
We need to add `build` here https://github.com/w3c-ccg/traceability-vocab/blob/main/.github/workflows/ci.yml

then we can close this.

[2020-11-30 15:32] OR13 commented on #32
@brianwmunz I am not sure what you mean by "linking out".... we def don't want to be downloading 100% of schema.org to test a few terms.

essentially, we build `traceability-v1.jsonld` from some JSON Schemas and then we generate the spec from these.

the spec should reflect that all terms defined in `traceability-v1.jsonld` have human readable definitions, and those should be clickable links to sc

[2020-11-30 16:09] brianwmunz commented on #32
Yeah perhaps not the best wording by me, but I think this is what we've been talking about for a little while.  Basically to boil down the question...if we want to have Person in our schema for example, what should be the proper way?  The testing suite we have now doesn't have a way (that I can tell) to have Person not live locally in some part without there being a Context error.

[2020-11-30 17:00] OR13 commented on #32
@brianwmunz good example, imo `Person` and `Organization` are good classes for us to demonstrate how to accomplish this.

There should be some JSON Schemas for each, and those should reference schema.org... I would expect the JSON schema to be a subset of the allowed fields visible on schema.org.

[2020-11-30 17:55] OR13 commented on #32
i think this issue can be closed once we have a few examples of how this vocab works with schema.org

[2020-11-30 17:56] #20 closed

[2020-12-01 18:52] Therecanbeonlyone1969 commented on #44
@cstoecker @bumblefudge

[2020-12-01 20:31] brianwmunz commented on #32
To be clear, do you mean that we should create these schemas within the repo and only pull in the fields that we think are relevant to the vocab schemas?

[2020-12-02 14:08] OR13 commented on #32
@brianwmunz yes, for example:

Person.json -> a json schema describing a person and all the semantic properties we care about for traceability imported from schema.org (which defines their IRIs).

When the traceability-v1.jsonld is generated, it would contain only the subset of JSON members which we defined in JSON Schema, but their definitions would remain defined by schema.org.

this is the appr

[2020-12-09 14:28] brianwmunz commented on #9
Can we close this because of PR #46 ?

[2020-12-09 14:30] brianwmunz commented on #6
@OR13 should this issue still be open?  Seems resolved to me unless I'm misunderstanding the discussion

[2020-12-09 15:22] mgh128 commented on #9
Yes - just checked PR #46.  Looks mostly OK but I would highly recommend ensuring that all date values are expressed in YYYY-MM-DD format so that they can be cast as xsd:date.  I still see many examples where the date value is not in that order.

[2020-12-11 14:46] OR13 commented on #6
@brianwmunz thanks, closing this.

[2020-12-11 14:46] #6 closed

[2020-12-11 15:17] brianwmunz opened #53 "usage of IDs and Types in schemas"
This question is more for clarification than anything else, but I wanted to make sure I was clear before getting too far...
In most of the existing schemas, the properties will be defined this way:
[code]
The @id references the schema entry for GeoCoordinates and it's basically exactly what's defined in schema.org.
As I'm building out larger schemas, there might be multiple identifiers (for exampl

[2020-12-11 15:31] OR13 commented on #53
side note, you must space `@` in github to avoid pinging users who squat on obvious names like `@type` :)

This is a great question, and I don't have a great answer, but I will try and also ping @dlongley @msporny @tplooker

[code]
id -> https://json-ld.org/spec/latest/json-ld/#node-identifiers
type -> https://json-ld.org/spec/latest/json-ld/#typed-values

`"@id": "https://w3id.org/traceability/sc

[2020-12-11 16:31] brianwmunz commented on #53
The reason this has even come up is because the test suite will fail due to a lack of context (because identical IDs causes issues).  So I guess another way to frame this would be that you have an ID for carrier and one for a certificate.  Technically, each one should have its ID point to some vocab somewhere that describes it?  If there were multiple of carriers, etc. we would just make it an arr

[2020-12-11 17:50] OR13 commented on #53
Examples from the vc data model:

https://github.com/w3c/vc-data-model/blob/master/contexts/credentials/v1#L23

https://github.com/w3c/vc-data-model/blob/master/contexts/credentials/v1#L68

https://github.com/w3c/vc-data-model/blob/master/contexts/credentials/v1#L86

[2020-12-14 19:40] OR13 commented on #53
Related https://github.com/w3c-ccg/traceability-vocab/pull/51/files#r542694993

[2020-12-15 14:31] #32 closed

[2020-12-15 15:25] brianwmunz commented on #53
Closing this issue because Orie did a good job describing how this should be navigated I think.

[2020-12-15 15:25] #53 closed

[2020-12-15 21:05] brianwmunz opened #57 "Schemas added without tests"
There are currently some schemas in main that were not submitted with tests, which causes the test suite to fail for any other new schemas.  Tests should be added to create the needed test-vectors and/or the schemas should be temporarily removed in order to allow other schemas to be added.
These schemas are in docs/schemas:

- ProductRegistrationEvidenceDocument.json
- VLEIIdentityCredential.json

[2020-12-15 21:28] mprorock commented on #57
@cstoecker think this one is on your side? Can you get tests-vectors committed? otherwise we will likely issue a PR to disable these schemas until we have testing

[2020-12-15 21:30] mprorock commented on #44
these appear to have at least partially been added, however #57 is related as some of these items are missing test vectors and may have to be backed out for a bit

[2020-12-15 21:33] mprorock commented on #25
@OR13 with no image urls how are you suggesting we handle bar code scan backups etc?  couple of ways to do this, but do you have a specific preference?  with ag items, we may also frequently need to link to an image of goods or samples as packed for another image related item - unless you mean something else here

[2020-12-16 14:49] mprorock opened #58 "Add an AgProduct Schema that extends Product"
need to account for agricultural labeling requirements with an AgProduct that extends Product - should account for the FDA labeling requirements data at the crate level found here: https://www.producetraceability.org/documents/FINAL_PTI_Harmonized_Traceabilty_Case_Label_April_2020_(003).pdf

[2020-12-17 14:59] OR13 commented on #25
@mprorock for small images... data uris will work... tracking pixels are a thing, adding anything to a VC that might result in a traceable outbound network request should be avoided when possible....

I think what is needed to close this issue out, is a section of JSON Data Modeling for VCs best practices at the top of the spec.

[2020-12-17 20:06] brianwmunz opened #59 "Context Errors from schema IDs"
When running the tests on new schemas, there are often confusing errors due to the link that is populated for @id in the $comment on properties.  I realize that this id should simply be a link to a human readable page explaining the property itself.  So, I'm confused why often the link causes the linked data conformance test (linked-data-conformance.test.js) to throw an error.  Here is a simple ex

[2020-12-21 17:54] mprorock commented on #58
addressed in pr #60

[2020-12-21 17:54] #58 closed

[2020-12-21 17:56] mprorock commented on #15
do you want this on data structures/schema's themselves, or more documentation / example minded?  This is certainly something that we are starting to account for.

[2020-12-21 22:17] OR13 commented on #15
@mprorock I think we need a more generic temporal data model for physical items and documents.... This was originally opened on a call regarding linking to entry documentation. Obviously we want to be as generic as we can wrt customs processes in other countries... I think we can close this, when we have some term definitions that account for it that can be linked to the issue.

[2021-01-26 17:30] bumblefudge opened #64 "Generalizing Use-Cases: Process VCs and non-process VCs"
One helpful premise for aligning our use-cases for SC-specific test scenarios and user stories would be distinguishing process VCs (batch-specific, tied to specific import shipments) and non-process VCs (product definitions, legal entity verifications/enrolments, mappings of products to HTS codes, UPC codes, GTINs, etc). This has been very important in our use case, where there is a 1-to-many rela

[2021-01-26 17:33] brianwmunz opened #65 "Versioning on schemas and test vectors"
We've been exploring the possibility of pulling these schemas and test vectors programmatically to validate and use as models in our app.  In order to do this safely it would make sense to have versioning on this repo.  Any thoughts/concerns/etc. on doing this?

[2021-01-27 19:35] bumblefudge commented on #34
Terribly sorry, not sure how I missed this. Addressed with [pr66](https://github.com/w3c-ccg/traceability-vocab/pull/66)

[2021-01-29 01:52] mprorock commented on #65
I think we should plan on at least pinning a version prior to the upcoming plugfest for vc-http-api as this repo will likely serve as the payload for the various supply chain VCs.  right now - a first release cutoff data will likely be towards the end of February. @OR13 any input from your side on this?

[2021-01-30 19:53] mprorock commented on #34
Still some room (as always) to improve docs, but with pr #66 and #68 I think we are now covered.

[2021-01-30 19:53] #34 closed

[2021-02-01 19:10] OR13 commented on #65
hmm... yes

I think we need to start establishing perma links for pinned versions.

here is how that should work:

We cut github release for the version and create a perma link it github pages:

https://w3c-ccg.github.io/traceability-vocab/v1/

We then update w3id.org .htaccess to point to the pinned version:

https://w3id.org/traceability/v1 -> https://w3c-ccg.github.io/traceability-vocab/v1/trac

[2021-02-02 15:16] msporny commented on #65
I'm going to suggest that the above is an anti-pattern that will result in versioned vocabularies... which you really don't want to impose on Web developers, because it breaks all the semantics... all of a sudden you have /versions/ of words. To draw an analogy... that's like saying "You're saying the word 'hello', but do you mean 1850s hello, 1910s hello, or 2020s hello? My software only understa

[2021-02-02 16:58] mprorock commented on #65
@msporny EPCIS uses versioning in exactly the manner discussed by @OR13 and they are kindof the gold standard for vocabulary in supply chain.  The main reason for this versioning, is that it lets those of us working with enterprise customers in supply chain "pin" a version for integration testing, etc.  This versioning approach also lets us then reliably generate statically typed stubs and code, t

[2021-02-02 17:06] OR13 commented on #65
https://github.com/perma-id/w3id.org/tree/master/traceability

^ where the redirects need to be implemented.

[2021-02-02 17:06] msporny commented on #65
@mprorock wrote:

Yes, we work with supply chain customers too. We're talking past each other. It's completely fine and expected to version the JSON-LD Context using the mechanism you describe above.

It is going to create a nightmare for you to version the vocabulary URLs. To put a finer point on it, it's fine for you to do this:

It is going to be a nightmare for YOU if you do this (because this

[2021-02-02 17:15] OR13 commented on #65
https://w3id.org/traceability#Organization -> latest version
https://w3id.org/traceability/v1-> latest context

https://w3id.org/traceability/v1#Organization ->v1 version

IMO its night a nightmare, and all the term IRIs that are signed over should follow cool uris, aka ... always use the "latest".

[2021-02-02 17:20] msporny commented on #65
Which URL are you using in the signed triples? https://w3id.org/traceability#Organization or https://w3id.org/traceability/v1#Organization?

[2021-02-02 17:35] OR13 commented on #65
"https://w3id.org/traceability#Organization" aka always sign over latest.... the fact that http version of that vocab exists and preserved is for audibility / convenience... not semantic disambiguity, imo.

at least thats my proposal.

[2021-02-02 17:36] OR13 commented on #65
btw... we really need to fix out anchor tags... that link should work.

[2021-02-02 17:47] msporny commented on #65
Do you have some triples/quads to share? I think I agree with what you're saying above (v1 vocab is for convenience only -- never for signing)... but I want to make sure we're crystal clear about this 'cause the way things are phrased in some of these comments could mean the opposite of what I think you're saying.

[2021-02-02 17:55] msporny commented on #65
Unfortunately, that adoption usually happens when you don't want it to happen. Case in point: the Ed25519Signature2018 cryptosuite... it was supposed to be a stop gap until we published Ed25519Signature2020, and then we wanted everyone to drop support for 2018 and use either Ed25519Signature2020 or JsonWebSignature2020 instead. Except that we're about to do in the DID spec is memorialize publicKey

[2021-02-02 17:57] OR13 commented on #65
@msporny sorta off topic, but .... it's not too late to reserve `publicKeyMultibase` in did core v1... if you really intend to deprecate base58 you should fight for that or your existing customers will be sad...

[2021-02-02 17:58] msporny commented on #65
Got it, thank you -- we're on the same page in general.

I'll be interested to hear how updating a popular vocabulary goes... it often happens on a continuum, and it's difficult (but not impossible) to cut major versions that don't lose some of the history. We depend on github repos for this, so that usually works out for those that want to know when a particular constraint or word changed.

[2021-02-02 18:00] OR13 commented on #65
Probably the best example out there today....

https://github.com/schemaorg/schemaorg/tree/main/data/releases

yikes...

[2021-02-02 18:00] msporny commented on #65
Yes, I know -- new feature, many people would object (even though it would be the best thing for the global ecosystem)

We'll probably just end up supporting 2018 and 2020 -- it'll add complexity to the ecosystem temporarily while we float the notion of deprecating publicKeyBase58 in favor of publicKeyMultibase over the next year or two.

[2021-02-02 18:04] OR13 commented on #65
See also: https://github.com/schemaorg/schemaorg/issues/2805

[2021-02-02 18:12] mprorock opened #69 "Intent to Sell object"
we need that ability to declare simply that there is a product that an organization intends to sell into some other destination country than the origin country.  This is not as complex as a product registration, but a very simple Org that will be exporting, target country to sell to, and the item that is intended for export.

[2021-02-02 18:21] OR13 commented on #69
I suggest throwing JSON at this issue until something sticks, then finding and defining all necessary IRIs associated with such JSON.

[2021-02-02 20:59] bumblefudge commented on #69
The distinction between a product (GTIN-bearing, non-fungible) and commodity (fungible) might be the disconnect here.  E-Commerce only deals in the former, and I'm hearing from your use case the intent to sell the latter or, if the former, a high-level category of products rather than a pre-determined, finite set of products.  Our use-case is only looking at intent to sell 1 or more specific (and

[2021-02-02 22:54] TallTed commented on #69
You might also find it helpful to explore [the GoodRelations vocabulary/ontology](http://wiki.goodrelations-vocabulary.org/Main_Page).

(Don't worry, @bumblefudge, it's not JSON. Unless you want it to be.)

[2021-02-03 12:31] mprorock commented on #69
@bumblefudge i think in this case we would ideally structure it that you could use a Product as referenced with as much detail as is available as early in the process.  In your case you would extend that out, as you have other legal reqs etc to cover, but yes, this will not necessarily be dealing with pre-registered products

[2021-02-03 14:47] mprorock commented on #57
@cstoecker @aaorlov can you resolve these test failures or we are going to have to back them out
`$ npm run test

 PASS  src/converters/periodic-table-to-json.test.js
 FAIL  src/generators/generate.test.js
  ● LEIevidenceDocument › should generate fixture

    expect(received).toEqual(expected) // deep equality

    - Expected  - 370
    + Received  + 128

    @@ -1,367 +1,119 @@
      Object {

[2021-02-03 20:43] aaorlov commented on #57
@mprorock
in the file `src/generators/generate.test.js` this code looks weird:
`    const fixtures = require('../__fixtures__');
      const fixture = { good: [], bad: [] };
      // eslint-disable-next-line no-plusplus
      for (let i = 0; i < EXAMPLE_COUNT; i++) {
        const example = config[classDef]();
        fixture.good.push(example);
        let badExample = { ...example };
        bad

[2021-02-03 22:09] aaorlov commented on #57
@mprorock fixed https://github.com/w3c-ccg/traceability-vocab/pull/71

[2021-02-04 13:18] mprorock commented on #69
resolved for now in #70

[2021-02-04 13:18] #69 closed

[2021-02-04 13:21] mprorock opened #74 "We need CD for vocab, contexts and schemas"
#### Proposal

1. make all synthetic data generation deterministic (no randomness)
2. add a github action to commit updates to the docs folder on merges
3. add `.gitkeep` and build steps to `postinstall` so that tests pass on first clone

#### Previous description

Faker data is working generally great for this, but we need a way to pin certain items that change based on random keys - e.g. dates.

[2021-02-04 14:38] mprorock commented on #59
closing this out as there is any easy fix via addition of a version parameter to the `@id` for items that share a common type as specified by id but have a differing term - see pr #69 for example in the intent to sell object

[2021-02-04 14:38] #59 closed

[2021-02-04 14:39] mprorock commented on #57
resolved via pr #71 and #73

[2021-02-04 14:39] #57 closed

[2021-02-05 12:08] mprorock commented on #13
Closing this, as for now I think we are going to keep business logic out, and keep the repo focused on structure.  Open to discussion on this.

[2021-02-05 12:08] #13 closed

[2021-02-05 22:13] mprorock commented on #25
@OR13 I have started on this - and agree, i think adding to the docs, with the ability to test VC creation are good and on the way. Are there any existing guides we should reference in the community?

[2021-02-06 13:03] #9 closed

[2021-02-06 13:18] #10 closed

[2021-02-06 13:18] #11 closed

[2021-02-07 13:00] mprorock opened #76 "merge policy"
This repo should have a clear an consistent pr and merge policy agreed upon by the editors.

I would propose at a minimum a first review for a PR should go in within 24hrs of the PR being submitted by one of the editors.

If the changes are non breaking, limited in scope, etc then a single approval should be sufficient to merge after a 24hr delay unless an editor requests more time.  This should a

[2021-02-07 13:04] mprorock commented on #14
my inclination is to close this issue - while i agree with the statement around CATAIR i think business logic likely should be external to this project.  If there are certain core requirements that we want to enforce for data that utilizes this vocabulary that should be a separate policy / profile discussion and accompanying test suite.  perhaps a good candidate for a future plugfest?

[2021-02-07 13:05] mprorock commented on #8
this appears to be all resolved.

[2021-02-07 13:05] #8 closed

[2021-02-07 13:06] mprorock commented on #15
@OR13 added an example that touches on this subject in pr #70

[2021-02-07 13:07] mprorock commented on #24
this has been merged - keeping issue open for now as there will likely be some debate on this issue still.  once agreed on broadly, we will update the docs to reflect the selected approach

[2021-02-07 17:09] mprorock commented on #44
@cstoecker these appear to now be well covered at least for a v1 via pr #71 and related.  anything else you would like to add in the next week or so to address this issue, or am I free to close it out?

[2021-02-08 15:59] OR13 commented on #14
yes, closing... we have been directed to make the API a best in class HTTP JSON api, and not bound by character / field limits, such as are described n CATAIR.

[2021-02-08 15:59] #14 closed

[2021-02-08 16:01] OR13 commented on #76
I think its good to formalize all this... for larger open source repos... best practices need to be enforced by CI.... but documented up front.

Regarding review time, sadly I think it must be 1 week for CCG.

[2021-02-08 17:29] bumblefudge commented on #74
Definitely agree that it would be helpful to formalize/recycle some of the backchannel instructions we've had to ping Orie for.  Even the order of operations for
1. adding schemata that reference pre-existing and immutable ontologies at dereferenceable URIs in /schemas/, then
2 adding test-vectors for each to /test-vectors/, and finally
3. generating full credentials made up of testable schema-def

[2021-02-08 17:33] mprorock commented on #76
1 week works - I can incorporate that in

[2021-02-08 17:36] mprorock commented on #74
yep, i think this will be a good next step.  I think this week I or someone on our side will add the ability from the generator config file to also generate credential and add that to the readme as a note for additional processing steps

[2021-02-08 18:47] bumblefudge commented on #74
Orie also threw this together, which might be helpful for people stumbling on step 3B 😄
https://github.com/transmute-industries/linked-data/blob/main/packages/jsonld-schema/src/jsonldToSchema.test.ts

[2021-02-08 18:47] OR13 commented on #74
yea, i think the initial solution of generators may not be scaling as well as we would like.... I have seen a couple different folks stumble on them... perhaps static json examples that re "good" and "bad" would be better / easier to maintain...

[2021-02-08 18:48] OR13 commented on #74
I think my initial implementation may have been harmful over engineering, and we may want to relax to static JSON test vectors.

[2021-02-08 18:52] mkhraisha commented on #76
1 week is fine, should this be incorporated into #75 ?

[2021-02-08 18:59] mprorock commented on #76
likely will add there, or in a separate PR on top of that one

[2021-02-08 19:26] OR13 commented on #25
IMO, this issue is not specific enough to be workable and should be closed...

Suggest opening other issues for:

- Provide an example of a VC which contains image data.
- Add spec text warning to use strings instead of numbers for decimal representations.
etc...

[2021-02-08 19:44] mprorock commented on #74
i am actually ok with the generator (and by and large like it).  where it gets ugly, is on dates and whatnots where test vectors outside of the new items get re-generated.  the lerna side, while cool, is what gets that build complex.  let me chew on an easier way to say: "i just added/modified this schema/these schemas, let me generate test assets, and build the intermediate file, but only modify

[2021-02-08 19:48] mprorock commented on #76
added updated to #75 that should handle this for now

[2021-02-08 19:48] #76 closed

[2021-02-08 19:49] mprorock commented on #25
Agreed - later doc examples will arise from more detailed issues as they come up

[2021-02-08 19:49] #25 closed

[2021-02-09 00:52] mprorock opened #78 "public facing docs need some basic security content added"
not a huge amount security related with this repo as it is vocabulary, but we at least need the [existing section](https://w3c-ccg.github.io/traceability-vocab/#security-considerations) to have details that for security related topics, the ccg security vocab should be used and/or NIST specs as approriate.  no need to reinvent the wheel on things that already exist.

@OR13 would you be able to writ

[2021-02-09 18:25] mprorock opened #80 "Breakage in JSON-LD IRIs in docs"
Multiple IRIs that should resolve properly, to a proper definition are being routed improperly.  A pretty big PR to correct this so that there are solid examples rolling forward is incoming.  This PR will be merged quickly to resolve breakages

[2021-02-09 21:26] TallTed opened #83 "dates should be in `YYYY-MM-DD` form"
[code]
I don't understand how changing dates falls under fixing IRIs ... but as long as you're fixing dates, please let's use ISO standard YYYY-MM-DD across the board!  (Is the above meant to say March 10, i.e., is it DD-MM-YYYY, or October 3, i.e., is it MM-DD-YYYY?)

_Originally posted by @TallTed in https://github.com/w3c-ccg/traceability-vocab/pull/81#discussion_r573217489_

Opening a new issu

[2021-02-09 21:51] OR13 opened #84 "vocabulary IRI should not link to PDFs"
All IRIs should read to human readable documentation that is not a PDF (anchors or webpages, not pdfs).

[2021-02-09 22:01] OR13 opened #85 "Fix definition for "Credential""
We are creating confusion by defining credential... we should instead define "TraceabilityCredential" or similar... VC Data Model is responsible for defining Verifiable Credentials... not us

[2021-02-09 22:15] mprorock commented on #83
absolutely - as to the changes automatically, that is bc a lot of this is being generated from teh schemas being run through a generator - as we fix the generators than if fixes down the line

[2021-02-09 23:57] mprorock commented on #85
@brianwmunz want to take this on in your next pr that is inbound?

[2021-02-10 16:04] brianwmunz commented on #85
Makes sense. I'll take care of it.

[2021-02-10 17:46] mprorock opened #88 "Issues in referencing multiple items pointing to the same IRI"
@Therecanbeonlyone1969
There is a trick to this that i used in [IntentToSell](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/schemas/IntentToSell.json)

effectively in the comment section where you are defining the `@ id` you have to have a unique value as it uses a struct to map over when building the json-ld from the schema, the easy way to do this is to add a query param that is m

[2021-02-10 17:53] mprorock commented on #88
@OR13 ultimately i think it will be better to allow have the json schema take an `$jld-id`, `$jld-term`, etc but we will have to approach that carefully to make sure that you can use the schema on it's own directly without forcing use of the json-ld.  `optional` comes to mind, but would be super verbose, but compared to having to escape a bunch of stuff in a comment string, would likely be more cl

[2021-02-10 18:10] OR13 commented on #88
The bug is that the JSON-LD generator does not handle term reuse...  this is a problem since the whole point of this is to be able to generate JSON-LD from JSON Schema... and the last thing we want to do is discourage term reuse.

The solution is to update the logic so that JSON Schema types and and JSON-LD types can include overlapping  / duplicate term IRIs.

If you want to test this in isolatio

[2021-02-10 18:11] OR13 commented on #88
DO NOT DO THIS

[code]

You are making IRIs that are a really bad idea to be signed over...

[2021-02-10 18:24] mprorock commented on #88
agree - this however should not block us from having stuff up and going.  We can always add a post process that strips query strings from the json-ld that match a certain documented pattern to avoid signing issues

[2021-02-10 18:27] Therecanbeonlyone1969 commented on #88
@mprorock agree with @OR13 ... we need to be able to reuse terms and do not have them overwritten. The generator should be readily fixable. There must be an `@id` check in the code somewhere. We need to alter that bit of code. Question is who fixes it, because this is an issue affecting everyone. There is another issue ... i will open in a 2nd that is also high priority that needs to be fixed asap

[2021-02-10 18:44] Therecanbeonlyone1969 opened #89 "JSON-LD checker does not resolve structured arrays in schema files"
The schema referenced below does not resolve and check properly in the js-vc-ci-tests. I need to have the following context array in the test generator file for the EcommercePackingListRegistrationCredential for the test to pass.
[code]

It tells me that "orderNumber" and "productInOrder" are not defined in the context.

Even though I have

[code]

in the traceability context file.

Note that in t

[2021-02-10 18:49] mwherman2000 opened #90 "W3C CCG Call: Have you considered the UBL 2.2 specification for the 80+ most common business document schema?"
Have you looked at the UBL 2.2. specification for the 80+ most common business documents:
http://docs.oasis-open.org/ubl/os-UBL-2.2/UBL-2.2.html#S-UBL-2.2-DOCUMENT-SCHEMAS

[2021-02-10 18:53] OR13 commented on #89
hmm, sad code formatting... can we maybe provide a small well formatted JSON example that can be tested.

[For Example](https://www.jsonld-checker.com/?json=%257B%250A%2520%2520%2522%2540context%2522%253A%2520%255B%250A%2520%2520%2520%2520%2522https%253A%252F%252Fw3id.org%252Ftraceability%252Fv1%2522%250A%2520%2520%255D%252C%250A%2520%2520%2522type%2522%253A%2520%2522Person%2522%252C%250A%2520%252

[2021-02-10 18:53] mprorock commented on #88
@Therecanbeonlyone1969 fully agree - as to who alters the code, we need to hop on it quickly.  you are welcome to do so if you have bandwidth and a good solution

[2021-02-10 19:01] Therecanbeonlyone1969 commented on #89
apologies for the formatting ... github does not have great md formatting ... here is an example generated by the schema. @OR13 ... and the json-ld checker online balks because the schema is not yet in the context file in the repo.

[code]

[2021-02-10 19:04] mprorock commented on #89
Not sure a good way around this with the online checker - this will always be the case if you are pointing at a context that doesn't yet have your object in it, until a PR is in and up and tested, unless @OR13 is aware of something i am not

[2021-02-10 19:08] Therecanbeonlyone1969 commented on #89
It can be done locally and as I said the schema validates locally just fine but after it is added to the context, the checker for the credential test balks

[2021-02-10 20:39] mprorock opened #91 "Allow JSON-LD Generation bypass"
We need a way to bypass generation of JSON-LD and provide manual test vectors and examples.  This will aid in resolution of #89  #88

@Therecanbeonlyone1969 - I know this is time sensitive for your team.  Will try and get this in and documented tonight.

[2021-02-10 20:40] mprorock commented on #91
Will need the ability to bypass code generation if JSON-LD is provided, as well as documentation on how to bypass

[2021-02-11 00:20] OR13 commented on #80
This issue should be closed and smaller more specific issues should be raised for every subsequent bug.

[2021-02-11 00:20] OR13 commented on #90
Thanks these look awesome!

[2021-02-11 00:40] Therecanbeonlyone1969 commented on #91
Thanks @mprorock ... I believe we can tweak the automation I just need to dig through the js-vc code and the checker code and find where this happens. Since I did not write the code it is the needle in a haystack thing ... and it is time-sensitive for all of us, tbh.

[2021-02-11 01:33] mprorock commented on #89
running into similar things on our side with some tests, so can definitely reproduce - we are taking a look at it.  There may be a few things additionally that the checker is not catching, etc.

[2021-02-11 01:34] #80 closed

[2021-02-11 01:46] mprorock commented on #91
same.  I am digging as well.  I know there are some issues in [help.js](https://github.com/w3c-ccg/traceability-vocab/blob/08227323e7995164093df4a9ce5ef8cad33ea587/packages/test-vectors/src/help.js#L35) at line 35.  Other issues appear to be in the checker [here](https://github.com/w3c-ccg/traceability-vocab/blob/08227323e7995164093df4a9ce5ef8cad33ea587/packages/test-vectors/src/__tests__/linked-d

[2021-02-11 11:01] mprorock commented on #90
Definitely have worked with UBL in the past (and some of the spin off versions of it.  Great definitions for common properties at a minimum.  When I was last working with UBL it was in an offshoot from an EDI scenario and I recall SAP and some of the other enterprise things that always seem to be present requiring some "fun (tm)" from an ETL and integration point.  That obviously has improved quit

[2021-02-11 14:39] #83 closed

[2021-02-11 14:39] #84 closed

[2021-02-11 14:39] #85 closed

[2021-02-11 14:54] mwherman2000 commented on #90
Not really related: this popped up in my Inbox this morning:
[A SHARED LANGUAGE FOR SUPPLY CHAIN SECURITY](https://blog.opengroup.org/2021/02/11/a-shared-language-for-supply-chain-security/)

[2021-02-11 15:01] OR13 commented on #85
amazing speed.

[2021-02-11 15:01] mwherman2000 commented on #90
Back to UBL and it's relationship to business documents being represented as VCs and given unique DIDs...
A particular UBL business document (schema) is composed of many standard sup-parts (sub or base schema). Although the UBL specification doesn't support it, from a VC (and ledger storage perspective), it would be interesting to create a model where a particular UBL document is not stored in its

[2021-02-11 15:27] mprorock opened #94 "AgInspection VC Example broken after latest update"
The ag inspection VC is currently not updated to match the schemas @brianwmunz

[code]

[2021-02-11 15:52] #94 closed

[2021-02-11 16:24] OR13 commented on #90
@mwherman2000 yes, thats the approach we have taken here.... essentially:

1. We use JSON Schema to define a JSON-LD type
2. We autogenerate JSON-LD context and vocab from a folder of linked JSON Schemas
3. We use the JSON Schema and JSON-LD context to produce verifiable credentials

For any document / type in UBL we could do the following:

1. convert it to JSON Schema
2. ensure there is a genera

[2021-02-11 16:38] OR13 commented on #91
to be clear, I am not working on any of these issues currently... I am helping to coordinate on them.

[2021-02-11 16:40] OR13 commented on #89
You can copy the terms you are about to get added into the context, like this:

[code]

    locally, you can generate the new JSON-LD context and the document loader will use your local version:

    https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/js-vc-ci-tests/services/documentLoader.js#L19

[2021-02-11 16:44] OR13 commented on #89
other examples:

[code]

[code]

its often helpful to replace the context URL with an object, so you can see everything in 1 place...

[2021-02-11 18:09] mprorock opened #100 "JSON Schema is not one to one with OpenAPI Specs"
the OpenAPI specs are still moving back closer to json schema compatibility after having diverged a bit.  Either way, there are still some transformational items that need to occur to pick up JSON Schema objects from this repo and drop them into an OpenAPI Spec for stub generation, etc.
I have added pr #99 to address this issue and provide a model for doing so, while also pre-generating a basic sp

[2021-02-11 19:25] TallTed opened #101 "Dates are being written as YYYY-M-D, not YYYY-MM-DD"
`YYYY-M-D` dates may be acceptable in many places (where they are treated as if there were a leading `0` on the `M` and `D` values), but they're still *troublesome* in many of those places.

I suggest *not* using `YYYY-M-D` anywhere *unless it's explicitly as test fodder, to prove some functionality and/or breakage.*

[2021-02-12 14:47] mprorock commented on #101
damn, i wish there was a better upvote.  let me see if there is a way to regex or pattern check for this on lint and error

[2021-02-12 14:51] TallTed commented on #101
I don't know which flavor of regex applies here...

`####-#-#` might find what's needed.

Or `[0-9][0-9][0-9][0-9]-[0-9]-[0-9]`.

[2021-02-12 14:51] mprorock commented on #91
@OR13 @Therecanbeonlyone1969 @mkhraisha any thoughts on allowing an "example_credentials" folder in docs that can store an example cred that will still have to pass credential validation, but not require full schema definitions all the way through?

These can be notated that they have not passed full integration testing from schema->ld->vc but still may serve as valid reference examples of vcs tha

[2021-02-13 21:57] Therecanbeonlyone1969 commented on #89
@or13 @mprorock ok ... so I found a way such that the schema tests pass even with a strict setting. You need to reference a definition in the schema under the right property and since the property is an array you need to list the items, and then it works -- see the working schema files below. Ideally, that should not have to be done but it is a legal schema and it works. There is still a subtle bu

[2021-02-13 22:02] Therecanbeonlyone1969 commented on #89
oh and I added "orderNumber" and "productInOrder" to the top section in the context file by adding them to the help.js file. The context is otherwise still not correctly resolved in the credential issuance and verification tests. With that addition, the credential test of the problematic Packinglist credential passes without a problem. @OR13 @mprorock

[2021-02-13 22:03] Therecanbeonlyone1969 commented on #91
@mprorock see my comments on #89 ... a bypass is not required despite the code issue. I found a "legal" workaround for the time being while I continue to hunt the code bugs.

[2021-02-16 17:43] OR13 opened #104 "CD for traceability context"
we should git ignore:

[code]

and instead build and publish on PR merges.

[2021-02-16 18:07] mprorock commented on #104
we also need to enforce linter before merge

[2021-02-16 18:09] mprorock commented on #100
closing as this has been merged

[2021-02-16 18:09] #100 closed

[2021-02-16 18:10] mprorock commented on #91
closing this - see #89

[2021-02-16 18:10] #91 closed

[2021-02-16 18:11] mprorock commented on #104
dupe #74

[2021-02-16 18:11] #104 closed

[2021-02-16 18:11] mprorock commented on #74
see #104 - gitignore will take care of a good chunk of this - @mkhraisha is adding in pr #103

[2021-02-17 16:09] OR13 commented on #89
I believe this may now be fixed...

[2021-02-17 16:10] OR13 commented on #89
can we provide a minimal example for https://www.jsonld-checker.com/ to confirm?

[2021-02-17 16:11] OR13 commented on #88
any update on this? AFAIK its a critical issue, would love to see a solution...

[2021-02-17 16:11] OR13 commented on #74
I suggest we close this, and open more specific bugs in the future.

[2021-02-17 16:13] OR13 commented on #74
@mprorock that PR did not resolve this issue, it broke things... I am updating the issue description with a proposal.

[2021-02-17 21:27] OR13 opened #108 "request to https://raw.githubusercontent.com/mesur-io/openfoodtrust/main/docs/img/oft-logo-dark-bg.pngpath/to/file.jpg failed"
Seems like a broken link... / bug ping @mprorock

[2021-02-17 21:31] OR13 opened #109 "Invalid JSON-LD syntax; invalid scoped context."
[code]

Our JSON-LD Context generator is producing things like this.... which I think may cause errors... instead `@context` should be ommited.

[2021-02-17 22:01] mprorock commented on #108
odd, that is resolving for me - taking a look

[2021-02-17 22:06] mprorock commented on #108
PR #111

[2021-02-17 22:50] #108 closed

[2021-02-17 22:52] OR13 commented on #109
no longer seeing this, closing.

[2021-02-17 22:52] #109 closed

[2021-02-17 22:54] OR13 opened #113 "Remove the "Ecommerce" prefixing"
The vocab is for supply chain... we don't need "Ecommerce" prefixed everywhere.. and it makes things less reusable.

[2021-02-18 17:44] mkhraisha opened #115 "BOL Changes to satisfy Crude/Gas Requirements"
The following are a list of items that we need to have tracked on the BOL credential:

* ArrivalDate (not just expected arrival as outlined by ParcelDelivery)
* ShippingDate ( date the item was shipped)

* ValuePerItem
* TotalOrderValue

* freightChargeTerms -- https://www.thebalancesmb.com/types-of-freight-charges-1361580
* Batch Number -- Number that identifies products as received in a batch by

[2021-02-18 17:58] Therecanbeonlyone1969 commented on #88
@OR13 ... since I need to decompose a lot of large complex schemas into many smaller schemas, because the context generator only resolves and thus adds top-level properties to the context, I am in schema decomposition hell at the moment and have no cycles to look at the code at the moment ... @mprorock , does anyone on your team have cycles?

[2021-02-18 20:14] OR13 commented on #88
@Therecanbeonlyone1969 I suggest small PRs that change on thing at a time... and that are easy to merge with confidence.

[2021-02-19 03:05] Therecanbeonlyone1969 commented on #88
next PR will be 1 VC and 1 evidence doc with tests

[2021-02-19 16:01] mkhraisha commented on #115
@OR13 I think the cleanest way to tackle this is to open a PR with the requested changes and then we argue over it there.
alternatively i can show these changes as a concrete proposal on the issue and we take it from there.

[2021-02-19 16:42] mprorock commented on #115
@mkhraisha we are very similar and have a lot of overlap.  one approach is to identify what is common, and then subclass for commodity specific - only note is that in ag we refer to lot rather than batch number on your top list of items

e.g. a common BOL - then BOLCrude which has all the fields from BOL, and then adds the crude specific - then code can be written to handle the superclass, and sti

[2021-02-21 04:10] OR13 commented on #115
yes, I expect we will need to add fields / refactor into smaller more reusable components, ideally, our use of generators, would make it possible to upgrade by simply making the change in 1 or 2 places.

[2021-02-21 04:11] OR13 commented on #74
Here is an example of how to do this, PRs welcome: https://github.com/transmute-industries/did-core/blob/main/.github/workflows/cd.yml#L32

[2021-02-23 17:02] OR13 opened #119 "DID Web Examples for Supply Chain"
If this is useful: https://github.com/w3c-ccg/did.actor/tree/master/supply-chain

I think we should use real world persons, with additional context available, external to this vocab.

[2021-02-23 17:04] OR13 opened #120 "Selective Disclosure ZKPs for Supply Chain"
We added support for https://github.com/w3c-ccg/ldp-bbs2020

to the vc-http-api here: https://vc.transmute.world/api/docs

We should come up with some exemplar credentials that would be good to provide examples of using this proof suite.

[2021-02-23 23:21] mprorock commented on #120
Awesome.  This kind of thing is something we deal with regularly, where an
Inspector gets a VC with full details on the inspection, but some of those
items may not be shared with 3rd parties, just the status, inspector name,
etc.  Happy to put an example up somewhere.

Mike Prorock
CTO, Founder
https://mesur.io/

On Tue, Feb 23, 2021 at 12:05 PM Orie Steele <notifications@github.com>
wrote:

[2021-02-27 02:11] Therecanbeonlyone1969 commented on #113
@OR13 ... happy to do that if we can standardize on the things that are must requirements for e-commerce which is currently represented in the VCs and evidence documents.

[2021-03-01 14:50] mprorock commented on #113
Agreed.  Good topic for discussion.   I think there is a place for
prefixing, but we should standardize when and where, and add to readme

On Mon, Mar 1, 2021, 09:44 Orie Steele <notifications@github.com> wrote:

[2021-03-01 14:57] bumblefudge commented on #113
Does "whole cohort" mean supply chain traceability subcohort or SVIP-wide cohort?

I think it might also be a topic for a CCG community call or DIF Interop WG, as I would be curious to poll implementers if there are best practices or conventions that might help?

[2021-03-03 20:44] Therecanbeonlyone1969 opened #131 "npm i does not update eslint and eslint-airbnb packages"
@OR13 @mprorock @mkhraisha ... i just updated my repo with the latest and greatest after Orie's monster PR. What I noticed is that (at least on windows) `npm i` did not update `eslint` in `root` and `packages/traceability-schemas`. that should happen automatically with npm i

[2021-03-03 20:46] Therecanbeonlyone1969 opened #132 "add windows as supported OS"
@OR13 @mprorock @mkhraisha ... I need to run everything in git bash since commands such as `rm` are not supported on Windows machines natively. I think it might be worth adding windows support in CI

[2021-03-07 04:06] Therecanbeonlyone1969 commented on #131
@OR13 you updated that, right? At least I think I saw that in your last PR

[2021-03-07 12:23] mprorock commented on #131
I put a bunch of changes in that should be helping with overall build and verify process

[2021-03-08 02:03] mprorock commented on #132
do you have WSL version 1 or 2 ?

[2021-03-08 02:04] mprorock commented on #131
I believe this is resolved now in #136

[2021-03-08 02:06] mprorock commented on #89
i believe this is fixed now as well.  if we can reproduce elsewhere due to other items, we can open a new issue specific to that

[2021-03-08 02:06] #89 closed

[2021-03-08 02:07] mprorock commented on #101
closing this issue - this is now covered in docs, and past, present, and future, correctly formatted dates are available in the data utils

[2021-03-08 02:07] #101 closed

[2021-03-08 02:09] mprorock commented on #74
i believe this is now resolved.  there are also additional checks that will fail hard for development if you set the right env variables

[2021-03-08 02:09] #74 closed

[2021-03-08 23:55] #131 closed

[2021-03-08 23:57] Therecanbeonlyone1969 commented on #44
can close.

[2021-03-08 23:57] #44 closed

[2021-03-09 00:56] OR13 opened #138 "replace all schema.org http with https IRI"
https://github.com/w3c-ccg/traceability-vocab/blob/gh-pages/contexts/traceability-v1.jsonld#L5

possibly related to https://github.com/w3c-ccg/vc-http-api/issues/148

[2021-03-09 12:27] mprorock commented on #138
will resolve today

[2021-03-09 16:04] #138 closed

[2021-03-14 17:13] OR13 commented on #88
Fix is up here: https://github.com/transmute-industries/linked-data/pull/15

[2021-03-18 18:16] OR13 commented on #24
I think the remaining action for this issue is better EPCIS Event examples implemented as Verifiable Credentials

[2021-03-18 20:53] OR13 commented on #88
Now we need to remove all the hacking ?v=N to from URLs in order to close this issue.

[2021-03-18 21:04] Therecanbeonlyone1969 commented on #88
@OR13 ... I never used those -- only resolvable links, but I abused some references a little bit where just using e.g. schema.org/identifier would have been the most accurate IRI ... I will make the e-commerce ones more accurate next week

[2021-03-18 21:08] mprorock commented on #88
Guilty.  Will resolve

Michael Prorock
CTO, Founder
mesur.io

On Thu, Mar 18, 2021, 17:04 Andreas Freund ***@***.***> wrote:

[2021-04-05 20:31] adam-lerner opened #150 "Example Generation Adding @Context"
In several spots in the Traceability Vocab, I've noticed that examples are being generated with contexts embedded into the credential subject and other properties. These additional contexts are not needed and we should fix the example generator to not display them. See example below for `credentialSubject `and `relatedDocuments`:

[code]

[2021-04-07 18:44] OR13 opened #151 "Document meeting process in README"
Add instructions from the CCG mailing list on how to run meetings to the README.

https://meet.w3c-ccg.org/traceability

The bot will show up in the main #ccg IRC channel. Make sure to select "Start
Recording" at the beginning of the call and "Stop Recording" when you're done.
Make sure to kick everyone out of the room when the meeting is done. Once the
last person leaves, everything else is autom

[2021-04-07 20:04] vsnt commented on #151
FYI, here's instructions on creating minutes from the github interface for those who don't want to download meeting files from 2014. https://docs.google.com/document/d/1xsFZ6GKOHLsYwIN8DGYnVZRtxvx9eVZ4QQ6WJF6zgcI/edit

[2021-04-20 18:26] TallTed opened #152 "When to use PROV-O?"
I have suddenly realized what "traceability" means in this context.

What needs are not satisfied by the existing [PROV-O (Provenance Ontology and related documents)](https://www.w3.org/TR/prov-overview/), which could easily be used in Verifiable Credentials, Presentations, Requests, etc., contexts?

[2021-04-20 19:10] oldskeptic commented on #152
I've used PROV-O in two different crop traceability systems and it works relatively well.

There are multiple (sub)communities of practice that are using different flavours of technologies to fix their corner cases with an ever expanding list of standards / solutions / vocabularies available. Duplication (real or perceived) is to be expected.

[2021-04-20 20:07] oldskeptic commented on #152
I don't disagree.

[2021-04-20 20:37] oldskeptic commented on #152
On that note, low-hanging-fruit suggestion for you: Use GeoSparql features instead of a schema place. It gives you the option of adding geometries and making relationship statements (eg: "Boston, MA" sfWithin USA).

[2021-04-20 21:11] TallTed commented on #152
@oldskeptic -- Suggestion for who?  Maybe you should open your own issue... or pull request, depending on the specificity of what you're suggesting should be changed to GeoSPARQL.  (I'm quite aware of GeoSPARQL.  Check out my Github activity history....)

[2021-04-27 15:00] OR13 commented on #88
@mprorock any update on this?

[2021-04-27 15:10] mprorock commented on #88
Just ran some tests this morning and am still hitting some issues when duplicate ids are used in the comment tag.  Digging in a bit more to see why

[2021-04-27 15:29] OR13 commented on #88
@mprorock I have a unit test for this issue here: https://github.com/transmute-industries/verifiable-data/blob/main/packages/jsonld-schema/src/__tests__/duplicate-terms.test.ts

but feel free to open a PR with a counter example if my fix didn't cover it all.

[2021-04-27 15:57] mprorock commented on #88
Cool, like I said I am stepping the code through to make sure it is not on my end

[2021-04-27 19:44] vsnt commented on #151
This is off the top of my head, which means it can be better codified.

1. Send meeting agenda (ideally as early as possible several days in advance, template below)
2. Log into text chat: http://irc.w3.org/?channels=ccg / irc://irc.w3.org:6665/#ccg
3. Log into Jitsi: https://meet.w3c-ccg.org/traceability
4. You should see ccgbot which logs between the jitsi chat and IRC chat.
5. Make sure you are

[2021-04-27 19:50] vsnt commented on #151
Meeting Agenda template, but just use what works best for you. Prolly want to make sure to include the IPR note & directions to join the CCG.

Meeting Date: + bonus link to updated date/time (e.g. https://www.timeanddate.com/worldclock/converter.html?iso=20210427T160000&p1=tz_pt&p2=tz_et&p3=tz_cet)

Text Chat:
      http://irc.w3.org/?channels=ccg
      irc://irc.w3.org:6665/#ccg

Jitsi: https://m

[2021-04-27 20:25] TallTed opened #153 "project needs a rename, or planned output needs generalization beyond supply chain"
[The repo homepage](https://github.com/w3c-ccg/traceability-vocab/) says this vocab is for "supply-chain traceability", but it's named simply, `traceability-vocab`, implying it's meant to be far more general-purpose.

As was said in today's CCG call, it seems clear that there will be other "traceability vocabs" (plural!) following.

It seems equally clear that none of these should be generically n

[2021-04-27 21:53] bumblefudge opened #154 "Tutorial needed for generator process"
Detailed on today's CCg101 call (link forthcoming)

Here's Mike's slide:
![image](https://user-images.githubusercontent.com/37127325/116317546-4fab5d00-a768-11eb-97af-c9d8778656d3.png)

[2021-04-27 21:57] bumblefudge commented on #154
@mprorock @OR13 is this an accurate translation of the above? If so, we can get a skeletal placeholder for a tutorial up lickety split!

1. Create [syntactic] Schemata (in JSON Schema)
2. LD-ify those [syntactic] schema into [semantic] Schemata
3. Generate a JSON-LD Context (graph of expanded schemata)
4. Create test vectors (i.e. "dummy data")
5. Generate objects from vectors
6. Test those object

[2021-04-27 22:09] OR13 commented on #154
@bumblefudge yes please!

[2021-04-27 22:35] bumblefudge opened #155 "Interop question: is there a way to access or verify Legal Entity Identities in an Indy-based OrgBook like VON?"
There was a question on today's CCG101 about how to leverage large-scale indy-based legal entity identity systems of the sort being architected by BCGov and Bosch in various jurisdictions.

I don't actually know much about this so hopefully someone who knows Indy sees this thread and knows how to advance this further! @troyronda anyone come to mind familiar with the Bosch and/or BCGov VON specific

[2021-04-27 22:36] bumblefudge commented on #154
there was also a question of "why generate LD from JSON Schema instead of just writing LD?" which might justify a second tutorial: how to skip steps 1-7 if you've already got valid LD Schemata and a Context file ?

[2021-04-27 22:39] OR13 commented on #153
The work item was created specifically to address supply chain... and its not the first vocabulary to do so:

Today, we already rely on other ontologies, like:

- [schema.org](http://schema.org/)
- [gs1 web vocab](https://www.gs1.org/voc/)
- [chebi](https://www.ebi.ac.uk/chebi/)

We probably could use more coverage for software supply chain use cases...

No reason we couldn't add examples for:

-

[2021-04-27 22:41] OR13 commented on #153
Other work items with a similar structure:

- https://w3id.org/citizenship/v1
- https://w3id.org/vaccination/v1

[2021-04-27 22:47] mprorock commented on #153
I think @OR13 hit the nail on the head - we have started with defining properties related to supply chain traceability use cases, but this can also serve as a broader repo for traceability in general that helps to bring in other vocabs as needed such that they can be used with verifiable credentials and JSON-LD where they do not currently support that model.   Happy to take PRs from folks with oth

[2021-04-27 22:49] mprorock commented on #154
while possible i personally am a fan of the rigor applied by defining a schema, as well as the additional test and verification checks that come from the current approach.

[2021-04-27 22:53] bumblefudge commented on #155
See also https://github.com/w3c-ccg/universal-wallet-interop-spec/issues/84#issuecomment-823563525

[2021-04-27 23:01] OR13 commented on #154
yep, it has been discussed in great detail in the DID WG... JSON-LD is not a schema language... and so if you want to be a bit more security minded, its good to pair it with one, like JSON Schema or CDDL.

[2021-04-27 23:26] bumblefudge commented on #153
The first round of work on this vocabulary was focused on cross-border commodity traceability, and the E-Commerce terms added were cross-border product/package tracing.  I would rather accept PRs from other traceability use cases (software supply chain and dataset traceability for ML purposes are two that come to mind) than foreclose those contributions in advance-- especially if those PRs come *f

[2021-04-27 23:28] bumblefudge commented on #152
@dhuseby do you have any experience with Prov-O, perchance?

[2021-04-27 23:31] mprorock commented on #153
excellent call out as we are currently in discussion on what aspects of our internal training/test dataset and modeling traceability we can release in an open source manner

[2021-04-28 01:49] bumblefudge commented on #154
I think the "second tutorial" could be a deprecated aside :)

here's the whole (sidenote **completely amazing**) pitch deck from today's session, for the archive:
[CCG 101 - VCs in a Traceability Context.pdf](https://github.com/w3c-ccg/traceability-vocab/files/6388547/CCG.101.-.VCs.in.a.Traceability.Context.pdf)

Permission to just link to this from the root readme.md?

[2021-04-28 06:48] domwoe commented on #155
Is there a recording of the call?  I'd like to get more context on this.

[2021-04-28 08:07] kdenhartog commented on #155
Happy to help on this if I can or at least connect the right people @swcurran would be the first one I'd think could help provide more clarity.

From my perspective, VON is effectively just a web service that hosts verifiable credentials that are publicly available (and usually searchable via a browser). Assuming the issuer of the credentials hosted in the registry is trusted then a chain of trust

[2021-04-28 11:04] mprorock commented on #154
No issue at all linking to that presentation

[2021-04-28 13:49] OR13 commented on #153
I do see a chance we might split the contexts in the future: https://github.com/transmute-industries/ns.did.ai/tree/master/suites

so that similar to did core, you could assemble just the contexts you needed instead of taking a kitchen sink.

something like:

[code]

or

[code]

or

[code]

But for now it's better that we work together and focus on shared vocabulary as much as possible.

[2021-04-28 13:52] TallTed commented on #153
So the "traceability vocab" effort is to build and improve on existing works (including other vocabs), in various ways including by adding some supplementary/complementary vocab(s)?  Great! Please do everyone encountering the project a favor, and at least summarize the known previous works upon which foundation this effort will stand!  (This will have a secondary benefit of reducing the questions,

[2021-04-28 14:02] OR13 commented on #153
@TallTed its standard policy to assign issues to people who open them, and ask them to move the issue towards a constructive contribution. If you prefer I can close the issue now, or I can leave it open until you open a PR with changes you think would address the concern for which you raised the issue.

[2021-04-28 14:09] OR13 commented on #151
@bumblefudge thanks for the PR!

[2021-04-28 14:10] OR13 commented on #150
@mprorock @Therecanbeonlyone1969 @mkhraisha can I assign one of you to fix this?

[2021-04-28 14:12] OR13 commented on #119
I don't think we need to bring did web into this

[2021-04-28 14:12] #119 closed

[2021-04-28 14:13] OR13 commented on #113
@Therecanbeonlyone1969 any chance you can tackle this cleanup?

[2021-04-28 14:13] OR13 commented on #90
@mwherman2000 can you propose some small json example here that might move this issue forward?

[2021-04-28 14:15] OR13 commented on #65
I don't think we ever managed to "ship a stable version" I suggest we continue to treat v1 as unstable, until people scream, and help resolve this.

[2021-04-28 14:16] OR13 commented on #47
@mprorock @mkhraisha @bumblefudge what kind of credentials would it be best to show revocation on?

Seems like Licenses would be a good target.

[2021-04-28 14:17] OR13 commented on #15
thanks, looks like we got this in.

[2021-04-28 14:17] #15 closed

[2021-04-28 14:17] OR13 commented on #12
PR to readme clarifies this https://github.com/w3c-ccg/traceability-vocab/pull/156

[2021-04-28 14:17] #12 closed

[2021-04-28 14:18] OR13 commented on #5
resolved for now

[2021-04-28 14:18] #5 closed

[2021-04-28 14:18] OR13 commented on #4
closing for now

[2021-04-28 14:18] #4 closed

[2021-04-28 14:19] OR13 commented on #3
@TallTed do you have any suggesting for improving this part of the vocab?

So far it seems like CHEBI is the best, but sadly its IRIs are not resolvable... I would have preferred both.

[2021-04-28 14:21] OR13 commented on #153
@TallTed

Can I retitle this issue as a request to expand the introduction and add a related work section?

[2021-04-28 14:22] OR13 commented on #153
Removing `wontfix` since the issue thread seems to be headed towards constructive additions to introduction and related work.

[2021-04-28 15:17] swcurran commented on #155
VON, or more precisely Aries Verifiable Credential Registry (Aries VCR) is a bootstrapping mechanism for the use of credentials, enabling an authority to issue public credentials to a service that can be checked by anyone -- for example a registrar of organizations to issue public credentials about registered organizations. As @kdenhartog -- there is only an incremental amount of trust added by th

[2021-04-28 17:39] TallTed commented on #152
@OR13 - Please do not assign any issues to me without my agreement to such assignment, especially where the path to resolution of the issue is unclear and has not reached anything approaching consensus within the relevant group (here, the CCG).

[2021-04-28 17:44] OR13 commented on #152
Folks who open issues are assigned them in order to steward finding a path to resolution... sometimes that means inviting the right folks to contribute, or making proposals, on the thread.

Would anyone else on this thread like to take responsibility for moving this issue forward?

It will be closed in a week or 2 if no progress is made, and no one takes ownership.

[2021-04-28 17:57] TallTed commented on #153
@OR13

"standard policy" where, for whom? You're projecting *something* onto practice within the W3 community, where there is no such "standard policy."

Issues should not be CLOSED without being ADDRESSED by more than a cursory dismissal by a single individual, regardless of that individual's role, unless that individual is the Director of W3C -- and even then, such cursory dismissal would be ina

[2021-04-28 18:01] OR13 commented on #152
@oldskeptic would you consider providing some example JSON for PROVO in the ag space?

Would you be willing to take ownership of driving this issue forward?

[2021-04-28 18:04] OR13 opened #157 "Add examples related to GeoSparql and GeoData that are not PostalAddress"
We want to develop a set of user stories which can help shape the argument for compatibility with GeoSparql...

On the call today, we heard that VCs might get added to RDF data sets where GEO Sparql might be useful for answering questions like:

- As a purchaser of coffee, I want to see all coffee SGTINs i bought from the same region of columbia.
- As a farmer, I want to see crop yields with overl

[2021-04-28 18:08] oldskeptic commented on #152
@OR13 I was providing comments from the peanut gallery using past experience.

I am not part of w3c-ccg and I've been trying to lookup the project governance; I'll take the ticket if membership is open?

[2021-04-28 18:25] OR13 commented on #152
@oldskeptic welcome!

take a look at https://w3c-ccg.github.io/

AFAIK, you need to create a w3c account / sign an IPR agreement to make substantive contributions (which this would be)... but its free to join.

[2021-04-28 18:27] TallTed commented on #152
I do not believe the above is appropriate practice for W3-related work items.  Not least, because someone who is qualified to raise an issue may have no qualifications, including personal network, with which to *address* that issue.

At minimum --- as the above has not been standard practice in any of the many groups (WGs, XGs, IGs, CGs, and others) I have participated in over the past 20 years --

[2021-04-28 18:34] OR13 commented on #152
@TallTed I'm mostly just following the approach we took with DID Core... where I opened many issues, and was then forced to move them forward.... being assigned an issue means asking for help to do the work, or doing the work yourself. sometimes opening the issue is enough to ask for help... issues that have no-body assigned or 5 people assigned tend not to have much progress made.

Perhaps the CC

[2021-04-28 18:36] oldskeptic commented on #152
@OR13 I've got the W3 account under the same nickname. Let me know what other administrative witchcraft needs to be done.

[2021-04-28 18:38] OR13 commented on #153
@TallTed The current work item you are commenting on is not a proposal, its been under active development for some time.

This is the link to the proposal: https://github.com/w3c-ccg/community/issues/191

[2021-04-28 18:40] OR13 commented on #152
I think thats all you need. You should feel free to open any PRs you think move the work item forward.

[2021-04-28 18:56] mprorock commented on #152
@oldskeptic happy to discuss in other issues and PRs additions on the ag side of things - one key thing we are running into is use of GS1 EPCIS event types (e.g. commission, aggregation, etc.) that are common across the backend on supply chain platforms, and ensuring we can issue VCs for those events.  This is an area that PROV-O maps over nicely to, but I think should be thought through carefully

[2021-04-28 19:15] oldskeptic commented on #152
My read of GS1 EPCIS that there has been heavy use of string identifiers for events and I'd like to get clarity on that. I'll put together a few prov style events for discussion.

[2021-04-28 19:39] mprorock commented on #152
absolutely the case - might want to also loop in @mkhraisha as I know they are also looking as GS1 type events on their side

[2021-04-28 19:42] mprorock commented on #153
Just a correction - the proposal for this current work item, "Traceability Vocabulary" is here [w3c-ccg/community#156](https://github.com/w3c-ccg/community/issues/156)

[2021-04-28 19:43] mkhraisha commented on #152
I'm not very familiar with Prov-o but my experience with EPCIS is exactly what you just described.

[2021-04-28 19:47] mprorock commented on #152
Main events we are dealing with for instance are here: [Open Food Trust](https://mesur-io.github.io/openfoodtrust/#operation/post_event)

- observation
- transformation
- aggregation
- disaggregation
- commission
- decommission

[2021-04-28 20:32] TallTed commented on #3
@OR13 [said](https://github.com/w3c-ccg/traceability-vocab/issues/3#issuecomment-717958672) --

From which vocab did you get those attribute names?  Presumably, you can provide the links ...

[and](https://github.com/w3c-ccg/traceability-vocab/issues/3#issuecomment-828495185) --

I've quite lost track of what needs to be identified.  Discussion here and in https://github.com/transmute-industries/t

[2021-04-28 22:31] TallTed commented on #157
There's insufficient context to base construction of such JSON-LD snippets on.  "examples related to GeoSPARQL" could mean almost anything!  Before examples related to GeoSPARQL (a query language; a relatively small extension of SPARQL), there should be something related to GeoData, which would give GeoSPARQL something to operate against...

A plausible scenario might be a wish to `SELECT` all loc

[2021-04-28 22:37] OR13 commented on #157
yep. I tried to weave all this stuff together a while ago with:

https://jsld.org/case-study-agriculture-futures

Mixing a couple different ontologies, along with some of the features that are available if you build on top of JSON-LD.

I guess a better way of framing my initial question would be:

How can we use GeoData to make SPARQL queries over traceability VCs more familiar.

[2021-04-28 22:40] OR13 commented on #3
This was the best I could do previously:

https://identifiers.org/CHEBI:18248

Which maps to `"inchi": "InChI=1S/Fe"`

[2021-04-29 03:40] oldskeptic commented on #152
That list looks...generic in nature. I'm sure that you could slot Transportation, Harvesting or Grading under it, but it seems information lossy. Generically a typical Prov usage would be:

[code]
which lets you have a hierarchy of concepts for different activities like Shipping, RailShipping, TruckShipping,

An in-use example of Cold Conditioning an Ale
[code]

[2021-04-29 13:27] TallTed commented on #3
It also maps to `InChIKey : XEEYBQQBJWHFJM-UHFFFAOYSA-N`

And that leads to a number of [possible identifier sources](https://www.google.com/search?q=inchikey+XEEYBQQBJWHFJM-UHFFFAOYSA-N).  There's also a [shorter list of candidates](https://www.google.com/search?q=%22XEEYBQQBJWHFJM-UHFFFAOYSA-N%22).

One of which led me to <https://webbook.nist.gov/cgi/inchi/InChI%3D1S/Fe>

There may well be bett

[2021-04-29 13:35] OR13 commented on #3
Yes, today we allow chemical properties to be expressed as either:

https://w3c-ccg.github.io/traceability-vocab/#inchi

In steel supply chain we mostly look at percentage of elements, vs complex molecules, but I believe inchi / inchikey effectively support both:

http://identifiers.org/CHEBI:69478

We looked at CAS and ChemSpider as well, but inchi seemed best.

Generally speaking the chem / bio

[2021-04-30 17:16] TallTed commented on #3
This is a *huge* space.  Trying to define or even map all properties in advance is a losing proposition.  A pharma manufacturer is not going to have the same concerns as a packaging manufacturer or a vehicle manufacturer or a furniture manufacturer or a foodstuffs manufacturer, etc., etc.  Procurers of these things, actual users of these things, warehousers of these things, etc., are also going to

[2021-04-30 18:46] OR13 commented on #3
@TallTed I agree its a huge space... we are not trying to cover the entire space of semantically unambiguous supply chain VCs from trusted ontologies... we are showing how to do it for a limited set of use cases in a way that is interoperable.

https://w3c-ccg.github.io/traceability-vocab/#use-cases-and-requirements

We know there are endless edge cases in an open world model, that doesn't mean we

[2021-04-30 19:48] msporny commented on #3
Perhaps traceability vocabularies focused on each industry? Or thinking about how you're going to separate the work when/if that happens?

... and to argue against separation... schema.org is 1,700+ terms and counting, and seems to be scaling well. Is traceability bigger than schema.org? My gut would say no, but then again, I'm no expert.

[2021-04-30 19:50] msporny commented on #47
2020 is outdated, please target Status List 2021.

[2021-04-30 20:02] OR13 commented on #3
We have always expected to eventually do some context splitting... but as I have argued many times... splitting too early is a bad idea.

- https://martinfowler.com/bliki/MonolithFirst.html

Security Vocab started as a monolith as well... and we are just now getting ready to split it up years later.

If we want there to be any commonality between contexts, we ought to be frustrated by looking at t

[2021-04-30 20:15] mkhraisha commented on #47
Licences seems like a very important one, however theres a few things that we may need to discuss:

How are we tackling corrections? im assuming its revoke the old credential and issue a new one, in which case most things that would undergo corrections ( inspection reports, declarations etc) might be really good candidates to show revocations.

[2021-04-30 20:31] mprorock commented on #47
We revoke and issue new with corrected data for ag inspection stuff to match customer needs and current paper work flows

[2021-04-30 23:03] Therecanbeonlyone1969 commented on #113
@OR13 yup ... will do a PR. What do we do for Orders and Invoices? We have conflicting schemas there. Wanna get on a call with interesting ppl and hash it out? cc @mprorock @bumblefudge

[2021-04-30 23:04] Therecanbeonlyone1969 commented on #88
@mprorock I had no issues anymore. cc @OR13

[2021-04-30 23:55] Therecanbeonlyone1969 commented on #132
@mprorock ... never answered. sorry. I do not run Linux on windows10.  I think what we can do is to add a windows10 section in the readme.md with instructions to install node.js and gitbash and be off to the races or install wsl 2 and a linux distribution and then follow the rest of the readme. I think that is the most straightforward path. Happy to write those windows instructions and do a PR. Th

[2021-05-01 00:16] Therecanbeonlyone1969 opened #158 "Suggest a couple of additional features"
A couple of questions that would lead to some extended functionality, if implemented:

1. should we add a configuration file for credential test fixtures? This would allow for example to add `evidence` and/or `credentialStatus` variably to a VC, if so desired.
2. Should we add BBS+ signatures besides Ed25519 by adding another key into the DID doc we are currently using? This would double the numbe

[2021-05-01 00:51] TallTed commented on #3
Based on what's been said about [supply-chain] traceability?

Yes.

Backed by several 500lb gorillas in the industry, schema.org has been around for several years now --- and yet, it still has incoherent, inaccurate, ad inconsistent domain/range statements, which would seem to me to be one of the basics in ontology design, and which linger years after some of them have been reported.

UMBEL and se

[2021-05-02 21:00] dhuseby commented on #152
None. I have looked at it in the past but it never seemed useful in the contexts earlier in my career (i.e. privacy, security, traceability). Insofar as the web was used in those pursuits, it was for user interfaces for configuration and presentation of data gathered using non-web protocols and techniques.

Provenance is _not_ a web technology. Maybe someday you'll figure out a way to force everyb

[2021-05-03 12:02] oldskeptic commented on #3
In the case of both agriculture and pharmaceutical, composition data is limited if not outright proprietary. Most of the hardcore detail is in the (sometimes mandated) lab reporting tests for basic elements (Pb) or complex compounds like N-nitrosodimethylamine (NDMA) in ranitidine.

But the thing being tested for is highly application specific. Both Pb and NDMA are in wikipedia but process-specifi

[2021-05-03 14:28] TallTed commented on #152
@dhuseby -- PROV-O is _not_ limited to describing web technologies, and I'm not sure why you would think it was ... which seems the only reason to emphasize that "Provenance is _not_ a web technology."  PROV-O can equally well be used for describing the progression from Tree to Lumber to Chair to Scrap to Firewood to Ash, among other "non-web" scenarios.

Further, what makes you think that the goa

[2021-05-03 23:45] TallTed opened #160 "Edit README etc to more accurately reflect current roles and process"
From README --
[code]

It is highly unusual for the Editors to have this much preemptive power over anything in a W3 group of any kind, even "changes that potentially introduce breaking or non-backwards compatible functionality".

I think this policy needs some reconsideration, and the README will then need some new wording.

[2021-05-03 23:49] TallTed commented on #15
Remove "Help wanted" since it's done?

[2021-05-04 01:03] wyc commented on #160
As per the [Consensus](https://www.w3.org/2020/Process-20200915/#def-Consensus) defn:

@TallTed do you feel that changing "editors" to "work item contributors" would help address this concern?

[2021-05-04 02:14] TallTed commented on #160
@wyc -- Yes, that would help some. Broader point is that output of Work Items and/or Task Forces is aiming toward being output of CCG, and the content (and decisions about that content) should be being made by the group members, not by Editors nor Chairs nor WI/TF facilitators.

[2021-05-04 02:53] kdenhartog commented on #160
I'm +1 to this. This should allow the subset of work item contributors to keep work on work items moving forward while also allowing for the broader CCG audience to be able to engage on topics of interest to express support or dissent when they feel necessary.

[2021-05-04 17:41] OR13 commented on #88
On the call: In order to close this out, we need to remove all query string hacks from all IRIs in the JSON-LD generated context.

[2021-05-04 17:43] OR13 commented on #150
Synthetic data generation should not nest contexts.

[2021-05-04 17:48] OR13 commented on #160
@TallTed to re-title issue, work through proposal for README updates / contributing guide updates.

[2021-05-04 17:54] OR13 commented on #158
Lets try and focus this issue on JSON Schema for `Evidence`  / `credentialStatus`. and punt signature suite stuff to interop profile.

[2021-05-04 17:57] OR13 commented on #158
@mprorock noted on the call that Ag use cases also needs support for evidence.

[2021-05-04 17:59] OR13 commented on #158
@Therecanbeonlyone1969 we need to sync on this on a call / slack and make a proposal for moving things forward.

[2021-05-04 18:02] OR13 commented on #157
@mprorock to add comments regarding this, has strong opinions.

[2021-05-04 18:05] OR13 commented on #157
Lets try and compare with existing terms like lat / long and PostalAddress.

[2021-05-04 18:11] OR13 commented on #152
On the call, Provo discussed as being good at representing actions... causing some trouble with integrations with SAP / GS1 EPCIS.... seems complicated to figure out how to integrate it.

[2021-05-04 18:17] OR13 opened #161 "Add examples of paper forms for digital credential formats"
Lets gather examples on the issue, and then work towards a proposed PR to add examples.

[2021-05-04 18:20] mprorock commented on #161
also including how we go from paper to json schema to linked data

[2021-05-04 18:24] OR13 commented on #152
@mkhraisha any opinions on this?

We're seeking community members who can move this item forward.

[2021-05-04 18:59] mkhraisha commented on #152
Apologies for missing the call today -- had a personal emergency come up.

From what I'm gathering it appears that there is very little appetite from people to modify the existing work to integrate PROV-O but rather theres an appeal that says why not? ( which is a valid and important question).

My perspective is that we've been quite happy working with GS1 and its been pretty great at expressing

[2021-05-04 20:35] Therecanbeonlyone1969 commented on #158
@OR13 @mprorock the call dropped off my calendar smh ... could someone resend the invite?

[2021-05-04 20:35] Therecanbeonlyone1969 commented on #158
@OR13 ... sure. Whatever works. Just threw out some ideas.

[2021-05-04 20:37] Therecanbeonlyone1969 commented on #161
@OR13 @mprorock as a way of example, the eCommerce waybill schema in the repo is a one-to-one translation of the IATA Airwaybill form.

[2021-05-04 20:40] Therecanbeonlyone1969 commented on #150
@OR13 ... yeah i can do that together with the suggested enhancements etc.

[2021-05-05 13:25] oldskeptic commented on #157
The primary value of geosparql is in its concept of a Feature vs a Geometry. That allows for the creation of places without committing to a physical location (eg: [The #brewHouse in #152](https://github.com/w3c-ccg/traceability-vocab/issues/152#issuecomment-828919259)) or having multiple physical locations over time.

I have a service that makes use of this for container tracking. As they get (un)

[2021-05-05 13:33] oldskeptic commented on #152
Regrets for the call, it was a personal emergency day for many. My concern with GS1 EPCIS is with the string identifiers which won't scale across applications. Since I am not seeing enthusiasm for prov-o, I won't work on this any further.

[2021-05-11 17:44] Therecanbeonlyone1969 commented on #154
Will see if i can find someone from spherity to work on this.

[2021-05-11 17:46] OR13 commented on #151
this done!

[2021-05-11 17:46] #151 closed

[2021-05-11 17:47] OR13 commented on #120
Discussed on call. Proposal is move this to the interop repo when it exists.

[2021-05-11 17:50] OR13 commented on #115
Discussed on call, proposal to raise a PR.

[2021-05-11 17:54] mprorock opened #162 "Need ability for inheritance on json schema"
In an ideally world we could use `allof` or similar in JSON Schema to represent a class - subclass relationship - this type of thing is well handled in JSON-LD, less so in JSON Schema.  We should pick a best practice on this, and document it, etc.

[2021-05-11 17:59] mprorock commented on #162
for example, in terms of the ag use case, we cannot type check that ppq203 is a subclass of aginspection in the repo

[2021-05-11 18:10] Therecanbeonlyone1969 commented on #162
Recommend to strive for a composable structure that is like:

1. General structure of properties we deem as common and decide if those are to be required
2. Extension schemas through `$ref` for verticals with these schemas to be composable and thus extensible again to other sub-schemas

example of an approach is:

- https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/traceability-sche

[2021-05-11 18:12] OR13 commented on #90
Discussed on the call, waiting for proposal on next steps to move this forward.

[2021-05-11 18:12] mprorock commented on #162
note: hardening any type enforcement should likely come into play once it is known that the object fully represents the contents of the type - e.g. paper based form that does not change or changes only on a long time scale, and is being digitized (e.g. digital form of a regulatory document)

[2021-05-11 18:14] OR13 commented on #65
Discussed on call, recommend closing, and keeping the v1 unstable...

[2021-05-11 18:22] mprorock commented on #78
This should be closed since we are creating a Profile for implementation and that is the correct place to handle this topic

[2021-05-11 18:26] bumblefudge commented on #64
Reminder (as discussed on today's call): Update these use-cases with links if process/non-process distinction (or any other relevant change to the heirarchy or naming of credentials) and/or leave issue open if such changes are pending

[2021-05-11 18:31] nissimsan commented on #27
Note, edi3.org is an informal project code name and site. The formal UN/CEFACT name is RDM2API. Similarly, the official link to the vocabulary which is the output of this project is here:
https://service.unece.org/trade/uncefact/vocabulary/uncefact/

[2021-05-11 18:31] OR13 commented on #27
I think the next steps for this would be to find the best possible "EDI3" example to add as a first pass... ideally something very small and highly valuable

[2021-05-11 18:57] mgh128 commented on #24
The next two weeks are busy for me but if you can outline what the examples should express, I can try to prepare some this month - or ask @PhilArcher to help?

[2021-05-12 19:53] OR13 commented on #24
@mgh128 thanks for pinging Phil, I think this is enough for us to start with:

https://github.com/gs1/EPCIS/blob/master/JSON/WithDigitalLinkID/Example_9.6.2-ObjectEventWithDigitalLink.jsonld

[code]

` "id": "_:document1",` => credentialSubject.id

This could be a DID, but could also be the blank node identifier you provide in your example.

[2021-05-12 23:27] mgh128 commented on #24
I should just caution that the EPCIS JSON-LD examples and context resource(s) in GitHub are still draft, hopefully fairly stable, but still potentially subject to change or errata fixes until EPCIS 2.0 is ratified.

[2021-05-18 18:24] bumblefudge commented on #154
On today's call, interest was expressed in a tutorial guidance on how NOT to use generators and manually construct LD.

Notes:
- faker data creates gitflow /merge conflicts -

completely non-generator approach:
not currently supported, tests assume generator usage. PRs welcome for test optionality.

hybrid approach:
- currently, you can BYO more or less (or no) pre-constructed schemata and still p

[2021-05-18 18:28] bumblefudge opened #166 "Get default agenda into CCG calendar"
1. IP Note, Agenda Review, Scribe Selection (5 minutes)
2. GitHub Issue & PR review (Core vocab)
3. GitHub Issue & PR review (Core vocab documentation)
4. GitHub Issue & PR review (VC-HTTP-API extensions repo)
5. GitHub Issue & PR review (Interop repo)
6. Proposals to Address Challenges
7. Next Steps

[2021-05-18 18:29] bumblefudge commented on #166
(not editor, can't assign to @mprorock but he said on the call he would assign it to himself)

[2021-05-18 18:36] OR13 commented on #154
@bumblefudge thanks for these notes!

[2021-05-18 18:41] bumblefudge commented on #132
Hey sorry just saw this. I would say, yes plz, add a Windows 10 section, I can test the regular section on WSL2 and add annotations if anything needs an additional flag or $PATH concat or whatever

[2021-05-18 18:48] bumblefudge commented on #158
@OR13 maybe worth linking to this issue in an email to the list as a "roadmapping"/stack-ranking item on the agenda for next week? that way anyone with Strong Opinions™ on these features will be motivated to come, bring opinions, volunteer for a PR, etc? Just an idea, need not be next week

[2021-05-19 03:44] bumblefudge commented on #154
downpayment on a tutorial that will be BEAUTIFUL when it's eventually PRed in :D.  in the meantime, gives people jumping in midway a notes-trail to research.

[2021-05-25 14:48] mkhraisha commented on #150
Happy to take over this, if needed.
my proposal is to modify all generator functions to return based on a flag.
I believe the conversion to generators that return a static blob should be done by individual contributors on the vocabulary they contributed to make sure it "makes sense" in business context.

[2021-05-25 17:29] mkhraisha opened #167 "SubEvents need to be defined"
We need sample definitions for events as defined in #164

PR #164 adds a simple root event without any event subtypes. We need EPCIS events that define

- observation
- transformation
- aggregation
- disaggregation
- commission
- decommission

The initial action is to provide one of these events and then after discussions create the rest.

[2021-06-01 17:49] OR13 commented on #155
seems like the question is answered a bit, do we need an example in the spec? Do we need an informative section? How might be update the "Organization" type?

[2021-06-01 17:52] OR13 commented on #153
I think we have addressed this by updating the readme's and having regular calls. @TallTed  can you propose next steps for this issue.

[2021-06-01 17:52] Therecanbeonlyone1969 commented on #155
I do not think that the spec needs to talk about legal identity interoperability because it is a jurisdictional question or enterprise trust-relationship question and will be context-dependent. We would have to create a list of registries and their interfaces if this were to be of value to implementers, similar to the DID method registry.

[2021-06-01 17:55] OR13 commented on #47
We are seeking example of credential that really ought to be revocable.

If we can't find any for Steel, ECommerce, Oil and Gas, or Ag, we should close this.

[2021-06-01 17:57] OR13 commented on #113
If we remove prefixes, then we need a base template, for shareable types and extensions.... blocked by base types?

[2021-06-01 17:58] OR13 commented on #113
blocked by https://github.com/w3c-ccg/traceability-vocab/issues/162

[2021-06-01 17:59] OR13 commented on #113
Proposal to add base types and removing prefixes in a single PR.

[2021-06-01 18:04] OR13 commented on #3
@mkhraisha can you add your examples, for how you represent chemical properties?

[2021-06-01 18:08] OR13 commented on #3
Discussed on the call, good conversations regarding the importance of consistent ways of representing properties.

[2021-06-01 18:10] mkhraisha commented on #3
The primary action is: are we happy with representing chemical properties do we really need something different?

[2021-06-01 18:12] mkhraisha commented on #88
I think i still need to clean those up on our end.

[2021-06-01 18:15] OR13 commented on #161
We need images or:

- CMTR
- Commercial Invoice
- Bill of Lading
- Ag Inpspect

etc..

[2021-06-01 18:17] nissimsan commented on #161
I can assist with this

[2021-06-01 18:19] OR13 commented on #161
Maybe search for blank forms as well.

[2021-06-01 18:22] OR13 commented on #160
@TallTed we discussed this on the call, readme still needs to be updated.

[2021-06-01 18:24] OR13 commented on #157
@mprorock I believe you made a verbal proposal on the last call, can you recommend a path forward?

Perhaps we can add an example to the issue?

[2021-06-01 18:25] OR13 commented on #157
@OR13 update the description with a hypothetical user story, and additional context.

[2021-06-01 21:16] OR13 commented on #157
I updated the description.

[2021-06-02 17:50] OR13 commented on #157
The advantage of retaining the VC and having it use a representation that is compatible with GeoRDF is that you can answer some questions about why you believe a particular conclusion from a reasoner... even if you don't use a semantic reasoner, but instead pull that geo location geometry into geo JSON, etc...

[2021-06-05 13:30] OR13 commented on #152
Example of when to use provo:

- https://github.com/ESIPFed/science-on-schema.org/blob/master/guides/Dataset.md#provenance-relationships

https://github.com/schemaorg/schemaorg/issues/1959#issuecomment-855038668

[2021-06-08 14:38] TallTed commented on #78
I suggest not closing such resolved, unaddressed issues, but rather transferring them to the relevant repo, etc. — or at least, holding them open until a new issues is opened in that other space, which refers back to the original here or wherever.  This ensures that the original (apparently valid, based on the brief discussion above) issue doesn't get forgotten in that "correct place".

[2021-06-09 18:31] TallTed commented on #153
The "About" section of the repo homepage should be coordinated with the other content changes.  I don't know who can change this (perhaps CODEOWNERS?).  It now says --

I suggest this should become --

The README also needs some additional work, for which I'll submit a PR in the near future.

I think it needs something about enabling provenance-tracing of process inputs and outputs, from the most

[2021-06-09 20:19] TallTed commented on #88
_**tl;dr:** There are many problems brought to light by this issue.  Please take the time to read this very long comment, as the sooner these errors are addressed, the sooner good data and tests can be deployed._

-----

I do not think the title of this issue reflects its current evolved state (and I'm not sure it ever accurately reflected the issue being discussed, including in the original post)

[2021-06-15 18:03] OR13 commented on #162
JSON Schema that use inheritance do not generate JSON-LD context properly.

[2021-06-15 18:17] OR13 commented on #65
Need a warning added to the spec before this can be cclosed.

[2021-06-15 18:19] OR13 opened #169 "Add CI Release to Schema, Spec and Context and Git Tags"

[2021-06-15 18:23] OR13 commented on #64
This was accomplished

[2021-06-15 18:24] OR13 commented on #64
@TallTed can you review the related PR and make proposal for what is remaining to close this issue

[2021-06-15 18:25] mprorock commented on #90
@mwherman2000 just wanted to check in if we have any examples of this in json?

if not, I propose we close the issue unless we can get some concrete examples and motivation to add into the spec

[2021-06-15 18:26] OR13 commented on #64
@bumblefudge can you propose next steps for closing this issue.

[2021-06-15 18:28] bumblefudge commented on #64
will do

[2021-06-15 18:29] OR13 commented on #27
We've seen related issues with gs1 unitCode... we would like to see a "better exampl" on the issue, and work towards a PR.

[2021-06-15 18:31] TallTed commented on #64
This appears to me to be similar to internal vs external APIs, and along those lines I think there should be no built-in differentiation.

Any differentiation should be deployment-specific, i.e., business logic of the entity using the VCs.  That entity might apply different requirements to VCs issued and consumed by internal business processes, which might change over time due to acquisitions or s

[2021-06-21 20:09] TallTed commented on #90
@mprorock -- s/close/label as deferred/.  Closed issues have no easy path to discovery or tracking, so issues that haven't been resolved should be kept open, with suitable labels and such.

[2021-06-22 13:49] mprorock commented on #90
Definitely open to this - @TallTed have a label suggestion for "abandoned" or low activity issues?  other option is to add an "unresolved" label, and then a search for closed + unresolved shows any of those issues if they are closed and not re-opened

[2021-06-22 14:00] TallTed commented on #90
"**Deferred**" with or without a target version seems to be the most common label used.  I still prefer and recommend keeping these **open**.  (It's easy enough to build search terms that exclude "**deferred**" when reviewing issues actively being worked.)  (And these would differ from "**closed wontfix**" which could otherwise look the same.)

[2021-06-29 16:16] mkhraisha commented on #115
Apologies for delay on this, will tackle this for next week's meeting.

[2021-06-29 16:30] mkhraisha opened #174 "Many Undefined Fields in published Spec"
The Published Spec has many Undefined variables bubbling up to the surface:

Not sure what's causing this one:
![image](https://user-images.githubusercontent.com/19310771/123834527-81aa7e00-d8d5-11eb-8df9-b02cf8693dca.png)

however these are due to missing descriptions:
![image](https://user-images.githubusercontent.com/19310771/123834557-8a02b900-d8d5-11eb-95b9-bb718ee43246.png)
![image](https://

[2021-06-29 16:39] mkhraisha opened #175 "Credentials Folder under Docs"
Is the credential folder under Docs still necessary?
It has a README saying its pending a merge, couldn't find an existing issue tracking it.
[Credentials](https://github.com/w3c-ccg/traceability-vocab/tree/main/docs/credentials)

[2021-06-29 17:08] mkhraisha commented on #132
I have tested this on WSL2 and there are no issues that I ran into.

[2021-06-29 17:52] mkhraisha opened #176 "Remove Autogen file"
this was discussed on 29-06-2021

We will need to split out #170  to two PRs, one for the function and one to remove the generated files.

[2021-06-29 18:08] mkhraisha commented on #150
The agreement on the 29/06 call was to remove nested contexts and place them on the root level context object and remove duplicates.

So assuming:

[code]
this would change to

[code]

[2021-06-29 18:19] OR13 commented on #24
related to #167

[2021-06-29 18:22] OR13 commented on #158
Discussed on the call, this should be addressed when the linked PR is split up.

[2021-06-29 18:23] nissimsan opened #177 "JSON-based test data"
The current JavaScript-based test generators significantly limits the contributor potential. We should allow for static JSON-based test files to make it as simple as possible to provide contributions.

[2021-06-29 18:24] OR13 commented on #166
@mprorock please confirm this is all done, and then let us know if we can close.

[2021-06-29 18:25] OR13 commented on #166
discussed on the call today, closing as done.

[2021-06-29 18:25] #166 closed

[2021-06-29 18:27] OR13 commented on #154
let's get these notes / diagrams in the readme.... what is remaining?

[2021-06-29 18:28] nissimsan commented on #154
This will be simpler if we move to static json examples - less to document.

Ref: https://github.com/w3c-ccg/traceability-vocab/issues/177

[2021-06-29 18:29] OR13 commented on #167
@mkhraisha to add a description / action.

[2021-06-29 23:14] OR13 commented on #132
we should close this issue.

[2021-07-01 11:42] nissimsan opened #178 "How can we best make HTS codes referenceable?"
"HTS" codes is an American extension of the World Customs Organization's Harmonized System codes. Expressing commodity type is used for determining tariffs and associated documentation.

Here is a source of these HTS lists:
https://catalog.data.gov/dataset/harmonized-tariff-schedule-of-the-united-states-2019

This includes a json formatted file - I don't suppose that's sufficient for proper refere

[2021-07-01 11:48] nissimsan commented on #178
My question applies to the "normal" HS codes too:
https://github.com/datasets/harmonized-system/blob/master/data/harmonized-system.csv

[2021-07-02 20:49] TallTed commented on #178
The best way would be to get the ITC, and more specifically, the [Office of Tariff Affairs and Trade Agreements](https://catalog.data.gov/dataset?publisher=Office%20of%20Tariff%20Affairs%20and%20Trade%20Agreements), to publish that data as Linked Data, with URIs properly minted for each relevant entity.  This would not be very difficult, given the starting point of those documents you linked.  (Mo

[2021-07-05 08:19] nissimsan commented on #178
Thanks @TallTed!

I completely agree, ITC would (should) ideally expose the HTS codes; and WCO expose HS codes. I'll see what I can do to convince them to do so.

One of my peers at UN/CEFACT (thanks @colugo) has produced the attached JSON-LD representations.

As a practical way to fill the void, might it make sense to host these lists here, though? Similar to how we also have the periodic table -

[2021-07-05 19:46] mkhraisha commented on #150
@msporny this is probably something you want to weigh in on.

[2021-07-05 19:55] msporny commented on #150
Doing either is fine. If you're going to put contexts at the top level of a document, you may want to use scoped properties to narrow the fields where the second context comes into play. For example, you could scope by type for 'Purchase' -- examples of scoping by type can be found here:

https://github.com/digitalbazaar/ed25519-signature-2020-context/blob/master/contexts/ed25519-signature-2020-v1

[2021-07-06 15:14] TallTed commented on #178
I would not recommend storing monolithic dump files in a change-management-system such as git nor a site based on the same such as github.  I would strongly recommend *against* storing such monolithic files in some other organization's space within such system -- including here.

I've not looked into the JSON-LD ZIPs you posted here; it's all-but-certain that they are not based on official URIs/do

[2021-07-06 17:39] #174 closed

[2021-07-06 17:44] OR13 commented on #175
Recommend remove this folder, and require the spec to only cover data that is under test / validatted by CI.

[2021-07-06 17:46] Therecanbeonlyone1969 commented on #175
Note:

old .gitignore

[code]

[2021-07-09 16:58] #176 closed

[2021-07-13 17:48] OR13 opened #183 "We should be verifying revocation list checks in examples that have credential status"
see https://github.com/w3c-ccg/traceability-vocab/pull/170/files#r652905920

[2021-07-13 17:50] OR13 commented on #183
cc @Therecanbeonlyone1969 we can use the vc-http-api example case 14 and case 15 (failure).

[2021-07-13 17:51] OR13 commented on #183
https://github.com/w3c-ccg/vc-http-api/blob/main/packages/vc-http-api-test-server/__fixtures__/verifiableCredentials/case-14.json

[2021-07-13 18:01] OR13 commented on #155
on the call today, we discussed needing a section of the spec that comments on the relationship between credentials and public registries.

[2021-07-13 18:09] OR13 commented on #3
discussed on the call, we will close unless their are objections, we thing any subsequent issues should be addressed seperatly.

[2021-07-13 18:12] OR13 commented on #160
we discussed on the call, still needs to be updated.

[2021-07-13 18:16] OR13 commented on #157
What benefit does VCs bring to life that did not exist previously... how are other ways of expressing geo data better for more compute friendly.

expressing in 1 form, doesn't mean it can't be expressed in other forms.

sometimes we want geo datat, sometimes we want street address.

[2021-07-13 18:18] OR13 commented on #157
proposal is to add an example that is not a postal address.

[2021-07-13 18:18] OR13 commented on #157
Find all sources of resource X within radius Y of spot.

[2021-07-13 18:21] OR13 commented on #157
telecom use cases, tower locations, agriculture examples, would be nice to see location expressed in different ways.

[2021-07-13 18:24] OR13 commented on #152
Lets try to make an example out of https://github.com/w3c-ccg/traceability-vocab/issues/152#issuecomment-828919259

[2021-07-13 18:27] OR13 commented on #153
Related to https://github.com/w3c-ccg/traceability-vocab/issues/160 can be tackled with readme updates, will also be helpful to tweak the github description and links

[2021-07-13 18:34] mkhraisha commented on #161
our Observations list come from here for example: https://corporate.exxonmobil.com/Crude-oils/Crude-trading/Assays-available-for-download

[2021-07-27 14:37] mkhraisha commented on #167
@mprorock any idea if there are any EPCIS events for Storage and Transportation?

[2021-07-27 14:43] OR13 commented on #167
https://github.com/gs1/EPCIS/blob/5f1998aff6540e2ac11727ff085eb7ac1eaa1b3c/Ontology/CBV.ttl#L428

[2021-07-27 17:57] OR13 commented on #150
PROPOSAL: replace `$comment: string` with `$linkedData : object`

[2021-07-27 18:05] OR13 commented on #150
This proposal passed on todays call, I have the action of making these changes available.

[2021-07-27 18:20] OR13 commented on #150
We resolved this proposal as well.

[2021-07-27 18:24] OR13 commented on #150
differed to next meeting, pending issues opened and feeback requested.

[2021-07-27 18:28] OR13 commented on #150
I have been taking notes here, please excuse my mess, I am moving these to separate issues.

[2021-07-27 18:32] OR13 opened #184 "PROPOSAL: replace $comment: string with $linkedData : object"
This proposal is related to how we generate JSON LD Contexts from JSON Schema, and has been discussed on many PRs and issues, including:

- https://github.com/w3c-ccg/traceability-vocab/pull/171
- https://github.com/w3c-ccg/traceability-vocab/pull/172
- https://github.com/w3c-ccg/traceability-vocab/pull/182

On todays call, we resolved this proposal, and this issue is opened to track the implement

[2021-07-27 18:35] OR13 opened #185 "Ask JSON-LD and JSON Schema WGs/teams for help with making JSON-LD Schema"
See comments on https://github.com/w3c-ccg/traceability-vocab/issues/150

We resolved this resolution on todays call, this issue is opened to track ensuring that feedback is requested from both groups.

- [ ] CG has requested feedback from JSON-LD WG
- [ ] CG has requested feedback from JSON Schema WG

[2021-07-27 18:36] OR13 opened #186 "PROPOSAL: We will use OAS3.0 YAML Schemas in trace vocab, instead of JSON Schema in JSON"
This proposal has not been resolved.

We have deferred this proposal to next meeting, and the issue is opened to gather feedback on exactly what such a change would look like.

As you can see, OAS 3.0 provides examples in JSON and YAML:

- https://swagger.io/specification/

Here is an example of a [Verifiable Credential Schema in OAS3.0 represented as YAML](https://github.com/w3c-ccg/vc-http-api/b

[2021-08-02 13:16] nissimsan opened #188 "npm run build:all stuck in error"
Hello,

In building schemas, the build script (`npm run build:all`) gets stuck when there has been an error. It's of course fine to get an error if something is wrong on a schema, but the script error remains after fixing the issue.

Example:
checkout -> npm run build:all -> All okay
add schemaXyz.json -> npm run build:all -> Error
remove schemaXyz.json -> npm run build:all -> Error persists

The

[2021-08-02 15:14] mkhraisha commented on #186
I was under the impression that OAS3.0 was mainly intended as a way to document web-apis, this however looks much cleaner than what we currently have. huge +1

[2021-08-02 15:44] OR13 commented on #188
try:

[code]

[2021-08-02 15:54] OR13 commented on #188
https://github.com/w3c-ccg/traceability-vocab/blob/main/packages/traceability-schemas/scripts/build-schemas.js#L11

should be wrapped in try catch and re-throw with file name that caused problem.

[2021-08-02 16:04] OR13 commented on #188
[code]

[2021-08-02 18:22] TallTed commented on #186
If I understand this correctly, it seems that —

— would be clearer and more internally consistent if rewritten as —

?

[2021-08-03 11:52] nissimsan commented on #178
@TallTed, many thanks.

It's hard to disagree with you on this. Better to focus our efforts on the proper solution than an interim one.

I actually did file a request via https://www.data.gov/contact back when I raised this. I haven't heard back from them. But now noticed their github and raised this:  https://github.com/GSA/data.gov/issues/923
Let's see what/if they respond, and perhaps we can ge

[2021-08-03 17:55] OR13 opened #189 "Update JSON Schema to YAML and OAS3.0"
RESOLVED: The trace vocab will use OAS3.0 Schemas represented in YAML, instead of JSON Schema represented in JSON.

[2021-08-03 18:35] OR13 opened #191 "PROPOSAL: Define inheritance model for *Certificate "VerifiableCredential types""
https://w3c.github.io/vc-data-model/#types

This would be a JSON Schema which defined common terms for "Verifiable Credential types"...

Note that a verifiable credential type is different than a "credentialSubject type or credentialSubject claim type"

[2021-08-03 18:35] OR13 opened #192 "PROPOSAL: Define a tagging structure for grouping schema objects"
- [x] Move industry specific credentials to a folder
- [x] Add OAS tags to each credential

[2021-08-03 18:36] OR13 opened #193 "PROPOSAL: Implement a folder structure that separates and groups schemas"

[2021-08-03 19:15] TallTed commented on #189
per #186

[2021-08-04 14:23] mkhraisha commented on #184
How does this play out with the #89 we made?

[2021-08-04 15:52] TallTed commented on #184
It's probably worth changing the `PROPOSED:` issue titles to `RESOLVED:` when that happens, whether the then-prescribed actions based on the resolution are subsequently tracked in that issue (only recommended if simple) or in one or more new issues (recommended if the original issue or the necessary actions are complex) that may provide more clarity with less distraction.

[2021-08-04 16:23] OR13 commented on #184
@mkhraisha they are unrelated AFAIK.

[2021-08-06 10:54] mwherman2000 commented on #90
Checkout https://docs.oasis-open.org/ubl/UBL-2.1-JSON/v1.0/cnd02/json/
More specifically, https://docs.oasis-open.org/ubl/UBL-2.1-JSON/v1.0/cnd02/json/UBL-Invoice-2.1-Example.json

[2021-08-10 18:06] mprorock opened #194 "Need the ability to capture standalone data around possible cross border movement early in the supply chain process"
regarding pr #187 and [Intent to Sell](https://w3c-ccg.github.io/traceability-vocab/#IntentToSell) overlap - we need a manner to capture early in the process of potential cross border movements stand alone details regarding possible movements of a product.

at a minimum we need to capture:

* who is initiating or planning the movement of an item across a border
* who that party is planning on sour

[2021-08-10 18:09] mprorock commented on #194
note: a path we would be happy with would be renaming "Intent to Sell" to "Intent to Import" and that would satisfy our needs

We have a need for this information outside of customs and regulatory processes, especially for looking at potential cross border contamination or invasive species tracking, etc

[2021-08-10 18:11] OR13 commented on #194
Lets gather requirements here first, before continuing to discuss ITI.

[2021-08-10 18:13] mprorock commented on #191
big fan of this - multiple types are very key for semantic understanding of the data on our side, as well as for validation

[2021-08-10 18:20] mprorock commented on #191
at a minimum we could include:

- name
- description
- use of object for issuer
- use of object for subject

[2021-08-10 18:22] mkhraisha commented on #191
* Require place under issuer object

[2021-08-10 18:24] mprorock commented on #192
lower priority, but we would like the ability to tag credentials by use case, common usage, etc - closely related to #193 and both could be potentially resolved with a common approach

[2021-08-10 18:30] Therecanbeonlyone1969 commented on #194
Requirements (E-Commerce Sector):

- Heterogeneous “data shards” from various supply chain actors must be combinable into a meaningful and coherent mosaic for each E-Commerce transaction and shipment
- Timely notification of events, documents, and expected volumes at every point of the supply chain
- Timely identification and notification of “anomalies”
- Adaptive and linked data feeds to provide

[2021-08-10 18:32] mkhraisha commented on #191
* Require Credential status

[2021-08-10 19:45] OR13 commented on #191
I would be open to "defining place and credential status"... but not to requiring them.

[2021-08-16 13:26] nissimsan commented on #194
Supply Chain Requirements:
- Indication of the reason why the presenter is submitting the presentation
- Acknowledgement and acceptance of liability involved in making the presentation
- References between presentations, allowing updates and corrections

Proposed Solution:
The above requirements can be solved with two attributes: `correlationId` and a short, free form `message`.

Suggested Options

[2021-08-17 17:47] mprorock commented on #194
@nissimsan definitely prefer option 1 - rename

[2021-08-17 17:51] mprorock commented on #47
can we address this by adding to the generators so that it is handled correctly and consistently for all credential examples we generate?

[2021-08-17 17:59] OR13 commented on #47
Decision to add an example of "Revocation List 2020".

[2021-08-17 18:03] TallTed commented on #47
Discussed in 2021-08-17 call --
1. Example of "Revocation List 2020" will be added now, per prior RESOLUTION.
2. Example of "Status List 2021" (or later) will replace the above when "Status List 2021" (or later) is adopted by the VC HTTP API (or whatever new name)

[2021-08-17 18:05] OR13 commented on #191
Related to credentialStatus https://github.com/w3c-ccg/traceability-vocab/issues/47

[2021-08-17 18:08] mprorock commented on #47
PROPOSAL: we should note in the spec that: we recommend the use of credential status in all credentials, and for purposes of complete examples of VCs we are including credential status in all examples

[2021-08-17 18:10] OR13 commented on #113
I think we can safely remove the prefix, without discussing other issues.

[2021-08-17 18:13] OR13 commented on #113
If there exist no conflict, remove the prefix.

if there exists a conflict, raise a separate issue.

[2021-08-17 18:24] Therecanbeonlyone1969 opened #195 "Standardizing Way Bills on the IATA Airfreight Way Bill standard"
**Proposal**
Use the IATA Airfreight Way Bill standard -- https://www.iata.org/en/programs/cargo/e/eawb/ -- for all Way Bills.

Implementation of IATA Way Bill are here:

- https://w3c-ccg.github.io/traceability-vocab/#EcommerceWayBillRegistrationCredential
- https://w3c-ccg.github.io/traceability-vocab/#EcommerceWayBillRegistrationEvidenceDocument

and associated sub-schemas

[2021-08-17 18:25] mprorock opened #196 "Need the ability to point to regulatory and existing paper based forms at the credential level"
We need the ability to reference related regulatory language and / or links to existing paper based forms in credential examples so that a user reviewing the documentation can quickly jump to current path

this may want to wait until post YAML conversion

[2021-08-17 18:26] mkhraisha commented on #191
Certificate forms should have a link to external forms and examples

[2021-08-17 18:48] mkhraisha commented on #193
This should probably include a standardization of how we name files.

[2021-08-24 18:24] mkhraisha commented on #194
I think we need to have a conversation about `correlationId` for a bunch of other use cases too, it should be set as its own issue.

For ITI , I think there is an issue where ITI is not a real-world process and is not currently used by any customs, and i'm not sure if its supposed to have its own thing.

There was a point of contention between what @mprorock and what @nissimsan is trying to do.

[2021-08-24 18:33] TallTed commented on #194
We should fully implement the existing ITS process and forms, and then embellish (add checkboxes and/or other fields) to make the additional ITI process that DHS is reportedly pressing for.

[2021-08-25 06:51] nissimsan commented on #194
I support the direction we were heading on yesterday's call: let ITI support existing, paper-based processes when presented at time of import; but also allow for the ambition of more timely/earlier import submissions.

[2021-08-30 11:46] nissimsan commented on #188
https://github.com/w3c-ccg/traceability-vocab/pull/198

[2021-08-30 11:52] nissimsan commented on #188
This has worked for me in the past; I recommend we include this too.

[2021-08-31 17:47] mprorock commented on #193
support for both inheritance and encapsulation should be accounted for by an optimal folder structure

[2021-08-31 17:48] mkhraisha commented on #193
Possible Paths:
[code]

[2021-08-31 17:53] #150 closed

[2021-08-31 18:02] OR13 commented on #88
The query strings need to be removed.

[2021-08-31 18:06] mkhraisha opened #199 "Try Catch on #198 needs to be split"
PR #198 has a try catch that touches two separate very real errors and the proposal is to refactor the code to setup two separate try catches.

[code]

should change to
[code]

Note this is pseudo-code I'm sure there are errors.

[2021-08-31 18:07] OR13 commented on #162
We still need examples.

[2021-08-31 18:09] OR13 commented on #169
We want to see tagged releases, so we can add release notes and better dev x for automation.

[2021-08-31 18:12] OR13 commented on #169
w3id.org can handle redirects, we should use minor version bump for releases.

[2021-08-31 18:15] nissimsan commented on #65
Assign me

[2021-08-31 18:17] OR13 commented on #27
This is in progress, stay tuned for a PR. @nissimsan to cross link when you have a PR to review.

[2021-08-31 18:20] OR13 commented on #64
pending a PR from @mkhraisha

[2021-08-31 18:21] OR13 commented on #115
@mkhraisha pending PR

[2021-08-31 18:21] OR13 commented on #24
@mkhraisha pending PR

[2021-08-31 18:21] TallTed commented on #64
Re-reading, this may be more about static vs variable VCs?  More detailed description will likely help with final resolution.

[2021-08-31 18:24] TallTed commented on #158
Retitle and/or re-description would be helpful, if this has indeed narrowed.  Else, I'd suggest splitting to (at least) one issue per "additional feature"

[2021-08-31 18:25] nissimsan commented on #64
This was referred to on the call as event-credentials. If that what this is(?), I'd recommend looking at this code list:
https://service.unece.org/trade/uncefact/vocabulary/rec24/

[2021-08-31 18:25] OR13 commented on #158
We think this was handled in previous PRs

[2021-08-31 18:27] mkhraisha commented on #64
I believe the vocabulary references is supposed to be EPCIS as outlined in #24

[2021-08-31 18:34] OR13 commented on #193
I've seen 2 main folder structures for large projects:

### Feature Oriented

[code]

### Layer Oriented

[code]

See also [this](https://softwareengineering.stackexchange.com/questions/338597/folder-by-type-or-folder-by-feature/338601#:~:text=Folder%2Dby%2Dfeature%20is%20superior,file%20you%20are%20looking%20for.)

[2021-08-31 18:37] nissimsan commented on #193
Beautiful suggestion, @mkhraisha. Does the common-to-vertical specific entail inheritance?
Like: OGBillOfLadingCertificate allOf:  BillOfLading?

[2021-08-31 18:42] mkhraisha commented on #193
I usually prefer by feature, however I believe most of the people using the repo will care more about things within a certain vertical rather than for a specific feature across verticals, and I believe a Type separated by vertical is probably best

[2021-08-31 18:43] mkhraisha commented on #193
I believe every item in Certificate needs to inherit or encapsulate an item from common in my suggestion.

[2021-08-31 18:58] mkhraisha commented on #193
Suggestion 2: The names of the files should reflect their nature i.e. Certificates should be suffixed with Certificate whereas common files should not have a suffix.

[2021-08-31 19:00] mkhraisha commented on #193
Suggestion 3: The names of the files should be prefixed with their vertical. this should only apply to things in their respective vertical certificates folder and not to items in the certificates/common folder. This should not apply to any items in the common root folder.

[2021-09-01 02:03] rhofvendahl commented on #88
I'd be happy to tackle this.

[2021-09-01 09:53] nissimsan commented on #193
Again: I find this beautiful. I do worry, though, if it is taking a step too far. We wanted to "support" inheritance; this sort of "requires" inheritance.

It'll be fine as long as we're building from scratch. But say we wanted to support both IATA's Air Waybill and DCSA's Sea Waybill; these are schemas which have been developed individually, and I worry that it will be difficult to define a commo

[2021-09-07 13:20] nissimsan commented on #27
https://github.com/w3c-ccg/traceability-vocab/pull/200 has links into the UN/CEFACT vocab.

[2021-09-07 17:13] rhofvendahl commented on #88
I ran into an issue removing the query strings.

Many of the query strings can be removed without problem, but this is only because some classes don't actually have properties with duplicate IDs. If I remove the query strings for IntentToSell which does have properties with the same ID ("seller" and "purchaser") or change two IDs on any two same-class properties to be the same, I get an error that

[2021-09-07 17:35] OR13 commented on #88
@rhofvendahl its possible the the current code in this repo, does not implement the fix... does this text and library address your concern? https://github.com/transmute-industries/verifiable-data/blob/main/packages/jsonld-schema/src/__tests__/duplicate-terms.test.ts

[2021-09-17 21:20] rhofvendahl commented on #88
@OR13 You're right, the `getContextFromIntermediate` function in the [linked test](https://github.com/transmute-industries/verifiable-data/blob/main/packages/jsonld-schema/src/__tests__/duplicate-terms.test.ts) does the trick!

It looks as though the issue is that while the code defining same-IRI class properties as arrays (the `getIntermediateFromDirectory` function from[ jsonld-schema](https://g

[2021-09-20 15:41] OR13 commented on #88
yes, we should remove the duplicated code from trace vocab.

[2021-09-20 16:01] rhofvendahl commented on #88
@OR13 Sure. I can create a PR in transmute-industries/verifiable-data to export `getContextFromIntermediate` and another PR in w3c-ccg/traceability-vocab to remove the existing code in getContextFromIntermediate.js and import+use that instead.

Just so I understand, what's the benefit of placing `getIntermediateFromDirectory` and `getContextFromIntermediate` in an external package?

[2021-09-20 16:03] OR13 commented on #88
external packages that have CI/CD enabled and that can take PRs faster are a better way of building software... my experience with the CCG has led me to avoid trying to develop software here...  and instead, focus on specs... this repo has a lot of "spec tooling"... which can probably move faster if its managed independently.

[2021-09-21 05:56] TallTed commented on #193
@nissimsan — Don't let perfect get in the way of useful. The schemas a/k/a ontologies for IATA's Air Waybill and DCSA's Sea Waybill seem likely to be very similar. `skos:narrower`, `skos:broader`, `owl:similarProperty`, `owl:similarClass`, `owl:equivalentProperty`, `owl:equivalentClass` (and in rare cases, `owl:sameAs`) are good for drawing the connections between these schemas/ontologies. There's

[2021-09-21 15:46] mkhraisha opened #202 "Upgrade Node Version"
We're currently using Node 12 ( at least according to CI) which is currently in maintenance LTS.
We should migrate to at least Node 14, I advocate we go to 16 though.

![image](https://user-images.githubusercontent.com/19310771/134203308-e8e6662e-fa54-4d94-a4dd-9afec9bd07e9.png)

[2021-09-21 18:02] OR13 commented on #161
Examples for BOLs.... https://github.com/transmute-industries/iata-one-record-hackathon-2021/tree/main/public/sanitized-bols

[2021-09-21 18:13] #199 closed

[2021-09-21 18:18] #169 closed

[2021-09-23 16:31] mkhraisha opened #204 "Measured vs Quantitative Value"
What is the difference between Measured and Quantitative Values?

Measured Value: https://github.com/w3c-ccg/traceability-vocab/blob/73eeb16cea9dec42239190d48e1cc80b803021a6/packages/traceability-schemas/schemas/MeasuredValue.json#L6

Quantitative Value: https://github.com/w3c-ccg/traceability-vocab/blob/73eeb16cea9dec42239190d48e1cc80b803021a6/packages/traceability-schemas/schemas/QuantitativeVal

[2021-09-28 15:44] TallTed commented on #204
@mkhraisha -- Links to existing definition(s) would be helpful...

[2021-09-28 15:52] mkhraisha commented on #204
Measured Value: https://github.com/w3c-ccg/traceability-vocab/blob/73eeb16cea9dec42239190d48e1cc80b803021a6/packages/traceability-schemas/schemas/MeasuredValue.json#L6

Quantitative Value: https://github.com/w3c-ccg/traceability-vocab/blob/73eeb16cea9dec42239190d48e1cc80b803021a6/packages/traceability-schemas/schemas/QuantitativeValue.json#L6

[2021-09-28 15:53] mkhraisha commented on #204
Updated

[2021-09-28 15:59] rhofvendahl opened #205 "Outsource getContextFromIntermediate to transmute/verifiable-data's jsonld-schema package"
This addresses an issue raised in [issue 88](https://github.com/w3c-ccg/traceability-vocab/issues/88), "Issues in referencing multiple items pointing to the same IRI".

In addressing issue 88 OR13 altered `getIntermediateFromDirectory` to import a [similar function](https://github.com/transmute-industries/verifiable-data/blob/main/packages/jsonld-schema/src/schemasToContext.ts) from transmute/veri

[2021-09-28 17:22] TallTed commented on #204
I would say that <https://w3id.org/traceability/schemas/MeasuredValue.json> should point to <https://www.schema.org/hasMeasurement>, not <https://www.schema.org/QuantitativeValue>.

[2021-09-28 17:26] mprorock commented on #204
Generally agree - i would note that hasMeasurement is still marked pending incorporation by my read and I think that was likely a motivation to use quant value - also verbiage as a getter is odd to me in this context.

[2021-09-28 17:58] mkhraisha commented on #193
Suggestion that includes all of them

[code]

[2021-09-28 18:15] OR13 opened #206 "Implement resolved proposal for folder structure and file naming"
- [ ] Update readme
- [ ] Reorganize Schemas
- [ ] Update all names

[code]

[2021-09-28 18:17] OR13 commented on #154
@bumblefudge do you want to keep this issue? how can we proceed?

[2021-09-28 18:17] mkhraisha commented on #206
Example Implementation of the file and folder structure
[code]

[2021-09-28 18:19] OR13 commented on #132
believe this issue was resolved.

[2021-09-28 18:19] #132 closed

[2021-09-28 18:21] OR13 commented on #175
Folks should document why these folders are required, or generate them... I am in favor of documenting them. its simpler.

[2021-09-28 18:23] OR13 commented on #202
We should use node 14.

[2021-09-28 18:23] mprorock commented on #202
node 14

[2021-09-28 18:30] OR13 commented on #183
To fix this issue we need a PR that replaces all revocation lists with values that pass the normal verification process.

[2021-09-28 18:35] OR13 commented on #183
@mkhraisha you noted concerns over negative testing (failing VCs).... thats not the job of this repo or specs, we should address negative test cases in the vc api, not here.

[2021-09-28 20:33] rhofvendahl commented on #205
Updating `getContextFromIntermediate` to import from transmute/verifiable-data fixed the one error I was having, but it actually looks like both `getOpenApiFromIntermediate` and `getVocabFromIntermediate` have similar issues.

I can do something similar for these, importing updated functions that check for arrays and, if found, loop through them. Before I do though, @OR13 do you think it would mak

[2021-10-14 10:43] nissimsan opened #207 "CD pipeline error"
The CD pipeline choked on my recent PR:
https://github.com/w3c-ccg/traceability-vocab/actions/runs/1308699511

`main` renders fine locally:
![image](https://user-images.githubusercontent.com/34443212/137301936-ee532233-29f7-4463-b696-0135e010b8f9.png)

[2021-10-14 19:31] OR13 commented on #207
cc @mkhraisha  @mprorock  i suspect this is maybe related to the versioning feature.

[2021-10-15 10:32] nissimsan opened #209 "Schema validation errors"
I'm getting the below validation errors on my recently added schemas. They don't seem to have any negative consequences, but it would still be good to understand what causes them and getting it resolved.

Note that `DocumentVerificationEvidence` and `RevocationList2020Status` are not "mine".

I'd appreciate any pointes as to what might cause these?

[code]

[2021-10-26 17:26] OR13 opened #213 "Don't invent new DateTime types"
originally from https://github.com/w3c-ccg/traceability-vocab/pull/210/files#r736753663

all instances of:

[code]

should be like https://github.com/w3c/vc-data-model/blob/main/contexts/credentials/v1#L44:

[code]

[2021-10-26 18:03] OR13 opened #214 "Fix @id and @type in context generation"
see https://github.com/w3c-ccg/citizenship-vocab/blob/main/contexts/citizenship-v1.jsonld#L28

[2021-11-01 10:49] nissimsan opened #216 "Generate JSON Schemas from available CEFACT XSDs"
UN/CEFACT defines a number of schemas:
https://unece.org/trade/uncefact/mainstandards
For example a very elaborate and broadly used Cross Industry Invoice:
https://service.unece.org/trade/uncefact/publication/Supply%20Chain%20Management/CrossIndustrySCRDM/SCRDM/XSD/schema.zip

What would be the process of transforming these XSDs into JSON schemas which we can use as starting points for trace-vocab

[2021-11-01 10:51] nissimsan commented on #27
Blocked by https://github.com/w3c-ccg/traceability-vocab/issues/207

[2021-11-02 17:46] nissimsan commented on #178
Below is email from Jeremy Wise, a super proactive and helpful contact at USITC. I wasn't aware of the first option he is highlighting:
https://hts.usitc.gov/api/search?query=6204.11.00.00
... Any objections to this style of IRI?

_____________

From: Wise, Jeremy <Jeremy.Wise@usitc.gov>
Date: Tue, Nov 2, 2021 at 2:57 PM
Subject: RE: Publishing HTS codes as Linked Data
To: Nis Jespersen <nis@trans

[2021-11-02 20:58] TallTed commented on #178
That could be the best we're going to get.  I am somewhat disappointed in the of dereferencing that new URI --
[code]

Note that it is plain JSON, not JSON-LD.  Conneg for `text/turtle` or `application/ld-json` gets `406 Not Acceptable`.

So it looks like the next step is to introduce Mr. Wise to some of the wonders of Linked Data, if not RDF, such that they at least add an `@context` to their JSO

[2021-11-03 08:23] nissimsan commented on #178
Thanks @TallTed,
I agree, an @context would make this much easier to use. Raw `https://hts.usitc.gov/api/search?query=6204.11.00.00` in the middle of a clean jsonld file is suboptimal. I'll solicit this feedback on the email chain I got going.
Still, this is considerably better than nothing, and I'm keen to close this issue.

[2021-11-09 18:47] mprorock commented on #155
@OR13 can this be closed? or do we need to add a spec section still? you added the read-for-pr tag on 7/12/21

[2021-11-09 18:49] mprorock commented on #155
per discussion on call - this may be out of scope

[2021-11-09 18:53] #3 closed

[2021-11-09 18:55] mprorock commented on #160
discussed on call and will update when we add first non supply chain vocab elements

[2021-11-09 18:57] nissimsan commented on #155
+1 on the call discussion: endorsing DID registries is not in our scope. Also, it seems to conflate did vs. vc as the solution to addressing legal entities.

We might consider including/endorsing the LEI and other similar "trusted party"/"economic operator" credential schemas.

[2021-11-09 18:57] mprorock commented on #157
discussion on call - will keep open, and will revisit as use cases drive need for new objects

[2021-11-09 19:06] mprorock commented on #152
per weekly call - this is highly relevant and can increase interop significantly - requires bandwidth to address.
not an either or between prov-o and GS-1 or others
work item members have not been getting requests to add prov-o in

RESOLVED: Revisit PROV-O after a v1 release of the vocab

[2021-11-09 19:07] mkhraisha opened #217 "We need a Roadmap"
This vocabulary has been in the works for a while, and we're would like to setup a stable version of it we can use at a certain point in the future.
I believe we need a Roadmap for this vocabulary, with milestones and a target v1 date etc.

[2021-11-09 19:09] mprorock commented on #153
closely related to #160

[2021-11-09 19:10] mprorock commented on #153
welcome PRs from anyone in community on this topic, especially for overall cleanup

[2021-11-09 19:12] mprorock commented on #167
discussed on call - have root event that has generic event, need EPCIS events added as sub-classes - @mkhraisha will PR

[2021-11-09 19:16] mprorock commented on #185
@OR13 any updates?

[2021-11-09 19:18] mprorock commented on #186
related to #189 - @mkhraisha would like this prior to a v1

[2021-11-09 19:19] mprorock commented on #186
dupe #189

[2021-11-09 19:19] #186 closed

[2021-11-11 13:24] tobek commented on #189
I'm sure I'm missing some context here, but does this proposal supercede #184 and #185, or will JSON Schemas still be maintained (and JSON-LD contexts still generated from them)?

For our (@SertoID) work we plan to keep using JSON Schema for validation and VC [`credentialSchema`](https://www.w3.org/TR/vc-data-model/#data-schemas) field purposes, and I'm curious what other projects are planning her

[2021-11-11 14:35] OR13 commented on #189
@tobek I think for this repo, we would switch to yaml, but the underlying library would continue to support YAML or JSON schema.... I suspect we can even make the `$comment` vs `$linkedData` a backward compatible feature of the tool.

similar to how OAS3.0 works today, I think constraining data shape with YAML or JSON schemas will be part of the next vc data model, and hopefully better documented

[2021-11-11 14:36] OR13 commented on #189
but to be clear, we are hoping to switch to yaml representation of JSON schema here, to make interactions with OAS3.0 easier.

[2021-11-11 14:40] #202 closed

[2021-11-15 15:28] OR13 commented on #189
Upstream implementation updated to support this: https://github.com/transmute-industries/verifiable-data/pull/118

[2021-11-16 15:54] tobek opened #219 "JSON Schemas can't be referenced by AJV due to non-standard HTTPS $schema URI"
The common [Ajv](https://github.com/ajv-validator/ajv/) library errors when referencing traceability JSON Schemas, since they use a different URI from the Draft 7 meta-schema URI for the `$schema` property (HTTPS `"https://json-schema.org/draft-07/schema#"` vs draft's HTTP `"http://json-schema.org/draft-07/schema#"`). Ajv doesn't recognize the schema due to the different URI, so it attempts to fet

[2021-12-07 19:17] OR13 commented on #219
This will change with YAML, but we expect to still be able to validate an instance against a schema that is identified with a URL.

[2021-12-07 19:17] OR13 commented on #219
See https://github.com/w3c-ccg/traceability-vocab/pull/220

After it is merged we expect this to be solved in a different way, but still functional.

[2021-12-07 19:17] mprorock commented on #219
+1 agree strongly that this should get addressed, but seems like we want to go revist post pr cutting default over to YAML as noted by @OR13

[2021-12-07 19:29] mprorock commented on #192
#220 appears to handle some of this nicely

[2021-12-07 19:29] OR13 commented on #192
There is a proposal embedded in https://github.com/w3c-ccg/traceability-vocab/pull/220

[2021-12-07 19:29] nissimsan commented on #192
I love this!

[2021-12-07 20:46] nissimsan commented on #90
I looked pretty extensively at UBL's Bill Of Lading when reviewing the BOL schema recently (just merged today). So first of all I withdraw my earlier comment - it's quite extensive. And the publishing format is also very intuitive and useful. Knowing UN/CEFACT quite well I found lots of similarities - the models are clearly connected and fundamentally the same.

The invoice schema also seems to be

[2021-12-13 19:52] rhofvendahl commented on #213
Addressed in https://github.com/w3c-ccg/traceability-vocab/pull/228

cc: @OR13

[2021-12-14 15:17] nissimsan opened #230 "Specific vs. generic identifiers"
We recently discussed whether a BOL number is best described with the more general
`https://schema.org/identifier`
or the more narrow/precise
`https://service.unece.org/trade/uncefact/vocabulary/uncl1153/#Bill_of_lading_number`

Neither is wrong, a BL# is both of these definitions. I can see use cases and arguments for both, and I find it difficult to decide on the best approach without applying u

[2021-12-14 15:19] nissimsan commented on #230
Would it make any sense to allow for multiple/array of term definitions?

[2021-12-14 20:11] TallTed commented on #230
A reasoner can be brought to bear such that an `https://service.unece.org/trade/uncefact/vocabulary/uncl1153/#Bill_of_lading_number` is _implicitly_ also an `https://schema.org/identifier`.  This is generally optimal.

However, a reasoner is not always usable, for various reasons.  In these cases, it would often if not always be better to multi-type the entity -- that is, an `https://service.unece

[2021-12-24 16:03] OR13 opened #231 "Add example of ForeignChargeDeclaration"
I encountered a schema error with this field when converting to OAS 3.0

@nissimsan can you confirm this type and its example have been fixed?

[2021-12-24 16:06] OR13 opened #232 "Address LEI prefixing"
For example https://w3c-ccg.github.io/traceability-vocab/#LEIauthority

[2021-12-24 16:08] OR13 opened #233 "Add example of MeasuredProperty"

[2021-12-24 16:12] #233 closed

[2021-12-24 16:13] OR13 opened #234 "Add example of Package"

[2021-12-24 16:19] OR13 opened #235 "Remove RevocationList2020Status or fix it"
Example is wrong and linked data annotation is wrong.

[2021-12-24 16:21] OR13 opened #236 "Add example of TradeLineItem"
![Screen Shot 2022-02-15 at 1 21 55 PM](https://user-images.githubusercontent.com/8295856/154133640-7870c25a-3516-4b55-9369-88a00f939de3.png)

cc @nissimsan

[2021-12-24 16:22] OR13 opened #237 "Add example of Transport"
![Screen Shot 2022-02-15 at 1 25 09 PM](https://user-images.githubusercontent.com/8295856/154134147-2b80f9b7-636f-4519-a80f-f33c185581eb.png)

[2021-12-24 16:23] OR13 opened #238 "Add example of USMCACertificateOfOrigin"

[2021-12-24 16:24] OR13 opened #239 "Add example of usmcaProductSpecifier"

[2021-12-25 17:57] OR13 opened #240 "ChargeDeclaration example and schema need fixes"

[2021-12-25 18:08] OR13 opened #241 "IATAAirWaybillCertificate schema and example do not match"

[2021-12-25 18:11] OR13 opened #242 "DCSATransportDocument schema and example need updates"

[2022-01-04 12:45] nissimsan commented on #242
Example:
[code]

[2022-01-04 12:49] nissimsan commented on #242
@OR13, the schema seems okay - as far as I can tell only the example is missing?

[2022-01-04 12:53] nissimsan commented on #241
Here's the pre-yaml example. It used to match, let's wriggle it in place when use-yaml is merged.

[code]

[2022-01-04 12:54] nissimsan commented on #239
[code]

[2022-01-04 12:55] nissimsan commented on #238
[code]

[2022-01-04 12:57] nissimsan commented on #237
[code]

[2022-01-04 16:47] mkhraisha opened #243 "Remove SCAC from generic BillOfLading"
SCAC appears to be a maritime only term, and does not apply to most BOL's, should probably be removed from the base BOL and added to a more specialized BOL.
https://github.com/w3c-ccg/traceability-vocab/blob/64db7340c5a64539cfea9e6ff2fb3a768e944f82/packages/traceability-schemas/schemas/BillOfLading.json#L43

[2022-01-04 19:09] mkhraisha opened #244 "Cleanup Development.md"
after PR #220 is added we will have a stale Development.md that will need to be rewritten.

[2022-01-04 19:16] OR13 opened #245 "Remove transmute context dependencies"
move them into the repo as static files

[2022-01-04 20:13] OR13 opened #246 "Fix broken schema links"
Pending https://github.com/perma-id/w3id.org/pull/2451

[2022-01-05 10:17] nissimsan commented on #243
SCAC are used throughout intermodal transport, not only maritime.
https://en.wikipedia.org/wiki/Standard_Carrier_Alpha_Code

[2022-01-05 10:22] nissimsan opened #248 "npm run all"
Introduce a "wrapper script" like we used to have:
`npm run all`
which runs
[code]

[2022-01-06 12:44] nissimsan opened #253 "Redundant country attributes on PostalAddress"
Is there a good reason for having two country definitions on PostalAddress? They seem redundant.

[code]

[code]

[2022-01-06 13:28] Fak3 commented on #253
The one is countRy the other is county, they are different

[2022-01-06 13:44] nissimsan commented on #253
@Fak3 ,

... I don't understand your point. So you're saying both are needed? When would you use one over the other? Or both at the same time?

PS: Super happy to see you here, @Fak3!! :)

[2022-01-06 14:33] Fak3 commented on #253
A county is a territorial division in
      some countries, forming the chief unit of local administration.

[2022-01-06 15:43] TallTed commented on #253
(Surprisingly enough, dereferencing the URIs found in the `'@id'` attribute of the `$linkedData` object -- <https://schema.org/addressCountry> and <https://gs1.org/voc/countyCode> -- reveals descriptions which I think are sufficient to answer the question.)

[2022-01-07 09:05] nissimsan commented on #253
NOW I understand... Also what you meant by countRy, @Fak3.
Thanks both - closing this.  :)

[2022-01-10 16:43] OR13 commented on #189
This is done, I am closing.

[2022-01-10 16:43] #189 closed

[2022-01-18 19:00] OR13 commented on #47
We need a real use case.

[2022-01-18 19:02] nissimsan commented on #188
This is outdated now that the build process has changed - closing.

[2022-01-18 19:02] #188 closed

[2022-01-18 19:02] OR13 commented on #47
I suggest we handle on specific credentials, that require it.

[2022-01-18 19:02] mprorock commented on #47
Closing issue per discussion on call.  VCs that should have revocation should be noted as such by the example authors

[2022-01-18 19:02] #47 closed

[2022-01-18 19:04] mprorock commented on #113
Per call: Can be revisted post YAML conversion now

[2022-01-18 19:05] OR13 commented on #113
we also have an issue with the evidence property. I suggest we just do our best to. simplify as much as we can.

[2022-01-18 19:06] mprorock commented on #195
Per Call: addressed with pr #249

[2022-01-18 19:06] #195 closed

[2022-01-18 19:07] mprorock commented on #196
Per call - this is now addressed, but should serve as a best practice to link out to existing regs

[2022-01-18 19:07] #196 closed

[2022-01-18 19:08] mprorock commented on #191
Per call: resolved in #220

[2022-01-18 19:08] #191 closed

[2022-01-18 19:10] mprorock commented on #194
Per discussion on call: this documentation step should be path forward

[2022-01-18 19:14] mprorock commented on #162
Per Call: This is resolved via #220

[2022-01-18 19:14] #162 closed

[2022-01-18 19:16] mprorock commented on #65
Per call: can close now that docs are in place and CI is running

[2022-01-18 19:16] #65 closed

[2022-01-18 19:19] mprorock commented on #115
@mkhraisha any updates, or can this be closed

[2022-01-18 19:21] mprorock commented on #24
@mkhraisha any updates on EPCIS, specifically as related to events?

[2022-01-18 19:22] #158 closed

[2022-01-18 19:24] mprorock commented on #64
Per call: handle on a per-credential basis

[2022-01-18 19:24] #64 closed

[2022-01-18 19:24] #177 closed

[2022-01-18 19:25] OR13 commented on #161
we did it fam

[2022-01-18 19:25] mprorock commented on #161
Per call - already covered in multiple examples

[2022-01-18 19:25] #161 closed

[2022-01-18 19:25] OR13 commented on #204
http://www.qudt.org/ also.

[2022-01-18 19:27] mprorock commented on #204
we also have a need for categroical classes in a mix with quant values - e.g. "too low to measure" vs "5" of some thing

[2022-01-18 19:29] nissimsan commented on #204
I'll give this a go

[2022-01-19 12:14] nissimsan commented on #27
The blocker is long gone. We do have relevant references to UN/CEFACT now. We can close this.

[2022-01-19 12:22] nissimsan commented on #194
OK, so we're good with the ITS as is. Adding a separate ITI should be a separate issue, to be raised when clearer requirements emerge. Closing.

[2022-01-19 12:22] #194 closed

[2022-01-19 14:38] nissimsan opened #254 "How do I specify a required field within the credentialSubject"
The test is choking on this:
![image](https://user-images.githubusercontent.com/34443212/150152177-8ee09f65-48aa-4a90-896d-8b19b13b2c9d.png)
... Because "shippingInstruction" is within credentialSubject.
Any suggestions?

[2022-01-19 14:42] nissimsan opened #255 "Can we stop throwing W3C Date Time errors in the local test"
`npm run test` keeps throwing an error about datetime formating. It's confusing and made me skip the test, not catching other "real" errors.

How can we fix this so the local errors thrown are actually relevant?

[code]

[2022-01-19 20:27] #254 closed

[2022-01-24 15:12] nissimsan opened #263 "Tooling for using not yet published terms in new schemas"
Ref:
https://github.com/w3c-ccg/traceability-vocab/pull/262#discussion_r790839343

[2022-01-25 12:58] nissimsan opened #267 "Bill of Lading must have description of cargo"
https://w3c-ccg.github.io/traceability-vocab/#BillOfLading has to include basic cargo description. A BOL without cargo description doesn't make any sense.

[2022-01-25 13:09] nissimsan commented on #267
Once updated, add cargo descr. to Manifest example too.

[2022-01-25 14:09] VladimirAlexiev commented on #230
Despite the capitalization, `uncl1153:Bill_of_lading_number` is a property, just like `schema:identifier` is a property.
- @nissimsan: the JSONLD context must map a term `billOfLading` to one or the other, it cannot map it to both
- @TallTed: I agree with you but will put it more strongly: if this project ever provides a "traceability ontology", it should state
  `uncl1153:Bill_of_lading_number rd

[2022-01-25 14:14] VladimirAlexiev opened #268 "wrong uncl1153 namespace"
Several schemas (eg https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/BillOfLading.yml)
use wrong URLs for uncl1153 props, eg
`https://service.unece.org/trade/uncefact/vocabulary/uncl1153/#Consignment_identifier_carrier_assigned`.

The rights URL use `#` not `/#`, eg
`https://service.unece.org/trade/uncefact/vocabulary/uncl1153#Consignment_identifier_ca

[2022-01-25 14:20] VladimirAlexiev opened #270 "wrong $linkedData mapping: props vs classes"
There are very many cases where a prop is mapped to class, eg
https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/BillOfLading.yml#L38:
[code]
https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/BillOfLading.yml#L107
[code]

This is wrong in all cases. Basically, each time you map a lowercase (prop) to a schema u

[2022-01-25 14:21] VladimirAlexiev opened #271 "review used schema.org terms for existence and relevance"
The first example in #270 has two more problems::
- https://schema.org/Purchase doesn't exist,
- even if it did, I don't see how a `Purchase` can be semantically equivalent to `relatedDocuments`: IMHO a Purchase is an event

[2022-01-25 14:35] VladimirAlexiev opened #272 "use the LEI ontology"
A LEI ontology has been published maybe 6m ago by @rivettp, @bryon, @dallemang: https://www.gleif.org/ontology/v1.0/L1/index-en.html.
Please use it in the $linkedData mapping of 6 schemas in https://github.com/w3c-ccg/traceability-vocab/tree/main/docs/openapi/components/schemas/common: `LEI*` and `LegalEntityIdentifier*`, as much as reasonable.

Here's a representation of some GLEI L1 data of Fann

[2022-01-25 15:01] VladimirAlexiev commented on #232
Look at the diagram in #272. I assume that https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/LEIauthority.yml is intended to represent the middle `(I)` node on that diagram.

Current representation:
[code]

I think it needs to be corrected as follows:
[code]
1. This record is not an "authority" but a national business registry identifier (that was used

[2022-01-25 15:16] VladimirAlexiev commented on #253
@nissimsan you still need to fix the documentation:
[code]
You prolly got that description from https://www.gs1.org/voc/addressCountry.
But that prop has some schizofrenia coming from its GDSN/EDIFACT legacy: is it a country or a country subdivision?
See https://github.com/gs1/WebVoc/issues/25

https://schema.org/addressCountry has no such schizofrenia:
- "The country. For example, USA. You can al

[2022-01-25 15:34] VladimirAlexiev opened #273 "Address props: review W3C LOCN and EBG ontologies"
The W3C LOCN ontology https://www.w3.org/ns/locn has a smattering of other Address props, maybe some could be useful.
Our EBG ontology added even more:
- Described in detail in [this gdoc](https://docs.google.com/document/d/1dhMOTlIOC6dOK_jksJRX0CB-GIRoiYY6fWtCnZArUhU/edit#heading=h.2hzt8gnaqo6n)
- See how they're used here https://github.com/euBusinessGraph/eubg-data/blob/master/model/ebg-ontolog

[2022-01-25 15:41] VladimirAlexiev opened #274 "fix LEIauthority"
Look at the diagram in #272, which shows a LEI L1 sample graph. I assume that [LEIauthority.yml](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/LEIauthority.yml) is intended to represent the middle `(I)` node on that diagram.

Current representation:
[code]

I think it needs to be corrected as follows:
[code]
1. This record is not an "authority" but

[2022-01-25 15:55] VladimirAlexiev commented on #216
@nissimsan How does that CrossIndustrySCRDM compare to [UN/CEFACT - Buy Ship Pay Reference Data Model](https://service.unece.org/trade/uncefact/vocabulary/uncefact/)?

You already use [Consolidated Code List 1153 - Reference code qualifier (20B)](https://service.unece.org/trade/uncefact/vocabulary/uncl1153/) which I think is part of the above,
and the above has JSONLD ontology and JSONLD context,

[2022-01-25 16:20] OR13 commented on #213
cc @nissimsan

[2022-01-25 16:27] TallTed commented on #230
@VladimirAlexiev --

The kind of a thing a thing is is its type, a/k/a its class. `uncl1153:Bill_of_lading_number` is a property, but each (literal) value of that property (e.g., "12345") is multi-typed as both an `uncl1153:Bill_of_lading_number` and a `schema:identifier`.

(Note that even as you're telling me that `uncl1153:Bill_of_lading_number` is a property which is an `rdfs:subPropertyOf` `sc

[2022-01-25 16:30] OR13 commented on #232
@VladimirAlexiev You know... I can't recall... its possible this term was previously prefixed, and has since been updated.

IRC, this is a function of github pages hosting + w3id.org redirect...

https://w3.id.org/traceability/#LEIauthority

[2022-01-25 16:33] VladimirAlexiev commented on #157
- "purchaser of coffee, I want to see all coffee SGTINs i bought from the same region of columbia."
  - GADM and Wikidata have geometries of administrative regions.
  - Eg http://gadm.geovocab.org/id/1/331/geometry_100m is for Pazardzhik, Bulgaria with 100m resolution
  - SGTIN should be described as gs1:Product pointing (manufacturer) to Organization pointing (location) to Place pointing (contain

[2022-01-25 16:33] OR13 opened #275 "Fix IRI format"
https://w3id.org/traceability/#LEIauthority

https://w3id.org/traceability#LEIauthority

The term definitions probably all need to be updated to only use the #.

We also need to make sure the `@vocab` obeys the same rules.

ambiguity here will break signatures... this needs to be fixed asap.

[2022-01-25 16:35] #232 closed

[2022-01-25 16:37] OR13 commented on #274
@VladimirAlexiev I think you are correct. Happy to take a PR to make the change.

It is not our intention to do anything other than use the latest gleif ontology terms.

We are only trying to explain how to map to them for "JSON Schema" types defined here.

[2022-01-25 21:20] VladimirAlexiev commented on #274
I like gleif-L1:hasRegisteredAuthority but it's an object prop whereas RAL code is a data prop. Let's see what Pete says

[2022-01-25 21:25] VladimirAlexiev commented on #275
If github pages puts in the slash, then lose the hash.

@manusporny said re the EPCIS context that using `@vocab` is a bad idea. Since in this case you mix up numerous ontologies, I agree.

[2022-01-25 21:28] VladimirAlexiev commented on #230
A value is "typed" by its property? Ok, we obviously won't agree on terminology.

Cheers!

[2022-01-25 21:47] OR13 commented on #275
@VladimirAlexiev I don't agree... neither does Google.

The last person to apply `@vocab` wins... and you get a smoother onboarding experience for normal JSON developers who know nothing of JSON-LD by including it.

However, I am willing to be convinced by evidence.

My primary references for using `@vocab` come from schema.org and [GKG](https://developers.google.com/knowledge-graph).

Does the EP

[2022-01-25 21:49] OR13 commented on #275
re the trailing slash, I think either will work... we are not constrained by github pages, only by w3id.org.

[2022-01-25 21:54] OR13 commented on #275
@VladimirAlexiev you want want to leave a comment on this:

- https://github.com/w3c/vc-data-model/issues/843
- https://github.com/w3c/vc-data-model/issues/753

[2022-01-26 10:11] VladimirAlexiev opened #276 "rework the structure of sec 3, categorize topics & schemas"
99% of the volume of https://w3c-ccg.github.io/traceability-vocab/
is section 3.3 https://w3c-ccg.github.io/traceability-vocab/#defined-terms:
from 3.3.1 Agricultural Activity to 3.3.91 PPQ 587 Application.

This is a huge and valuable brain dump, that's however neither attractive, nor easy to grasp.
- None of this is seen in the TOC. I nearly missed it
- It's not organized.
   - It's not even qui

[2022-01-26 10:23] VladimirAlexiev opened #277 "use inheritance not aggregation"
Speaking from an ontological or object-oriented point of view, [AgProduct.yml](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/AgProduct.yml) should be a subclass of [Product.yml](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/Product.yml), rather than pointing to it (using prop `product`).

- AgProduct

[2022-01-26 10:29] VladimirAlexiev opened #278 "AgProduct has many props not specific to Agriculture"
[AgProduct.yml](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/AgProduct.yml):
- has a bunch of props not specific to Agriculture:
  `upc plu gtin labelImageUrl labelImageHash`
  - These should be moved to `Product`. Or if for some reason they don't belong in `Product`, make a new subclass `IdentifiedProduct`
- has only 1 prop specific to Agriculture

[2022-01-26 10:40] VladimirAlexiev opened #279 "product batch/lot and serial number"
GTIN is class identifier, i.e. for a product "model" not an individual product. GS1 has extra identifiers:
- gs1:hasSerialNumber: together with `gtin` makes up SGTIN
- gs1:hasBatchLotNumber: together with `gtin` makes up LGTIN. This is especially used for food and produce, which often don't have individual SGTIN
- gs1:hasThirdPartyControlledSerialNumber: this makes up UPUI, used for cigarette pack

[2022-01-26 10:48] VladimirAlexiev opened #280 "schemas must allow referencing in addition to nesting"
If I'm not mistaken, the current schemas always specify nesting because you "include" other schemas.

In other words, you'd force me have this payload:
[code]

But I'd much rather have this:
[code]

Companies are certainly no less important than their products and shipping documents, so they deserve to have top-level nodes of their own.

JSONLD allows nesting, referencing, or combinations (e.g. I

[2022-01-26 11:56] nissimsan commented on #238
https://github.com/w3c-ccg/traceability-vocab/pull/264

[2022-01-26 11:57] nissimsan commented on #239
https://github.com/w3c-ccg/traceability-vocab/pull/264

[2022-01-26 11:57] nissimsan commented on #242
https://github.com/w3c-ccg/traceability-vocab/pull/266

[2022-01-26 12:12] VladimirAlexiev opened #281 "remove EAN/UPC in favor of GTIN"
[AgProduct.yml](https://github.com/w3c-ccg/traceability-vocab/blob/main/docs/openapi/components/schemas/common/AgProduct.yml) has a prop mapped to https://www.gs1.org/standards/barcodes/ean-upc.

However, that's a web page not a property definition.

- You won't find "EAN" or "UPC" at https://www.gs1.org/voc/
- https://schema.org/gtin13  "equivalent to 13-digit ISBN codes and EAN UCC-13. Former 12

[2022-01-26 12:16] nissimsan commented on #253
Reopening this issue. It wasn't what the ticket was about, but @VladimirAlexiev's description is a big improvement, settling on ISO 3166-1 alpha-2 country code.

[2022-01-26 12:27] nissimsan commented on #253
@VladimirAlexiev so really you're suggesting: keep `https://schema.org/addressCountry`, but restrict the description to "The two-letter ISO 3166-1 alpha-2 country code." (which is narrower than schema.org's definition).
I love it - the idea of "US" vs "USA" incompatibility haunts me every time I see it.
While I'd love to see a PR from you around here :) , I just made this: https://github.com/w3c-c

[2022-01-26 12:29] nissimsan commented on #273
Note: https://github.com/w3c-ccg/traceability-vocab/pull/282  ^

[2022-01-26 12:47] VladimirAlexiev commented on #253
@nissimsan and @OR13 I'll do some PRs. I'll start with LEI.
Can I add myself as "domain expert" for company data and LEI?

[2022-01-26 12:59] nissimsan commented on #216
@VladimirAlexiev, both are constructed from the same UN/CEFACT core component library. The Cross Industry Invoice (CII) is a subset, exported as XSD with no formal/machine-understandable referencing back to the library. It predates the [UN/CEFACT vocab](https://service.unece.org/trade/uncefact/vocabulary/uncefact/), which is a full JSON-LD representation of the UN semantic library.

What I'm sugge

[2022-01-26 14:04] OR13 commented on #253
@VladimirAlexiev I am ok with a PR adding yourself, were you thinking of creating an LEI section here:

https://w3c-ccg.github.io/traceability-vocab/#introduction ?

[2022-01-26 15:57] TallTed commented on #253
While most of the non-USA "United States" have been renamed, so won't be confusing today, it's worth noting that "US" *could* refer to the United States of Venezuela, the United States of Brazil, the United States of Colombia, the United States of Ionian Islands, and others -- https://en.wikipedia.org/wiki/List_of_countries_that_include_United_States_in_their_name

[2022-01-27 09:58] nissimsan commented on #213
Excellent input - many thanks @VladimirAlexiev. On it...!

[2022-01-27 10:11] nissimsan commented on #230
Thanks @TallTed and @VladimirAlexiev !

I will go with `uncl1153:Bill_of_lading_number rdfs:subPropertyOf schema:identifier`

`uncl1153:Bill_of_lading_number rdfs:subPropertyOf schema:identifier` makes a ton of sense, and is precisely expressing what I was aiming for. I have not heard any talks of a "traceability ontology" here, and doubt it will be scoped any time soon. But really, I think this s

[2022-01-27 12:35] VladimirAlexiev commented on #275
@OR13 I used `@vocab` in https://github.com/gs1/EPCIS/blob/master/epcis-context-simple.jsonld.
However, the official context https://github.com/gs1/EPCIS/blob/master/epcis-context.jsonld doesn't use it.

This was after @msporny advised us he considers`@vocab` a "bomb".
The problem is that any term for which we failed to provide a mapping, or is mistyped in the JSON payload, will be cast into the `

[2022-01-27 12:52] VladimirAlexiev commented on #275
Ok @OR1, I now see from https://github.com/w3c/vc-data-model/issues/753, https://github.com/w3c-ccg/traceability-vocab/pull/211 that you want to use `@vocab` to cast all mistyped terms to `undefinedTerm`.

That's a more reasonable goal,I'll comment there.
(Your reference to schema.org threw me off since schema.org casts mistyped terms to `http://schema.org/`).

[2022-01-27 13:06] nissimsan commented on #253
@TallTed, our new and improved description clarifies this. In ISO 3166 context this is unambiguous:  https://en.wikipedia.org/wiki/ISO_3166-2:US

@VladimirAlexiev, assuming you have seen our schemas for the likes of https://w3c-ccg.github.io/traceability-vocab/#LEIentity ? Improvements are obviously very welcome!

I'll close this ticket again. It's far from the original (embarrassing) question I a

[2022-01-27 13:06] #253 closed

[2022-01-27 13:36] VladimirAlexiev commented on #280
On second thought: I think you want your schemas to be quite inflexible for easier interoperation.

If so, we should change the title to
`schemas should use referencing instead of nesting for all important objects`

[2022-01-27 13:57] VladimirAlexiev opened #284 "traceability ontology"
@nissimsan provoked me in https://github.com/w3c-ccg/traceability-vocab/issues/230#issuecomment-1023049089

(Ok that was a joke).

Seriously though, such an ontology is needed because:
- You define a lot of new terms.
- You reuse terms from a lot of ontologies, but they not always point to a class from the same ontology

Mistakes in #270 are closely related to this. When you say in a `schema.yml`:

[2022-01-27 14:00] VladimirAlexiev opened #285 "use CURIEs in $linkedData"
Mistakes like #268 will be avoided if you define prefixes in the JSONLD context:
[code]
As you can see here: https://service.unece.org/trade/uncefact/vocabulary/uncl1153.jsonld.

And then use CURIEs in `$linkedData` instead of full URLs, eg
[code]

Is that possible in the JSON Schema that you use?

[2022-01-27 14:04] VladimirAlexiev opened #286 "JSONLD context and frame"
I'm sure a JSONLD context can be generated from the JSON schemas (utilizing the $linkedData part).
But I haven't seen it, where is it?

A JSONLD frame is also needed: it would allow serialization of schema-conformant JSON from RDF data.
- I know you guys focus on the JSON part but if you can't have round-tripping with RDF then the point of JSONLD is largely missed.
- The frame is closely related t

[2022-01-27 14:17] VladimirAlexiev commented on #216
@nissimsan does Traceability leverage `UN/CEFACT - Buy Ship Pay Reference Data Model` as much as possible?

Looking at https://w3c-ccg.github.io/traceability-vocab/#vocabulary-linkage and then the JSON schemas:
- I saw big chunks from DCSA EBL, IATA AirWayBill, schema.org
- Smaller chunks from gs1.org/voc
- But tiny chunks from UNCEFACT?

[2022-01-27 14:28] VladimirAlexiev opened #287 "Elaborate section #vocabulary-linkage"
Looking at the JSON schemas:
- I saw big chunks from DCSA EBL, IATA AirWayBill, schema.org
- Smaller chunks from gs1.org/voc, USDA, US Border Protection...

The diagram in https://w3c-ccg.github.io/traceability-vocab/#vocabulary-linkage is nicely illustrative, but it doesn't show the full picture.

Expand that section to describe:
- all reused vocabularies,
- term stats: (at least approximate) num

[2022-01-27 14:29] VladimirAlexiev commented on #287
@OR13 @nissimsan these days I'm constantly mistyping #transparency (https://transparency.entsoe.eu/, https://www.ontotext.com/knowledgehub/current/tekg-project/) and #traceability :-)
Tweet: https://twitter.com/valexiev1/status/1486706797826088964

[2022-01-27 16:50] OR13 commented on #287
@VladimirAlexiev I think you pretty much nailed our intention here... our execution is still improving.

[2022-01-27 17:18] OR13 commented on #275
@VladimirAlexiev

Yes, you are correct.

To be honest, we are not sure how best to solve these issues, we are just trying to make supply chain traceability credentials easier to create for JSON and JSON-LD developers, and hoping for some form of kaizen.

We see "how well" those credentials are understood as the second most important goal... which is to say we think it's critical, but not more than

[2022-01-27 19:20] msporny commented on #275
Then why not just do the `@vocab` thing in the traceability JSON-LD Context?

[2022-01-27 19:34] OR13 commented on #275
We already do this... this issue thread is to ensure that the way we are doing it is the best it can be.

[2022-01-27 19:45] OR13 commented on #284
backing up for a second, the original goal of this work was to map JSON Schema types to JSON-LD vocabularies, and generate documentation and context from the JSON Schema types.

There are cases where we "needed to invent something"... and I regret pretty much every instance.

I do think we are on the hook for correcting those cases and minimizing them.

I think this is the most obvious flaw with t

[2022-01-27 19:59] nissimsan commented on #216
@VladimirAlexiev, the answer to that question is no. But there is 100% more cefact vocab usage than there were 3 months ago. This repo started from the technology side, and is now maturing on the trade/logistics/supply chain side, my own involvement being prime example of this. All of this is work in progress. :)

I can't underscore enough how important input like this is to guide this repo in the

[2022-01-27 21:56] nissimsan commented on #287
Very happy that you like this section, @VladimirAlexiev, and we can definitely expand it.

The diagram isn't intended for the "as an ontologist" persona and shouldn't be overloaded with a full picture. But generating a table should be doable and worthwhile for building credibility and proving our intention that we reuse before inventing. The ratio of https://w3id.org/traceability (invent) versus o

[2022-01-28 10:05] nissimsan opened #289 "Add optional reference from Commercial Invoice to Bill Of Lading"

[2022-01-28 12:50] VladimirAlexiev opened #290 "string IDs vs links to external data; external JSONLD payload"
You use `globalLocationNumber` and `gtin`, good (and in #279 I asked to add ability to handle SGTIN, LGTIN , etc.

But EPCIS events ask these to be represented as URIs, see

https://github.com/gs1/EPCIS/blob/master/epcis-context.jsonld
[code]
https://github.com/gs1/EPCIS/blob/master/Ontology/EPCIS.ttl
[code]
(The class `gs1:IndividualObject` is not yet defined in gs1: voc;
it includes products wit

[2022-01-28 13:05] VladimirAlexiev commented on #284
@OR13 that's not a flaw!
- it's a fact of daily life: I haven't done one semantic project that uses less than 5-10 ontologies
- the craft is how to use them together, and you specify that with a "glue" ontology, RDF Shapes, Application Profiles, or good documentation. Your schemas kind of do the same, but it's not the whole story
- I call this "semantic modeling" as opposed to "ontology engineerin

[2022-01-28 13:11] VladimirAlexiev commented on #277
@OR13 @nissimsan

Say you have a class `AquacultureProduct` that wants to reuse props from 2 others, so you can say where it was harvested, but also by which vessel:
- `AgProduct.plotID`
- `MarineProduct.vesselID`

That's multiple inheritance, which is perfectly ok in RDF. You should be able to say
`AquacultureProduct.plotID, AquacultureProduct.vesselID`

With your aggregation approach, what would

[2022-01-28 13:19] VladimirAlexiev commented on #275
@OR13 @msporny which thing, the `#undefinedTerm#"` double-hash hack proposed in https://github.com/w3c/vc-data-model/issues/753?

True. Doesn't that mean a malicious user can send payload that redefines `@vocab` to its liking?
@msporny and @davekellogg, there's no way  to `@protect` the `@vocab`, is there?

[2022-01-28 13:32] VladimirAlexiev opened #291 "do you need nested contexts or other 1.1 features?"
This is not an ISSUE just a placeholder to hold some info.

The Traceability effort mixes and matches from many places and is huge, so may well need to use JSONLD 1.1 features:
- nested contexts
- per-class context
- `@protect`
- ...

Scoped contexts allow you to define a term locally, so it
- resolves to a different prop,
- applies different datatypes
- prepends a different namespace
- etc

https

[2022-01-28 13:34] VladimirAlexiev commented on #285
Googling `"$linkedData" JSON schema` suggests that is your invention.

@OR13 @nissimsan Who should I ping about this?

[2022-01-28 14:51] OR13 commented on #275
^ again, a security issue.... That is why I think it should be present in the original context.

explicit is always better over implicit, from a security review perspective.

This means that if vocab terms are undefined in an upstream context, they will be defined by downstream ones... eventually...

`@protect` does not feel like a solution to this, since its job is to protect defined terms... not

[2022-01-28 14:55] OR13 commented on #277
we build the context from JSON Schema. but we don't yet have the ability to handle `allOf` and `anyOf`... You can solve this problem by creating a new `type` for `AquacultureProduct` and explicitly setting its JSON-LD properties.

Great example btw.

[2022-01-28 14:58] OR13 commented on #284
I think I may have misread your comment.

I was trying to say, we should be careful not to go crazy with glue, and we should prefer to fix issues upstream when we can... but I agree some amount of glue is always necessary.

[2022-01-28 15:01] OR13 commented on #285
@VladimirAlexiev indeed, we built a tiny library that generates a JSON-LD context file from a directory of JSON Schemas:

[@transmute/jsonld-schema](https://github.com/transmute-industries/verifiable-data/tree/main/packages/jsonld-schema)

This allows us to "look at the types" through 2 different lenses.

https://w3id.org/traceability/openapi/

https://w3id.org/traceability/v1

[2022-01-28 15:44] VladimirAlexiev commented on #291
@OR13

But other contexts that have to bundle or integrate with many different ontologies have a good reason to consider 1.1 features?

Yes. In fact https://w3id.org/traceability/v1 (as linked in #285) uses nested per-type context, so it needs version 1.1 (as it declares).

[2022-01-28 15:59] VladimirAlexiev commented on #286
@OR13 in #285:

This allows us to "look at the types" through 2 different lenses.
- https://w3id.org/traceability/openapi/
- https://w3id.org/traceability/v1 (JSONLD context)

Thanks! The context allows us to diagnose many issues quickly

[2022-01-28 16:21] VladimirAlexiev commented on #285
@nissimsan @OR13 can you use CURIEs (shortened URLs) in the schemas and generated context?

[2022-01-28 16:34] VladimirAlexiev commented on #284
@OR13 @nissimsan
Let me give you a very simple example:
[code]
So you want to use schema:Observation, but in measuredValue you want to have both value and unitCode (why didn't they think of that?).

But the above doesn't express that!
It mistakenly maps `measurement` (prop) to `tr:MeasuredValue` (class).

What you need is to map `measurement` to `schema:measuredValue`, and then add to transparency

[2022-01-28 16:39] VladimirAlexiev commented on #277
For a schema of that size you **need** inheritance. I think you need to build it in your tools.

Rather than `AgProduct ... include Product.yml` you need some sort of declaration `AgProduct inherits Product`, which would mix all Product fields into AgProduct.
Does JSON schema have such capability?

[2022-01-28 16:46] VladimirAlexiev commented on #270
@OR13 @nissimsan I used the context to quickly catch bugs of this sort.
Here's just a sampling. Do you disagree with some of them?
[code]

[2022-01-28 16:48] VladimirAlexiev commented on #270
@OR13 @nissimsan I'll try to join your meeting next Tue. I'm a w3c member but never used jitsi.

[2022-01-28 17:44] VladimirAlexiev commented on #289
Sounds like a very simple need.
But will you use ID or URL? #290

[2022-01-29 14:59] OR13 commented on #270
@VladimirAlexievyep, those are all bugs :)

cc @mprorock it was only a matter of time before someone came and shamed us like this ; )

In all seriousness, I think these can be addressed easily by using `@type` `@id` and updating the JSON Schema values.

[2022-01-29 15:02] OR13 commented on #277
it does, the problem is that the "context compiler" is not yet aware of how to build nested contexts that respect inheritance.

Which is a major reason why you see so many `type` definitions that are very close, and definitions many of the same properties the same way.

[2022-01-29 15:05] OR13 commented on #284
another bug : )

As I said, we area erroneously defining terms all over the place, when a better existing reference is available.

[2022-01-29 15:10] OR13 commented on #291
yep, I am willing to accept that we may very well need `1.1` features here.

I am just always looking for ways to reduce the surface and increase the off the shelf tooling support, but I think our work is complex enough to justify the cost of `1.1`.

[2022-01-29 15:52] mprorock commented on #270
+1

[2022-01-29 15:53] mprorock commented on #270
pretty happy to move the trace call off jitsi to google or similar - @OR13 @mkhraisha any objections? let's bring this up on the next call

[2022-01-30 19:50] OR13 opened #292 "Naive workflow defintions in JSON"
Example:

[code]

[2022-01-30 21:51] OR13 commented on #292
These graphs all build on the simple concept of "definition id", "instance id", and credentials and presentations that can refer to one or more of them.

[2022-01-31 13:12] nissimsan commented on #289
For this I was just thinking `ID`. So yes, very simple.

[2022-01-31 13:13] nissimsan commented on #289
Note that we typically use `relatedLink` for URLs.

[2022-01-31 22:51] VladimirAlexiev commented on #290
@nissimsan

1. But that's overly generic since it makes an intermediate node and uses a separate prop for the link type
2. It doesn't expect the target URL to be a resource in this graph (I.e. to have triples): `schema:Role` is used for that.

[2022-01-31 22:54] VladimirAlexiev commented on #289
@nissimsan Aren't both the source and target class typically in the scope of Traceability, thus expected to be resources (objects)?

[2022-02-01 00:48] VladimirAlexiev commented on #277
@OR13 gimme a link please.

I'm still learning JSON Schema, eg just learned it's evolving and there are 4 drafts in use (thought it's like FOAF, stuck in 0.1 forever)

[2022-02-01 01:09] VladimirAlexiev opened #295 "Consider using LinkML"
@OR13 @nissimsan
For both Traceability, Edi3, Uncefact you use JSON Schema (plus a bit) as your modeling language.

But that's not enough because it leaves a lot of the semantic aspects loose.

Before trade & logistics had heard of semantics, life science people were doing massive cross-institutional semantic KGs. So check this out:

https://linkml.io/
https://github.com/linkml
Google "linkml" in

[2022-02-01 01:20] VladimirAlexiev opened #296 "Modeling tool requirements"
@OR13 @nissimsan
We should start tomorrow's discussion with Requirements for your modeling tool/language. Hopefully #295 will cover them but we first need to agree what we need.
YAML (for ease if use) is a given.

Here's some list

- Modeling
  - Inheritance
    - Single, multiple
    - Overriding inherited props (covariant)
  - Local (per class) props
  - Union range? For better polymorphism
  -

[2022-02-01 02:10] VladimirAlexiev commented on #216
@nissimsan now that I know you are core in both repos, it's clearer in my head.

But shouldn't this task be in the other repo (or a sibling of it)? You JSONify uncefact stuff over there, and just reuse it over here?

[2022-02-01 09:25] nissimsan commented on #290
... Wasn't this another issue?

[2022-02-01 09:37] nissimsan commented on #295
LinkML looks awesome!

[2022-02-01 10:28] nissimsan commented on #216
@VladimirAlexiev the reason I think it better here is because of UN/CEFACTs traditional attitude: all terms must be UN/CEFACT terms, which isn't healthy for interoperability.
We have a more pragmatic approach here in Trace. The combination (schema definition + _some_ terms from CEFACT, remaining terms from other established vocab) is super powerful.

[2022-02-01 13:53] VladimirAlexiev commented on #295
https://linkml.io/linkml/intro/overview.html#we-eat-our-own-dogfood is pretty convincing: it's good enough to describe itself

[2022-02-01 13:55] VladimirAlexiev commented on #296
Some of the above comes from my experience designing SOML, which is a simple schema language to map RDF to GraphQL schemas: https://platform.ontotext.com/soml/index.html

We should compare the above list against https://linkml.github.io/linkml-model/docs/ (#295). It has more stuff eg Mixins.

[2022-02-01 14:12] OR13 commented on #296
these are very good suggestions, im stuggling to tell how this issue is different than #295 can we perhaps group these by 'what we get with link ML" vs. "what we might need custom code to support" ?

[2022-02-01 14:36] VladimirAlexiev commented on #296
Well, if you've already **selected** LinkML then we don't need to investigate this one.
But it's always good to have a list of things you **want** to evaluate tools you can **have**.

Eg I'm not sure how LinkML does RDF->JSONLD, in particular JSONLD Frame.

[2022-02-01 14:39] VladimirAlexiev commented on #290
Here's how LinkML does it: https://linkml.io/linkml/schemas/inlining.html.
It's a static flag in the schema.
I think it matches Traceability's need for fixed schemas.

[2022-02-01 14:41] VladimirAlexiev commented on #290
Here's how LinkML does it: https://linkml.io/linkml/schemas/inlining.html.
- It's a static flag in the schema: I think this matches Traceability's need for fixed schemas.
- But still doesn't absolve us of the responsibility to decide which classes (or occurrences) should be inlined (embedded), and which should be referenced

[2022-02-01 15:05] OR13 commented on #277
Before we keep hacking at this, it think we should pause and take a look at what LinkML will give us out of the box.

[2022-02-01 15:53] mkhraisha commented on #277
This is something that I found quite difficult to reconcile and work with in general, as Orie noted though theres just a huge number of issues right now, but it would absolutely by ideal if we can do what you're describing

[2022-02-01 16:10] msporny commented on #290
I will note that referencing external entities without a cryptographic hash of some sort doesn't guarantee that what you're linking to won't change. I don't know if this matters for the Traceability folks, but it is certainly an important thing to consider.

There are specs intended to address that concern:

https://datatracker.ietf.org/doc/html/draft-sporny-hashlink-07

[2022-02-01 16:56] VladimirAlexiev commented on #277
@OR13 Sorry, I meant where the JSON Schema spec defines inheritance

[2022-02-01 17:37] VladimirAlexiev commented on #290
Is it even a good idea?

Certainly seems important! I'm not fluent enough in Traceability use cases to figure out what is needed, and what should be signed.

@msporny Thanks, I knew about hashlink before: I guess it answers some of my question but I'd guess that's not the whole story.

And there's a more troubling consideration: if `<did:web:ontotext.com>` is (a semantic URL representing) a compan

[2022-02-01 19:16] VladimirAlexiev opened #297 "consider Allotrope data model for advanced Measurements"
@OR13 asked (at the QUDT repo? paraphrasing)

The state-of-the-art for advanced lab equipment measurements are the Allotrope data models. These include Tensile strength tests, Hardness tests, NMR, spectrography, and a big bunch of others that are beyond my understanding.

These represent metadata (instrument, analyst, run, conditions etc), data cube definitions (extending W3C CUBE) and mapping to

[2022-02-01 19:19] VladimirAlexiev commented on #297
Pros
- **the** standard in the sciences and lab measurements
- can represent large data cubes (numeric arrays, incl complex data cubes) that it wouldn't make sense to represent in JSON or RDF

Cons:
- learning curve

[2022-02-02 12:14] nissimsan opened #298 "Add Certificate examples for Steel License"
Waiting with this until the future tool is available.

[2022-02-02 15:32] OR13 commented on #277
Open API Spec v3: https://swagger.io/specification/

JSON Schema: https://json-schema.org/understanding-json-schema/reference/combining.html

(allOf / anyOf) relate to interitance)

[2022-02-02 15:37] VladimirAlexiev commented on #277
So what should one do to implement a multi-parent hierarchy `C1<C3, C2<C3, C3<C4`?
[code]

Note: GraphQL also doesn't have inheritance but has Interfaces.
So to implement inheritance, you need to collect all fields from all interfaces implemented by a class, and copy them to the class definition.

[2022-02-02 15:43] VladimirAlexiev opened #300 "consider W3C Cube for advanced Measurements"
@OR13
If #297 is not adopted as too complex,
consider W3C Cube (`qb`). It has
- Observations that relate to StructureDefinitions and comprise a Dataset
- Dimensions that define the Cartesian space of each observation (i.e. there can be an observation for each combination of the dimensions)
- Measures that provide the observed values at each Cartesian point
- Attributes that further qualify the obs

[2022-02-02 15:59] OR13 commented on #300
yeah, I totally agree re `schema:Observation` it was a first attempt at getting something that works for Ag, Oil, Steel and E-Commerce.

cc @mprorock

[2022-02-02 16:08] OR13 commented on #277
yes, typescript also has interface merging: https://www.typescriptlang.org/docs/handbook/declaration-merging.html

I am not sure if you are asking this, but I don't think JSON Schema supports multiple inheritance... very few languages do.

I think generally for data modeling, you have to balance design principles, sometimes DRY is less important than readability, or audit-ability.... In the blockc

[2022-02-02 20:20] VladimirAlexiev commented on #277
allOf is an array, so any number of parents should work.
I'm talking data not method inheritance , so I'm not sure what security problems that could bring. How is AgProduct.product.weight more secure than AgProduct.weight ?

[2022-02-08 18:45] mkhraisha opened #304 "Improve Schema.org Country Code"
update Schema.org Country Code to match the definition that is being added in #282

[2022-02-11 17:31] OR13 opened #306 "visualization guide"
https://lists.w3.org/Archives/Public/semantic-web/2022Feb/0029.html

[2022-02-15 18:43] #154 closed

[2022-02-15 18:45] OR13 commented on #175
We fixed this when we switched to open api, closing.

[2022-02-15 18:48] OR13 commented on #183
I think what we are doing in vocab is correct, and folks should use the interop tests here: https://github.com/w3c-ccg/traceability-interop/tree/main/docs/tutorials/revocation

to confirm revocation.

[2022-02-15 18:49] #183 closed

[2022-02-15 18:49] OR13 commented on #205
We did this.

[2022-02-15 18:49] #205 closed

[2022-02-15 18:51] OR13 commented on #209
This issue has been overtaken by events, we opened newer issues to track any active schema validation concerns after switching to OAS 3.

[2022-02-15 18:51] #209 closed

[2022-02-15 18:52] OR13 commented on #88
I believe we fixed this issue, and if not, we should address any remaining type issues on a case by case basis.

[2022-02-15 18:53] OR13 commented on #193
closing see the link above.

[2022-02-15 18:53] #193 closed

[2022-02-15 18:54] #214 closed, assigned to nobody

[2022-02-15 18:55] OR13 commented on #207
Closing, the pipeline is working.

[2022-02-15 18:55] #207 closed

[2022-02-15 18:57] OR13 commented on #178
@nissimsan can you give us an update on this issue?

[2022-02-15 19:00] OR13 opened #307 "Development readme is outdated"
https://github.com/w3c-ccg/traceability-vocab/blob/main/DEVELOPMENT.md

refers to $comment, massively outdated, etc.

[2022-02-15 19:01] TallTed commented on #160
offending text is now in https://github.com/w3c-ccg/traceability-vocab/blob/main/DEVELOPMENT.md#making-contributions

[2022-02-15 19:03] OR13 commented on #155
We think this is out of scope, perhaps the only part relevant to us would be informative guidance on governance, which is better addressed in a separate issue.

[2022-02-15 19:05] OR13 commented on #152
How can we move this along? should we tag it for a major version in the future?

[2022-02-15 19:06] OR13 commented on #217
We could use github projects, labels and releases and reserve some amount of call time to cover roadmap review moving forward.

[2022-02-15 19:07] OR13 commented on #153
We're seeking community feedback.

[2022-02-15 19:08] OR13 commented on #167
@mkhraisha any update on this?

[2022-02-15 19:10] OR13 commented on #185
Some conversations with the semantic wg:

https://lists.w3.org/Archives/Public/semantic-web/2022Feb/0027.html

[2022-02-15 19:11] OR13 commented on #185
We may also want to reach out to OAS3.0 folks to gather there feedback... and possibly the LinkML.

[2022-02-15 19:12] OR13 commented on #184
We did this.